{% extends '::frontend.html.twig' %}

{% block article -%}
    <h2 class="ml20 mb20">WorkGroup edit</h2>

    {% include "UnirCloudBoxBundle:Utils:deleteElement.html.twig" with {'name':entity.getName} %}
    {{ form(delete_form,{'attr':{'class':'hide delete-form'}}) }}
    {{ form_start(edit_form) }}
    <div class="row ml20 mr20">
        <div class="col-md-2">
            <div class="form-group">
                {{ form_row(edit_form.name, {'attr': {'class':'form-control'}}) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                {{ form_row(edit_form.description, {'attr': {'class':'form-control'}}) }}
            </div>
        </div>
        {% if edit_form.adminUser is defined %}
        <div class="col-md-2">
            <div class="form-group">
                {{ form_row(edit_form.adminUser, {'attr': {'class':'form-control chosenGeneric'}}) }}
            </div>
        </div>
        {% endif %}
        {% if edit_form.enterprise is defined %}
        <div class="col-md-2">
            <div class="form-group">
                {{ form_row(edit_form.enterprise, {'attr': {'class':'form-control chosenGeneric'}}) }}
            </div>
        </div>
        {% endif %}
    </div>

    <div class="row ml20 mr20 mt20">
        <div class="col-md-3">
            <a class="ml20  pull-left btn btn-info" href="{{ path('workGroup') }}">
                <i class="fa fa-share fa-flip-horizontal"></i> Back to the list
            </a>
        </div>
        <div class="col-md-2 col-md-offset-3">
            {{ form_row(edit_form.submit,{'attr':{'class':'btn btn-primary pull-right ml20 mr20'}}) }}
        </div>
    </div>
    {{ form_end(edit_form) }}


{% endblock %}
