{% extends '::frontend.html.twig' %}

{% block article -%}
    <div class="ml20 mr20">
        <h1 class="">
            Lista de WorkGroupos
            {% if not (app.security.granted("ROLE_OWNER")) %}
                de <strong>{{ get_company().getName() }}</strong>
                <small>#{{ get_user_workGroups(app.user)|length }}</small>
            {% else %}
                <small> #{{ entities|length }}</small>
            {% endif %}

            <a class="h4 btn btn-success pull-right" href="{{ path('workGroup_new') }}"><i class="fa fa-plus"> Nuevo Proyecto</i></a>
        </h1>

        <table class="records_list table table-striped table-responsive table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('workGroup_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                    <td>{{ entity.description }}</td>
                    <td>
                            <a class="btn btn-warning" href="{{ path('workGroup_edit', { 'id': entity.id }) }}"><span class="fa fa-edit"></span> Editar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
