{% extends '::frontend.html.twig' %}

{% block article -%}
    <h1 class="ml20 mb20">WorkGroup creation</h1>

    {{ form_start(form) }}
        <div class="row ml20 mr20">
            <div class="col-md-2">
                <div class="form-group">
                    {{ form_row(form.name, {'attr': {'class':'form-control'}}) }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form_row(form.description, {'attr': {'class':'form-control'}}) }}
                </div>
            </div>
        </div>
        <div class="row ml20 mr20">
            {% if form.enterprise is defined %}
            <div class="col-md-4">
                <div class="form-group">
                    {{ form_row(form.enterprise, {'attr': {'class':'form-control chosenGeneric'}}) }}
                </div>
            </div>
            {% endif %}


            <div class="col-md-2">
                <div class="form-group">
                    {{ form_row(form.adminUser, {'attr': {'class':'form-control chosenGeneric'}}) }}
                </div>
            </div>
        </div>

        <div class="row ml20 mr20 mt20">
            <div class="col-md-3">
                <a class="ml20  pull-left btn btn-info" href="{{ path('workGroup') }}">
                    <i class="fa fa-share fa-flip-horizontal"></i> Back to the list
                </a>
            </div>
            <div class="col-md-2 col-md-offset-1">
                {{ form_row(form.submit,{'attr':{'class':'btn btn-primary pull-right ml20 mr20'}}) }}
            </div>
        </div>
    {{ form_end(form) }}

{% endblock %}
