{% extends '::frontend.html.twig' %}

{% block article %}
    <div class="container-fluid showEntity showWorkGroup">
        <div class="row">
            <div class="col-md-12">
                <a class="ml20 pull-left btn btn-info" href="{{ path('workGroup') }}">
                    <i class="fa fa-share fa-flip-horizontal"></i> Back to the list
                </a>

                {#{{ form_start(delete_form) }}#}
                {#{{ form_row(delete_form.submit,{'attr':{'class':'btn btn-danger btn-xs pull-right mr20'}}) }}#}
                {#{{ form_end(delete_form) }}#}

                <a class="btn btn-warning pull-right mr20" href="{{ path('workGroup_edit', { 'id': entity.id }) }}">
                    <span class="fa fa-edit"></span> Edit
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1 class="ml20 mt10 pull-left">
                    {{ entity.name }}
                    {% if app.security.granted("ROLE_OWNER") %}
                        <small><i class="fa fa-building-o"></i> {{ entity.getEnterprise.getName }}</small>
                    {% endif %}
                </h1>
                <h5 class="pull-right mr20 mt20">
                    <small class="mr10">Admin: </small>
                    {% include "UnirCloudBoxBundle:Utils:avatarUser.html.twig" with {
                            'user':entity.getAdminUser, 'notGravAvatar':false, 'size':'normal', 'hide':false, 'css':'',
                        }
                    %}
                </h5>
                <h5 class="pull-right mr20 mt20"><small class="text-muted"><i class="fa fa-clock-o"> </i> {{ entity.getCreated|date("h:i d/m/Y") }}</small></h5>
            </div>
        </div>

        {% if entity.description != '' %}
            <div class="row ml0 mr0 ">
                <div class="col-md-12">
                    <p class="well well-sm">
                        {{ entity.description }}
                    </p>
                </div>
            </div>
        {% else %}
            <div class="row ml0 mr0 ">
                <div class="col-md-12">
                    <p class="well well-sm text-center ml20 mr20">
                        -- No Comment --
                    </p>
                </div>
            </div>
        {% endif %}

        <div class="row ml10 mr10">
            {% include "UnirCloudBoxBundle:Utils:filterWodsShowEntity.html.twig" with {"idName":"idWorkGroup" , "wodListName":""} %}

            <div class=" col-md-5">
                <h4>
                    <i class="fa fa-users"></i>
                    Users of WorkGroup
                    <a class="btn btn-warning btn-xs btnEditUsersWorkGroup pull-right"
                       data-id="{{ entity.id }}" data-name="{{ entity.name }}">
                        Edit users
                    </a>
                </h4>
                <div class="panel-group  accordionUsersOfWorkGroup" id="accordionUsersOfWorkGroup">
                    {#users members#}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordionUsersOfWorkGroup"
                                            href="#collapseUsersMembers">
                                       Users members <small>{{ entity.userMembers|length }}</small>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseUsersMembers" class="panel-collapse collapse">
                                {% for user in entity.userMembers  %}
                                    <p class="ml20 pl5 pr5">
                                        <a href="{{ path("user_profile_show",{"id":user.getId}) }}">
                                            <i class="fa fa-user {{ get_role_class(user) }}"> </i> {{ user.getUserName }}
                                        </a>
                                    </p>
                                {% else %}
                                    <p class="ml20 pl5 pr5 bg-warning">
                                        Any users member in the workGroup
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                    {# end members #}
                    {# groups memebers#}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordionUsersOfWorkGroup"
                                        href="#collapseGroupsMembers">
                                       Groups members <small>{{ entity.groupMembers|length }}</small>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseGroupsMembers" class="panel-collapse collapse">
                                {% for group in entity.groupMembers  %}
                                    <p class="ml20 pl5 pr5">
                                        {# TODO COMMENTED CUZ PAGE LINKED IS SO UGLY #}
                                        {# <a href="{{ path("group_show",{"id":group.getId}) }}"> #}
                                        <a href="#">
                                             </i> {{ group.name }}
                                        </a>
                                    </p>
                                {% else %}
                                    <p class="ml20 pl5 pr5 bg-warning">
                                        Any group members in the workGroup
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                    {# end groups members#}
                </div>
                <h4>Wod Groups</h4>
                <div class="panel-group  accordionWodsOfWorkGroup" id="accordionWodsOfWorkGroup">
                    {% include "UnirCloudBoxBundle:Utils:WodGroupAccordion.html.twig" with {'wodGroups':entity.getWodGroups()}%}
                </div>
            </div>
     </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        "@UnirCloudBoxBundle/Resources/public/js/wodsShowEntity.js"
        "@UnirCloudBoxBundle/Resources/public/js/showWorkGroup.js"
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}