<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    </button>
    <h3 class="modal-title" ng-bind-html="title"></h3>
</div>

<form name="{{ form.vars.name }}" data-form-save="formSubmit(formData)" novalidate autocomplete="off" ng-init="init()">

    {# body #}
    <div class="modal-body ml20 mr20">

        <div class="row mt20">

            {# name #}
            <div class="col-md-8">
                {{ form_row(form.name, { 'attr': {'tabindex': "1"} }) }}
            </div>


            {# workGroup #}
            <div class="col-md-4">
                {{ form_row(form.workGroup, {
                    'attr': {
                            'ng-options': 'workGroup.id as workGroup.name for workGroup in workGroups',
                            'tabindex': "2",
                        }
                }) }}
            </div>
        </div>

        <div class="row">

            {# Description #}
            <div class="col-md-12">
                {{ form_row(form.description, { 'attr': {'ui-tinymce': 'tinyMCEOptions', 'tabindex': "4"} }) }}
            </div>

        </div>


        {#users#}
        <div class="row mt20">

            {# users members #}
            <div class="col-md-6">
                {{ form_row(form.users, {
                        'attr': {
                            'ng-options': 'user.id as user.username for user in users',
                            'tabindex': "5",
                        }
                    })
                }}
            </div>

            {# group users members#}
            <div class="col-md-6">
                {{ form_row(form.groupMembers, {
                        'attr': {
                            'ng-options': 'group.id as group.name for group in userGroups',
                            'tabindex': "6",
                        }
                    })
                }}
            </div>



        </div>{# users #}

        {# Token #}
        <span class="form-token">
            {{ form_row(form._token, {
                    'attr': {
                        'class':'',
                        'data-value': form._token.vars.value,
                        'name':'token',
                    }
                })
            }}
        </span><!-- /.form-token -->
    </div>{# modal-body #}

    {# footer #}
    <div class="modal-footer">
        <input type="submit"
               class="btn btn-primary pull-right"
               tabindex="8"
               value="Apply"
               form-save-submit-button
                />

        <i class="pull-right fa fa-spinner fa-spin mr10 mt10" form-save-loading-spinner></i>

        <input type="button"
               class="btn btn-default pull-left"
               ng-click="cancel()"
               tabindex="9"
               value="Cancel"
               form-save-cancel-button
                />
    </div>

</form>