.avatarUser {
    background: #fff;
    color: #737881;
    display: inline-block;
    width: 15px;
    height: 15px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    -moz-box-shadow: 0 0 0 5px #f5f5f6;
    -webkit-box-shadow: 0 0 0 5px #f5f5f6;
    box-shadow: 0 0 0 5px #f5f5f6;
    line-height: 40px;
    font-size: 15px;
    margin: 0px 15px;
    /*float: left;*/
}
.avatarUser.avatarNormal, .avatarUser.timeLineIcon{
    width: 20px;
    height: 20px;
    margin-left: -6px;
    line-height: 20px;
    border-radius: 5px;
}
.avatarUser.avatarSmall{
    width: 15px;
    height: 15px;
    line-height: 16px;
    font-size: 12px;
    border-radius: 5px;
    margin-left: 0px;
    margin-right: 10px;
}
.avatarUser.avatarBig{
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 22px;
    margin-top: 12px;
    border-radius: 5px;
    margin-left: 0px;
    margin-right: 10px;
}
.avatarUser.avatarImg{
    vertical-align: bottom;
}


/** colors avatar */
/*
["avatar-darkblue",  "avatar-yellowgreen",  "avatar-brown",     "avatar-darkred",   "avatar-green",
"avatar-orangered", "avatar-dodgerblue",   "avatar-seagreen",   "avatar-chocolate", "avatar-indigo",
"avatar-steelblue", "avatar-saddlebrown",  "avatar-darkkhaki",  "avatar-teal",      "avatar-olive",
"avatar-cadetblue", "avatar-darkslategray","avatar-lightgreen", "avatar-plum",      "avatar-tan",
"avatar-limegreen", "avatar-lightsteelblue"]    */
.avatar-lightsteelblue{ background-color: #B0C4DE !important;color: #2F4F4F !important; }
.avatar-darkslategray{  background-color: #2F4F4F !important;color: #fff !important; }
.avatar-dodgerblue{     background-color: #1E90FF !important;color: #fff !important; }
.avatar-steelblue{      background-color: #4682B4 !important;color: #fff !important; }
.avatar-teal{           background-color: #008080 !important;color: #fff !important; }
.avatar-cadetblue{      background-color: #5F9EA0 !important;color: #fff !important; }
.avatar-darkblue{       background-color: #00008B !important;color: #fff !important; }
.avatar-indigo{         background-color: #4B0082 !important;color: #fff !important; }
.avatar-plum{           background-color: #DDA0DD !important;color: #2F4F4F !important; }
.avatar-brown{          background-color: #A52A2A !important;color: #fff !important; }
.avatar-darkred{        background-color: #8B0000 !important;color: #fff !important; }
.avatar-saddlebrown {   background-color: #8B4513 !important;color: #fff !important; }
.avatar-tan{            background-color: #D2B48C !important;color: #2F4F4F !important; }
.avatar-darkkhaki{      background-color: #BDB76B !important;color: #2F4F4F !important; }
.avatar-chocolate{      background-color: #D2691E !important;color: #fff !important; }
.avatar-orangered{      background-color: #FF4500 !important;color: #fff !important; }
.avatar-olive{          background-color: #808000 !important;color: #fff !important; }
.avatar-green{          background-color: #008000 !important;color: #fff !important; }
.avatar-seagreen{       background-color: #2E8B57 !important;color: #fff !important; }
.avatar-yellowgreen{    background-color: #9ACD32 !important;color: #fff !important; }
.avatar-limegreen{      background-color: #32CD32 !important;color: #fff !important; }
.avatar-lightgreen {    background-color: #90EE90 !important;color: #2F4F4F !important; }