@font-face {
    font-family: Lobster;
    src: url(../fonts/Lobster.ttf);
}
/**
*header
*/
.lobster-font{
    font-family: 'Lobster', Arial, Helvetica, sans-serif;
    font-size: 70px;
}
body { padding-top: 70px; padding-bottom: 65px; }
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}
/**tables*/
.records_list{

}
.records_list ul{
    list-style: none;
    padding-left: 0px;
}
.listWods td{
    padding: 6px 0px 6px 4px !important;
}
.listWods td.difficultyTableWod{
    width: 28px;
    padding: 6px 4px !important;
    text-align: center;
}
.listWods td.difficultyTableWod .fa-2x{
    width: 40px;
    padding: 8px 0px !important;
    text-align: center;
}
.tableList{
    overflow: auto;
    max-height: 550px;
}
.grey-tooltip + .tooltip > .tooltip-inner {background-color: #E8E8E8;}

.maxHeight500{
    max-height: 550px;
    overflow: auto;
}
.maxHeight300{
    max-height: 300px;
    overflow: auto;
}
.minHeight300{
    min-height: 300px;
}
.menuPopover{
    position: relative;
    display: inherit;
    visibility: visible;
    border: none;
    box-shadow: none;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.timeLineIcon{
    width: 20px;
    height: 20px;
    margin-left: -6px;
    border-radius: 0px;
    line-height: 20px;
    border-radius: 5px;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.timeLineIcon.avatarBig{
    width: 25px;
    height: 25px;
    margin-left: -12px;
    border-radius: 0px;
    line-height: 25px;
    border-radius: 5px;
    margin-top: 0px;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2{
    color: #000000;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: #EFF8FB ;
}

.listWods.table-nowrap td a{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/**
* multi select
*/
.ms-container{
    width: 100%;
}
.ms-container .ms-list {
    height: 300px;
    margin-bottom: 5px;
}
.ms-container .ms-list li:hover{
    cursor: pointer;
    color: #FFF;
    text-decoration: none;
    background-color: #08C;
}