{% extends '::frontend.html.twig' %}

{% block article %}
    <div class="col-lg-12">
        <img class="img-responsive" src="http://th09.deviantart.net/fs70/PRE/f/2012/353/a/1/you_shall_not_pass_by_anna_yaina-d5oiuj8.jpg">
    </div>
{% endblock %}
