<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    </button>
    <h3 class="modal-title" ng-bind-html="title"></h3>
</div>

<form name="{{ form.vars.name }}" data-form-save="formSubmit(formData)" novalidate autocomplete="off">

    {# body #}
    <div class="modal-body">


        <div class="row mt20">
            {# email #}
            <div class="col-md-8 col-md-offset-2 ">
                {{ form_row(form.email, { 'attr': {'tabindex': "1",} }) }}
            </div>
        </div>

        {% if form.Enterprise is defined %}
        <div class="row">
            {# Enterprise #}
            <div class="col-md-8 col-md-offset-2">
                {{ form_row(form.Enterprise, { 'attr': {'tabindex': "2", } }) }}
            </div>
        </div>
        {% endif %}

        {% if form.roles is defined %}
        <div class="row">
            {# role #}
            <div class="col-md-8 col-md-offset-2">
                <div class="checkbox">
                    <label>

                        {{ form_widget(form.roles, { 'attr': {'tabindex': "3",'class':'mAll0'} }) }}

                        {{ form_label(form.roles) }}
                    </label>
                </div>
            </div>
        </div>
        {% endif %}





        {# Token #}
        <span class="form-token">
            {{ form_row(form._token, {
            'attr': {
            'class':'',
            'data-value': form._token.vars.value,
            'name':'token',
            }
            })
            }}
        </span><!-- /.form-token -->

        {#<pre>{! formData | json !}</pre>#}
    </div>{# modal-body #}

    {# footer #}
    <div class="modal-footer">
        <input type="submit"
               class="btn btn-primary pull-right"
               tabindex="4"
               value="Apply"
               form-save-submit-button
                />

        <i class="pull-right fa fa-spinner fa-spin mr10 mt10" form-save-loading-spinner></i>

        <input type="button"
               class="btn btn-default pull-left"
               ng-click="cancel()"
               tabindex="5"
               value="Cancel"
               form-save-cancel-button
                />
    </div>

</form>