<div class="list-group listUsers">
    {% for user in users %}
        <a href="{{ path('user_profile_show', {'id':user.id}) }}" class="list-group-item">{{ user.username }}</a>
    {% else %}
        <a class="list-group-item singleHover itemUser userId">Any users in the group</a>
    {% endfor %}
</div>

