<div class="row ml10 mr10">
    <div class="col-md-6 col-md-offset-3">
        <h1 class="pull-left">Enterprise list</h1>
        <a class="cursor_pointer pull-right  btn btn-success mt20" ng-click="new()">
            <i class="fa fa-plus-circle text-success"></i>
            New Enterprise
        </a>

        {#<table class="records_list table table-responsive table-bordered mt10">#}
            {#<thead>#}
                {#<tr>#}
                    {#<th>Name</th>#}
                    {#<th>Actions</th>#}
                {#</tr>#}
            {#</thead>#}
            {#<tbody>#}
                {#<tr ng-repeat="company in companies">#}
                    {#<td>#}
                        {#<a &#123;&#35; ng-href="{! generateRoute('ng-show_enterprise',{ id: company.id}) !}" &#35;&#125; >#}
                            {#{! company.name !}#}
                        {#</a>#}
                    {#</td>#}
                    {#<td>#}
                        {#<a class="btn btn-warning"  &#123;&#35; ng-href="{! generateRoute('ng-edit_enterprise',{ id: company.id}) !}" &#35;&#125; >#}
                            {#<span class="fa fa-edit"></span>#}
                            {#Edit#}
                        {#</a>#}
                    {#</td>#}
                {#</tr>#}
            {#</tbody>#}
        {#</table>#}


        {# list companies #}
        <div class="row mt20">
            <div class="col-md-12">

                {#list#}
                <div class="list-group" >

                    {# item enterprise #}
                    <div class="list-group-item"  ng-repeat="enterprise in enterprises">
                        <div class="row">

                            {# name #}
                            <div class="col-md-11">
                                <a ng-href="{! generateRoute('ng_enterprise_show',{ id: enterprise.id}) !}"
                                   class="cursor_pointer">
                                    <h3 class="list-group-item-heading">{! enterprise.name !}</h3>
                                </a>
                            </div>

                            {#tools#}
                            <div class="col-md-1 dropdown">
                                <i class="fa fa-cog h4 mt0 mb0 mr0 ml0 cursor_pointer dropdown-toggle"
                                   dropdown data-toggle="dropdown"></i>
                                <ul class="dropdown-menu" >
                                    <li ng-click-load-replace="edit(enterprise)" class="cursor_pointer">
                                        <a>
                                            <i class="fa fa-edit"></i>
                                            Edit
                                        </a>
                                    </li>
                                    <li class="divider" ng-if="getMainData().user.isRoleOwner() || getMainData().user.isRoleAdmin()"></li>
                                    <li ng-click-load-replace="delete(enterprise)" class="cursor_pointer"
                                        ng-if="getMainData().user.isRoleOwner()">
                                        <a class="text-danger">
                                            <i class="fa fa-trash-o"></i>
                                            Delete
                                        </a>
                                    </li>
                                </ul>
                            </div>



                        </div>
                    </div>

                </div>{# list-group #}

            </div>
        </div>{# list companies row #}


    </div>
</div>

<!-- delete enterprise modal -->
<script type="text/ng-template" id="deleteEnterpriseConfirmationBox.tpl">
    {%
    include "UnirCloudBoxBundle:Ng/Template/modals:confirmationModal.html.twig"
    with {
    'confirmationTitle': 'Do you want to delete this enterprise?',
    'confirmationQuestion': 'You are going to delete this enterprise',
    'confirmationTextOk': 'Delete',
    'confirmationOkClass': 'btn-danger',
    'submitAction': 'ok()',
    'cancelAction': 'cancel()',
    }
    %}
</script><!-- delete enterprise modal -->
