{# view enterprise #}
<div class="row viewEnterprise">
    <div class="col-md-12">

        {# actions #}
        <div class="row"  ng-if="getMainData().user.isRoleOwner()">
            <div class="col-md-12">

                {# delete #}
                <div class="pull-right">
                    <button class="delete btn btn-danger mr10"
                            ng-click-load-replace="delete(enterprise)">
                        Delete
                    </button>
                </div>

                {# edit #}
                <div class="pull-right mr10">
                    <button class="edit btn btn-warning mr10"
                            ng-click-load-replace="edit(enterprise)">
                        Edit
                    </button>
                </div>

            </div>
        </div>{# actions #}

        {# header enterprise #}
        <div class="row">
            <div class="col-md-12">

                <h1 class="pull-left mt10 ml5 mb0 ">
                    <i class="fa fa-building-o"></i>
                    {! enterprise.name !}
                </h1>

                <h5 class="text-muted pull-right mt20 mr20">Created: {! enterprise.created|date:'longDate'!}</h5>

            </div>
        </div>{# header enterprise #}


        {#users of the enterprise#}
        <div class="row">

            {# list users #}
            <div class="col-md-4">

                <h3>Users</h3>
                {#list#}
                <div class="list-group maxHeight500" >
                    <a   ng-href="{! generateRoute('ng_user_show',{ id: user.id}) !}"
                            class="cursor_pointer displayBlock list-group-item"
                            ng-repeat="user in enterprise.users">
                        <my-user-icon class=""
                                      ng-name="user.username"
                                      ng-user-id="user.id"
                                      element="span"
                                      size="small">
                        </my-user-icon>
                        {! user.username !}
                    </a>
                </div>{# list-group #}

            </div>{# list users #}

            {#list group users#}
            <div class="col-md-4 ">

                <h3>Group users</h3>
                {#list#}
                <div class="list-group maxHeight500" >
                    <div class="list-group-item"  ng-repeat="group in enterprise.groups">
                        <h4 class="list-group-item-heading">
                            {! group.name !}
                        </h4>
                        <a  ng-href="{! generateRoute('ng_user_show',{ id: user.id}) !}"
                                class=" ml10 mt5 cursor_pointer displayBlock list-group-item-text"
                                ng-repeat="user in group.users">
                            <my-user-icon class=""
                                          ng-name="user.username"
                                          ng-user-id="user.id"
                                          element="span"
                                          size="small">
                            </my-user-icon>
                            {! user.username !}
                        </a>
                    </div>
                </div>{# list-group #}

            </div>{#list group users#}


            {#list workGroups#}
            <div class="col-md-4">

                <h3>WorkGroups</h3>
                {#list#}
                <div class="list-group maxHeight500" >
                    <a   ng-href="{! generateRoute('ng_workGroup_show',{ id: workGroup.id}) !}"
                         class="cursor_pointer displayBlock list-group-item"
                         ng-repeat="workGroup in enterprise.workGroups">
                        {! workGroup.name !}
                    </a>
                </div>{# list-group #}

            </div>{#list group users#}

        </div>


    </div>
</div>{# view workGroup #}

<!-- delete enterprise modal -->
<script type="text/ng-template" id="deleteEnterpriseConfirmationBox.tpl">
    {%
    include "UnirCloudBoxBundle:Ng/Template/modals:confirmationModal.html.twig"
    with {
    'confirmationTitle': 'Do you want to delete this enterprise?',
    'confirmationQuestion': 'You are going to delete this enterprise',
    'confirmationTextOk': 'Delete',
    'confirmationOkClass': 'btn-danger',
    'submitAction': 'ok()',
    'cancelAction': 'cancel()',
    }
    %}
</script><!-- delete enterprise modal -->
