<a data-toggle="dropdown" class="cursorPointer dropdown-toggle">
    <i class="fa fa-folder-open-o"></i>
    <strong>{{ get_selected_workGroup().getName() }}</strong>
    <span class="caret"></span>
</a>
<ul class="dropdown-menu maxHeight300">
    {% for workGroup in get_enterprise_workGroups(get_company()) %}
        <li>
            {%  if app.security.granted("ROLE_ADMIN") %}
                <a href="{{ path('select_workGroup',{"id":workGroup.getId}) }}"
                   title="{{ workGroup.getEnterprise.getName }}" data-toggle="tooltip" data-placement="top" >
                    <i class="avatarUser {{ get_user_color(workGroup.getEnterprise.getName) }} avatarSmall tooltipGeneric cursor_pointer"
                            title="{{ workGroup.getEnterprise.getName }}" data-toggle="tooltip" data-placement="top">
                        {{ workGroup.getEnterprise.getName|slice(0,1)|capitalize }}
                    </i>
                    {{ workGroup.getName }}
                </a>
            {% else %}
                <a href="{{ path('select_workGroup',{"id":workGroup.getId}) }}">{{ workGroup.getName }}</a>
            {% endif %}
        </li>
        {% if loop.last %}
            <li class="nav-divider"></li>
        {% endif %}
    {% endfor %}
        <li><a href="{{ path("workGroup") }}">Listar Todos</a></li>
</ul>

