{% for workGroup in get_user_workGroups(app.user) %}
    {% if loop.first %}
        <a class="dropdown-toggle pointer cursorPointer" data-toggle="dropdown">
            <i class="fa fa-folder-open-o"></i>
            <strong>{{ get_selected_workGroup().getName() }}</strong>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu maxHeight300" role="menu">
    {% endif %}
        <li><a href="{{ path('select_workGroup',{"id":workGroup.getId}) }}">{{ workGroup.getName }}</a></li>
    {% if loop.last %}
        </ul>
    {% endif %}
    {% else %}
         <a><strong><i class="fa fa-exclamation-circle"></i> No workGroups Available</strong></a>
{% endfor %}