<ul class="nav navbar-nav navbar-right">
    {% if  get_selected_workGroup() %}
        <li class="dropdown">
            {%  if app.security.granted("ROLE_ADMIN") %}
                {% include "UnirCloudBoxBundle:NavBar/workGroup_dropdown:admin_dropdown.html.twig" %}
            {% else %}
                {% include "UnirCloudBoxBundle:NavBar/workGroup_dropdown:user_dropdown.html.twig" %}
            {% endif %}
        </li>
     {% else %}
         <li><a><i class="fa fa-exclamation-circle"></i><strong> No hay Proyectos Disponibles</strong></a></li>
    {% endif %}
</ul>