{% extends '::frontend.html.twig' %}

{% block article %}
    {# filtros #}
    <div class="row ml10 mr10">
        <div class="col-md-12">
            {% include 'UnirCloudBoxBundle:Wod/includes:filtersWods.html.twig' %}
        </div>
    </div>
    <div class=" hide">
        <div class="form-group width100">
            <label>Group</label>
            <select name="group" class="groupSelect chosenGeneric mt10 filterWod hide" data-filter="idGroup">
                <option value="" class="id">All</option>
                {% for group in groups %}
                    <option value="{{ group.id }}" data-id="{{ group.id }}" class="id{{ group.id }}">{{ group.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    {# content #}
    <div class="row ml10 mr10">
        {# list wods#}
        <div class="col-md-4">
            <div class="tableList wodListContainer">
                {% include 'UnirCloudBoxBundle:Wod/includes:tableList.html.twig' %}
            </div>
        </div>

        {# preview#}
        <div class="col-md-8 contentPreviewWod">

        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
    "@UnirCloudBoxBundle/Resources/public/js/wodIndex.js"
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}