{% extends '::frontend.html.twig' %}

{% block article %}
    <div class="row ml10 mr10 wodListContainer">
        <div class="col-md-2 wodCounts">
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-default btn-xs pull-left mb5 ml0 collapseCounts tooltipGeneric"
                            title="Counts Wods" data-toggle="tooltip" data-placement="top">
                        &ll;
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-group listWodGroups">
                        {% include 'UnirCloudBoxBundle:Wod/includes:listGroupsCounts.html.twig' %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 listWodsDashboard">
            {% include 'UnirCloudBoxBundle:Wod/includes:list.html.twig' %}
        </div>
        <div class="col-md-6 contentPreviewWod minHeight300">
            {% block show %}

            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        "@UnirCloudBoxBundle/Resources/public/js/wodIndex.js"
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}