{% extends '::frontend.html.twig' %}

{% block article -%}
    <h1 class="pl20 mb20">Wod creation</h1>

    {{ form_start(form) }}
        <div class="row ml20 mr20">
            <div class="col-md-2">
                <div class="form-group">
                    {{ form_label(form.status) }}
                    {{ form_errors(form.status) }}
                    {{ form_widget(form.status, {'attr': {'class':'form-control chosenGeneric'}}) }}
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    {{ form_row(form.difficulty, {'attr': {'class':'form-control chosenGeneric'}}) }}
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    {{ form_row(form.estimationTime, {'attr': {'class':'form-control'},'input':'text'}) }}
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    {{ form_row(form.wodGroup, {'attr': {'class':'form-control chosenGeneric'}}) }}
                </div>
            </div>
        </div>

        <div class="row ml20 mr20">
            <div class="col-md-4">
                <div class="form-group">
                    {{ form_label(form.title) }}
                    {{ form_errors(form.title) }}
                    {{ form_widget(form.title, {'attr': {'class':'form-control'}}) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_row(form.description, {'attr': {'class':'form-control'}}) }}
                </div>
            </div>
        </div>

        <div class="row ml20 mr20">
            <div class="col-md-4">
                <div class="form-group">
                    {{ form_row(form.usersAssigned, {'attr': {'class':'form-control chosenGeneric'}}) }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form_row(form.usersFollower, {'attr': {'class':'form-control chosenGeneric'}}) }}
                </div>
            </div>
        </div>
        {{ form_row(form.submit,{'attr':{'class':'btn btn-primary pull-right ml20 mr20'}}) }}
    {{ form_end(form) }}

    <a class="ml20 pull-left" href="{{ path('wod') }}">
       &ll; Back to the list
    </a>
{% endblock %}