{% extends '::frontend.html.twig' %}

{% block article -%}
    <div class="row viewWod" >
        <div class="col-md-8 col-md-offset-2">
            <div class="row mb10">
                <div class="col-md-12">
                    <a class="ml0 pull-left btn btn-info" href="{{ path('wod') }}">
                        <i class="fa fa-share fa-flip-horizontal"></i> Back to the list
                    </a>
                    <div class="pull-right ">
                        {% include "UnirCloudBoxBundle:Utils:deleteElement.html.twig" with {'name':wod.title,'classBtn':'mAll0'} %}
                        {{ form(delete_form,{'attr':{'class':'hide delete-form'}}) }}
                    </div>
                    {% if edit %}
                        <div class="pull-right">
                            <button class="btn btn-warning mr10  editTitleAndDescription"
                                    data-slug="{{ wod.slug }}" data-field="titleAndDescription" data-idwod="{{ wod.id }}"
                                    data-description="{{ wod.description | nl2br }}" data-title="{{ wod.title }}" data-view="{{ wod.getAvailableViewers }}"
                                    >
                                <i class="fa fa-edit"></i> Edit
                            </button>
                        </div>
                        {%  set isAssigned = false %}
                        {% for user in wod.usersAssigned %}
                            {% if app.getUser == user %}
                                {%  set isAssigned = true %}
                            {% else %}
                            {% endif %}
                        {% else %}
                        {% endfor %}
                        {% if isAssigned == true %}
                            <div class="pull-right ">
                                <button class="assignMe btn btn-default mr10" data-slug="{{ wod.slug }}" data-idwod="{{ wod.id }}"
                                        data-field="unassignMe">
                                    Unassign me
                                </button>
                            </div>
                        {% else %}
                            <div class="pull-right ">
                                <button class="assignMe btn btn-default mr10" data-slug="{{ wod.slug }}" data-idwod="{{ wod.id }}"
                                        data-field="assignMe">
                                    Assign me
                                </button>
                            </div>
                        {% endif %}
                    {% endif %}

                    {%  set isFollow = false %}
                    {% for user in wod.usersFollower %}
                        {% if app.getUser == user %}
                            {%  set isFollow = true %}
                        {% else %}
                        {% endif %}
                    {% else %}
                    {% endfor %}
                    {% if isFollow == true %}
                        <div class="pull-right ">
                            <button class="assignMe btn btn-default mr10" data-slug="{{ wod.slug }}" data-idwod="{{ wod.id }}"
                                    data-field="unfollowMe">
                                Unfollow
                            </button>
                        </div>
                    {% else %}
                        <div class="pull-right ">
                            <button class="assignMe btn btn-default mr10" data-slug="{{ wod.slug }}" data-idwod="{{ wod.id }}"
                                    data-field="followMe">
                                Follow
                            </button>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="pull-left mt10 mb0 elementHover wodTitle">
                        <span class="bg-{{ get_wod_difficulty_class(wod.difficulty) }} popoverGeneric cursor_pointer h3 pl5 mr10 br5 text-center borderSolidSilver"
                                {% if edit %}
                                      data-difficulties="{{ get_wod_difficulties()|json_encode() }}" data-statuses="{{ get_wod_statuses()|json_encode() }}"
                                      data-difficulty="{{ wod.difficulty }}" data-status="{{ wod.status }}"
                                      data-container="body" data-toggle="popover"  data-html="true" data-placement="bottom"
                                      data-content='
                                          <ul class="dropdown-menu menuPopover" role="menu" data-idwod="{{ wod.id }}" data-slug="{{ wod.slug }}">
                                             {% for status in get_wod_statuses() %}
                                                 <li><a class="editWodDropdown cursor_pointer" data-value="{{ status }}" data-field="status">
                                                         {{ status }}
                                                         {% if status==wod.getStatus %}
                                                             <i class="fa fa-check"></i>
                                                         {% endif %}
                                                     </a>
                                                 </li>
                                             {% endfor %}
                                            <li class="divider"></li>
                                            {% for difficulty in get_wod_difficulties() %}
                                                <li>
                                                        <a  class="editWodDropdown cursor_pointer" data-value="{{ difficulty }}" data-field="difficulty">
                                                            {{ difficulty }}
                                                            {% if difficulty==wod.getDifficulty %}
                                                                <i class="fa fa-check"></i>
                                                            {% endif %}
                                                        </a>
                                                </li>
                                            {% endfor %}
                                            </ul>'
                                    {% endif %}
                                >
                            <span class="{{ get_wod_status_icon(wod.status) }} tooltipGeneric cursor_pointer"
                                  title="{{ wod.difficulty }}, {{ wod.status }}"  data-toggle="tooltip" data-placement="top">
                            </span>
                        </span>
                        {{ wod.title }}
                        <small class=" editWodGroup h6 text-muted cursor_pointer elementHover tooltipGeneric"
                               title="Edit wod group"  data-toggle="tooltip" data-placement="top"
                               data-idwod="{{ wod.id }}" data-slug="{{ wod.slug }}"  data-value="{{ wod.wodGroup.id }}" data-field="wodGroup">
                            ( {{ wod.wodGroup.name }} )
                            <span class="cursor_pointer fa fa-edit text-info elementShow">
                            </span>
                        </small>
                    </h1>

                    <div class="hide btn-group pull-right mt20" data-idwod="{{ wod.id }}" data-slug="{{ wod.slug }}"  data-titlewod="{{ wod.difficulty }}" data-field="difficulty">
                        <button type="button" class="btn btn-{{ get_wod_difficulty_class(wod.difficulty) }} dropdown-toggle pl5 pr5 pt0 pb0" data-toggle="dropdown">
                            {{ wod.difficulty }} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" class="editWodDropdown" data-value="Minor" data-field="difficulty">Minor</a></li>
                            <li><a href="#" class="editWodDropdown" data-value="Low" data-field="difficulty">Low</a></li>
                            <li><a href="#" class="editWodDropdown" data-value="Normal" data-field="difficulty">Normal</a></li>
                            <li><a href="#" class="editWodDropdown" data-value="High" data-field="difficulty">High</a></li>
                            <li><a href="#" class="editWodDropdown" data-value="Critical" data-field="difficulty">Critical</a></li>
                        </ul>
                    </div>
                    <div class="hide btn-group pull-right ml10 mr10 mt20" data-idwod="{{ wod.id }}" data-slug="{{ wod.slug }}"  data-titlewod="{{ wod.status }}" data-field="status">
                        <button type="button" class="btn btn-default dropdown-toggle pl5 pr5 pt0 pb0" data-toggle="dropdown">
                            {{ wod.status }} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" class="editWodDropdown" data-value="Open" data-field="status">Open</a></li>
                            <li><a href="#" class="editWodDropdown" data-value="In progress" data-field="status">In progress</a></li>
                            <li><a href="#" class="editWodDropdown" data-value="Resolved" data-field="status">Resolved</a></li>
                            <li><a href="#" class="editWodDropdown" data-value="Closed" data-field="status">Closed</a></li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="row mb10">
                <div class="col-md-12">
                    <span class="h5 text-muted"><i class="fa fa-clock-o"></i> {{ wod.created|date("h:m d/M/Y") }}</span>
                    <span class="h5 text-muted ml10">
                        {% include "UnirCloudBoxBundle:Utils:avatarUser.html.twig" with {
                                'user':wod.creationUser, 'notGravAvatar':false, 'size':'normal', 'hide':false, 'css':'',
                            }
                        %}
                    </span>
                    {% if wod.getAvailableViewers == 'all' %}
                    <h5 class="pull-right ml10 mt5 mr20"><small>View by: <span class="viewByOfWod">All</span></small></h5>
                    {% elseif wod.getAvailableViewers == 'assigned_and_followers' %}
                    <h5 class="pull-right ml10 mt5 mr20"><small>View by: <span class="viewByOfWod">Assigned and follower</span></small></h5>
                    {% elseif wod.getAvailableViewers == 'assigned' %}
                    <h5 class="pull-right ml10 mt5 mr20"><small>View by: <span class="viewByOfWod">Assigned</span></small></h5>
                    {% endif %}
                </div>

            </div>
            {% if wod.description != '' %}
                <div class="row mb0">
                    <div class="col-md-12">
                        <p class="well well-sm wodDescription mb10">
                            {{ wod.description|nl2br }}
                        </p>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-md-12">
                        <p class="well well-sm wodDescription text-center">
                            -- No Comment --
                        </p>
                    </div>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-md-12">
                    <div class="usersAssigned text-muted">
                        <p class="text-right h5 elementHover WodUsersAssigned">
                            <span class="mr10">Users Assigned:</span>
                            {%  set numUsers = 8 %}
                            {% for user in wod.usersAssigned %}
                                {% if loop.index > numUsers %} {% set hideUser = true %} {% else %} {% set hideUser = false %} {% endif %}
                                {% include "UnirCloudBoxBundle:Utils:avatarUser.html.twig" with {
                                        'user':user, 'notGravAvatar':false, 'size':'big', 'hide':hideUser, 'css':'',
                                    }
                                %}
                            {% else %}
                                Any user
                            {% endfor %}
                            {% if wod.usersAssigned|length > numUsers %}
                                {% include "UnirCloudBoxBundle:Utils:avatarUser.html.twig" with {
                                        'text':'...', 'notGravAvatar':false, 'size':'big', 'css':'viewAllUsers'
                                    }
                                %}
                            {% endif %}
                            {% if edit %}
                                <span class="editUsersWod fa fa-edit text-info tooltipGeneric cursor_pointer elementShow"
                                      title="Edit users Assigned" data-toggle="tooltip" data-placement="top"
                                      data-idwod="{{ wod.id }}" data-value="{{ usersAssigned }}" data-field="usersAssigned"
                                      data-users="{{ users }}" data-slug="{{ wod.slug }}" >
                                </span>
                            {% endif %}
                        </p>
                    </div>
                    <div class="usersFollower text-muted">
                        <p class="text-right WodUsersFollower elementHover h5">
                            <span class="mr10">Users Follower:</span>
                            {%  set numUsers = 8 %}
                            {% for user in wod.usersFollower %}
                                {% if loop.index > numUsers %} {% set hideUser = true %} {% else %} {% set hideUser = false %} {% endif %}
                                {% include "UnirCloudBoxBundle:Utils:avatarUser.html.twig" with {
                                        'user':user, 'notGravAvatar':false, 'size':'big', 'hide':hideUser, 'css':'',
                                    }
                                %}
                            {% else %}
                                Any user
                            {% endfor %}
                            {% if wod.usersFollower|length > numUsers %}
                                {% include "UnirCloudBoxBundle:Utils:avatarUser.html.twig" with {
                                        'text':'...', 'notGravAvatar':false, 'size':'big', 'css':'viewAllUsers'
                                    }
                                %}
                            {% endif %}
                            {% if edit %}
                                <span class="editUsersWod fa fa-edit text-info tooltipGeneric cursor_pointer elementShow"
                                      title="Edit users Assigned" data-toggle="tooltip" data-placement="top"
                                      data-idwod="{{ wod.id }}" data-value="{{ usersFollower }}" data-field="usersFollower"
                                      data-users="{{ users }}"  data-slug="{{ wod.slug }}" >
                                </span>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>

            <div class="wodComments pl10 pr10">
                {% include "UnirCloudBoxBundle:Wod/includes:comments.html.twig" with {'comments':history} %}
            </div>
            {% if edit %}
                <hr>
                <div class="newCommentDiv" data-idwod="{{ wod.id }}"  data-slug="{{ wod.slug }}" >
                    {% if (app.user != null )  %}
                        {{ form_start(formCom) }}
                        <div class="hide">
                            {#{{ form_row(formCom.user, {'attr': {'class':'form-control userId'}}) }}#}
                            {{ form_row(formCom.wod, {'attr': {'class':'form-control wodId'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(formCom.comment, {'attr': {'class':'form-control wodComment', 'rows':'3'},'label':'New comment'}) }}
                        </div>
                        {{ form_row(formCom.submit,{'attr':{'class':'btn btn-primary pull-right ml20 mr20'},"label":"Añadir Comentario" }) }}
                        {{ form_end(formCom) }}
                    {% else %}
                        <p>You must be logged in to post comments</p>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
