<!DOCTYPE html>
<html  ng-app="mainApp" ng-controller="mainApp.mainCtrl" lang="{{ app.request.locale }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title ng-bind="getTitle()">CloudBoxManager</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        {% block stylesheets %}
            {% stylesheets filter="cssrewrite"
            "bundles/unircloudbox/bower/bootstrap/dist/css/bootstrap.min.css"
            "bundles/unircloudbox/bower/font-awesome/css/font-awesome.min.css"
            "bundles/unircloudbox/bower/chosen/chosen.css"
            "bundles/unircloudbox/bower/multiple-select/multiple-select.css"
            "bundles/unircloudbox/bower/angular-loading-bar/build/loading-bar.css"
            "bundles/unircloudbox/bower/angular-bootstrap-datetimepicker/src/css/datetimepicker.css"

            "bundles/unircloudbox/css/ng/avatarUser.css"
            "bundles/unircloudbox/css/ng/classists.css"
            "bundles/unircloudbox/css/ng/custom.css"
            "bundles/unircloudbox/css/ng/wods.css"
            "bundles/unircloudbox/css/ng/noty.css"


            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="img/ico" href="/favicon.ico" />
    </head>
    <body ng-show-notifications>

        {# navbar #}
        <header ng-controller="mainApp.navBar.mainCtrl">{% include "UnirCloudBoxBundle:Ng/Template:navbar.html.twig" %}</header>

        {# body#}
        <div class="container-fluid">
            <ng-view class="ngViewPage"></ng-view>
        </div>

        {# footer #}
        <footer>{% include "UnirCloudBoxBundle:Ng/Template:footer.html.twig" %}</footer>



    {% block javascripts %}

        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>

        {% javascripts
        "@UnirCloudBoxBundle/Resources/public/bower/moment/min/moment-with-locales.js"
        "@UnirCloudBoxBundle/Resources/public/bower/jquery/dist/jquery.js"
        "@UnirCloudBoxBundle/Resources/public/bower/bootstrap/dist/js/bootstrap.js"
        "@UnirCloudBoxBundle/Resources/public/bower/noty/js/noty/packaged/jquery.noty.packaged.js"
        "@UnirCloudBoxBundle/Resources/public/bower/chosen/chosen.jquery.js"
        "@UnirCloudBoxBundle/Resources/public/bower/multiple-select/jquery.multiple.select.js"
        "@UnirCloudBoxBundle/Resources/public/bower/tinymce/tinymce.min.js"
        "@UnirCloudBoxBundle/Resources/public/bower/Chart.js/Chart.js"


        "@UnirCloudBoxBundle/Resources/public/bower/angular/angular.js"
        "@UnirCloudBoxBundle/Resources/public/bower/angular-animate/angular-animate.js"
        "@UnirCloudBoxBundle/Resources/public/bower/angular-resource/angular-resource.js"
        "@UnirCloudBoxBundle/Resources/public/bower/angular-loading-bar/build/loading-bar.js"
        "@UnirCloudBoxBundle/Resources/public/bower/angular-moment/angular-moment.js"
        "@UnirCloudBoxBundle/Resources/public/bower/angular-bootstrap/ui-bootstrap-tpls.js"
        "@UnirCloudBoxBundle/Resources/public/bower/angular-chosen-localytics/chosen.js"
        "@UnirCloudBoxBundle/Resources/public/bower/angular-ui-tinymce/src/tinymce.js"
        "@UnirCloudBoxBundle/Resources/public/bower/angular-sanitize/angular-sanitize.js"
        "@UnirCloudBoxBundle/Resources/public/bower/angular-local-storage/dist/angular-local-storage.js"
        "@UnirCloudBoxBundle/Resources/public/bower/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"
        "@UnirCloudBoxBundle/Resources/public/lib/angular/plugins/notifications.plugin.js"
        "@UnirCloudBoxBundle/Resources/public/lib/angular/plugins/multipleSelect.plugin.js"
        "@UnirCloudBoxBundle/Resources/public/lib/angular/plugins/form.plugin.js"
        "@UnirCloudBoxBundle/Resources/public/lib/angular/plugins/specialClicks.directive.js"
        "@UnirCloudBoxBundle/Resources/public/lib/angular/plugins/httpExtended.plugin.js"
        "@UnirCloudBoxBundle/Resources/public/lib/angular/plugins/ngRoute.extension.js"
        "@UnirCloudBoxBundle/Resources/public/lib/angular/plugins/clock.directive.js"


        "@UnirCloudBoxBundle/Resources/public/app/app.js"
        "@UnirCloudBoxBundle/Resources/public/app/directives.js"
        "@UnirCloudBoxBundle/Resources/public/app/controllers.js"
        "@UnirCloudBoxBundle/Resources/public/app/filters.js"
        "@UnirCloudBoxBundle/Resources/public/app/routes.js"


        "@UnirCloudBoxBundle/Resources/public/app/services/activitiesService.js"
        "@UnirCloudBoxBundle/Resources/public/app/services/wodsService.js"
        "@UnirCloudBoxBundle/Resources/public/app/services/usersService.js"
        "@UnirCloudBoxBundle/Resources/public/app/services/timerService.js"
        "@UnirCloudBoxBundle/Resources/public/app/services/helperService.js"
        "@UnirCloudBoxBundle/Resources/public/app/services/enterpriseService.js"
        "@UnirCloudBoxBundle/Resources/public/app/services/workGroupService.js"
        "@UnirCloudBoxBundle/Resources/public/app/services/wodGroupService.js"


        "@UnirCloudBoxBundle/Resources/public/app/directives/dashboard/tableWodsPopover.directive.js"
        "@UnirCloudBoxBundle/Resources/public/app/directives/dashboard/textEllipsisMultiline.js"
        "@UnirCloudBoxBundle/Resources/public/app/directives/wods/tableWods.popover.directive.js"
        "@UnirCloudBoxBundle/Resources/public/app/directives/wods/wod.popover.directive.js"
        "@UnirCloudBoxBundle/Resources/public/app/directives/wods/timeline.directive.js"
        "@UnirCloudBoxBundle/Resources/public/app/directives/utils/myDoughnutChart.js"
        "@UnirCloudBoxBundle/Resources/public/app/directives/utils/whenScrolledDirective.js"




        "@UnirCloudBoxBundle/Resources/public/app/controllers/dashboard/dashboard.controller.js"
        "@UnirCloudBoxBundle/Resources/public/app/controllers/errors/errors.noWorkGroups.controller.js"
        "@UnirCloudBoxBundle/Resources/public/app/controllers/modals/confirmation.controller.js"
        "@UnirCloudBoxBundle/Resources/public/app/controllers/navbar/navbar.controller.js"
        "@UnirCloudBoxBundle/Resources/public/app/controllers/timer/timer.close.controller.js"
        "@UnirCloudBoxBundle/Resources/public/app/controllers/wods/wods.edit.controller.js"
        "@UnirCloudBoxBundle/Resources/public/app/controllers/wods/wods.editUsersAssigned.controller.js"
        "@UnirCloudBoxBundle/Resources/public/app/controllers/wods/wods.editUsersFollower.controller.js"
        "@UnirCloudBoxBundle/Resources/public/app/controllers/wods/wods.main.controller.js"
        "@UnirCloudBoxBundle/Resources/public/app/controllers/wods/wods.new.controller.js"
        "@UnirCloudBoxBundle/Resources/public/app/controllers/enterprise/enterprise.edit.controller.js"
        "@UnirCloudBoxBundle/Resources/public/app/controllers/enterprise/enterprise.list.controller.js"
        "@UnirCloudBoxBundle/Resources/public/app/controllers/enterprise/enterprise.new.controller.js"
        "@UnirCloudBoxBundle/Resources/public/app/controllers/enterprise/enterprise.show.controller.js"
        "@UnirCloudBoxBundle/Resources/public/app/controllers/workGroup/workGroup.edit.controller.js"
        "@UnirCloudBoxBundle/Resources/public/app/controllers/workGroup/workGroup.list.controller.js"
        "@UnirCloudBoxBundle/Resources/public/app/controllers/workGroup/workGroup.new.controller.js"
        "@UnirCloudBoxBundle/Resources/public/app/controllers/workGroup/workGroup.show.controller.js"
        "@UnirCloudBoxBundle/Resources/public/app/controllers/wodGroup/wodGroup.edit.controller.js"
        "@UnirCloudBoxBundle/Resources/public/app/controllers/wodGroup/wodGroup.list.controller.js"
        "@UnirCloudBoxBundle/Resources/public/app/controllers/wodGroup/wodGroup.new.controller.js"
        "@UnirCloudBoxBundle/Resources/public/app/controllers/user/user.changePassword.controller.js"
        "@UnirCloudBoxBundle/Resources/public/app/controllers/user/user.edit.controller.js"
        "@UnirCloudBoxBundle/Resources/public/app/controllers/user/user.list.controller.js"
        "@UnirCloudBoxBundle/Resources/public/app/controllers/user/user.new.controller.js"
        "@UnirCloudBoxBundle/Resources/public/app/controllers/user/user.show.controller.js"
        "@UnirCloudBoxBundle/Resources/public/app/controllers/user/userGroup.edit.controller.js"
        "@UnirCloudBoxBundle/Resources/public/app/controllers/user/userGroup.new.controller.js"




        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script type="text/javascript" src="{{ asset("bundles/unircloudbox/bower/ngLocale/angular-locale_" ~ app.request.locale ~ ".js") }}"></script>


        {# translations #}

        <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'generic' }) }}"></script>
        <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'formLabels' }) }}"></script>
    {% endblock %}
    <script type="text/javascript">
        (function(){
            angular.module('mainApp').run(function(amMoment){
                amMoment.changeLanguage('{{ app.request.locale }}');
            });
        })();
    </script>
    <script type="text/ng-template" id="/timeline.tpl">
        {% include "UnirCloudBoxBundle:Ng/Template/timeline:timeline.html.twig" %}
    </script>

    <script type="text/ng-template" id="/timelineWod.tpl">
        {% include "UnirCloudBoxBundle:Ng/Template/timeline:timelineWod.html.twig" %}
    </script>
    <script type="text/ng-template" id="/table-wods.tpl">
        {% include 'UnirCloudBoxBundle:Ng:Template/wod/tableListWods.html.twig' %}
    </script>
    <script type="text/ng-template" id="/table-wods-dashboard.tpl">
        {% include 'UnirCloudBoxBundle:Ng:Template/wod/tableListWodsDashboard.html.twig' %}
    </script>

        {##########################
        ### modales create new ####
        ##########################}
        <script type="text/ng-template" id="create-wod-modal.tpl">
            {{ wod_form()|raw }}
        </script>
        <script type="text/ng-template" id="create-wod-group-modal.tpl">
            {{ wodgroup_form()|raw }}
        </script>
        <script type="text/ng-template" id="create-workGroup-modal.tpl">
            {{ workGroup_form()|raw }}
        </script>
        <script type="text/ng-template" id="create-enterprise-modal.tpl">
            {{ enterprise_form()|raw }}
        </script>
        <script type="text/ng-template" id="create-user-modal.tpl">
            {{ user_form()|raw }}
        </script>


    </body>
</html>
