<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}CloudBox Manager{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets filter="cssrewrite"
                "bundles/unircloudbox/css/bootstrap.css"
                "bundles/unircloudbox/css/font-awesome.css"
                "bundles/unircloudbox/css/multiple-select.css"
                "bundles/unircloudbox/css/multi-select.css"
                "bundles/unircloudbox/css/chosen.css"
                "bundles/unircloudbox/css/dottedTimeline.css"
                "bundles/unircloudbox/css/avatarUser.css"
                "bundles/unircloudbox/css/classists.css"
                "bundles/unircloudbox/css/custom.css"
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body id="{% block bodyId '' %}">

        <div id="bodyContain">
            {% block body %}{% endblock %}
        </div>


        {% block footer %}{% endblock %}


        {% block javascripts %}
            {% javascripts
                "@UnirCloudBoxBundle/Resources/public/js/jquery-1.11.1.min.js"
                "@UnirCloudBoxBundle/Resources/public/js/bootstrap.js"
                "@UnirCloudBoxBundle/Resources/public/js/chosen.jquery.js"
                "@UnirCloudBoxBundle/Resources/public/js/bootbox.js"
                "@UnirCloudBoxBundle/Resources/public/js/chart.js"
                "@UnirCloudBoxBundle/Resources/public/js/strings.js"
                "@UnirCloudBoxBundle/Resources/public/js/jquery.multiple.select.js"
                "@UnirCloudBoxBundle/Resources/public/js/jquery.multi-select.js"
                "@UnirCloudBoxBundle/Resources/public/js/jquery.noty.js"
                "@UnirCloudBoxBundle/Resources/public/js/main.js"
                "@UnirCloudBoxBundle/Resources/public/js/generic.js"
                "@UnirCloudBoxBundle/Resources/public/js/viewWod.js"
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
