{% extends '::base.html.twig' %}

{% block body %}
<header>
    {% include "UnirCloudBoxBundle:NavBar:navbar.html.twig" %}
</header>
<article>
    {% block article %}
    {% endblock %}
</article>
<aside>
    {% block aside %}
        <section id="login">
        </section>
    {% endblock %}
</aside>
{% endblock %}
{% block footer %}
    {% include "UnirCloudBoxBundle:Default:footer.html.twig" %}
{% endblock %}
