
{#  template form synfony without angular  #}
{% form_theme form 'UnirCloudBoxBundle:Ng/Form:form_div_layout_no_angular.html.twig' %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}CloudBox Manager Public{% endblock %}</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    {% block stylesheets %}
        {% stylesheets filter="cssrewrite"
            "bundles/unircloudbox/bower/bootstrap/dist/css/bootstrap.min.css"
            "bundles/unircloudbox/bower/font-awesome/css/font-awesome.min.css"
            "bundles/unircloudbox/css/ng/classists.css"
            "bundles/unircloudbox/css/ng/custom.css"
            "bundles/unircloudbox/css/ng_not/main_no_angular.css"
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
</head>
<body id="{% block bodyId '' %}">

<div id="bodyContain">
    {% block body %}{% endblock %}
</div>


{% block footer %}{% endblock %}


{% block javascripts %}
    {% javascripts
        "@UnirCloudBoxBundle/Resources/public/js/jquery-1.11.1.min.js"
        "@UnirCloudBoxBundle/Resources/public/js/bootstrap.js"
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>