<div class="row ml10 mr10 workGroupsListAngular">
    <div class="col-md-8 col-md-offset-2">
        <h1 class="pull-left mb20">
            WorkGroup list
            <span ng-if="getMainData().user.isRoleOwner() || getMainData().user.isRoleAdmin()">
                de <strong>{! getMainData().selected_company.name !}</strong>
            </span>
            <small>#{! workGroups.length !}</small>
        </h1>
        <a class="cursor_pointer pull-right  btn btn-success mt20 mb20" ng-click-load-replace="new()">
            <i class="fa fa-plus-circle text-success"></i>
            New WorkGroup
        </a>

        {#<table class="records_list table table-responsive table-bordered mt10">#}
            {#<thead>#}
                {#<tr>#}
                    {#<th>Name</th>#}
                    {#<th>Description</th>#}
                    {#<th>Actions</th>#}
                {#</tr>#}
            {#</thead>#}
            {#<tbody>#}
                {#<tr ng-repeat="workGroup in workGroups">#}
                    {#<td>#}
                        {#<a ng-href="{! generateRoute('ng_workGroup_show',{ id: workGroup.id}) !}"  >#}
                            {#{! workGroup.name !}#}
                        {#</a>#}
                    {#</td>#}
                    {#<td>{! workGroup.description !}</td>#}
                    {#<td>#}
                        {#<a class="btn btn-warning" >#}
                            {#<span class="fa fa-edit"></span>#}
                            {#Edit#}
                        {#</a>#}
                    {#</td>#}
                {#</tr>#}
            {#</tbody>#}
        {#</table>#}


        {#<hr>#}


        {# list workGroups #}
        <div class="row mt20">
            <div class="col-md-12">

                {#list#}
                <div class="list-group" >

                    {# item porject #}
                    <div class="list-group-item"  ng-repeat="workGroup in workGroups">
                        <div class="row">

                            {#title and description#}
                            <div class="col-md-11">
                                <a ng-href="{! generateRoute('ng_workGroup_show',{ id: workGroup.id}) !}" >
                                    <h3 class="list-group-item-heading">{! workGroup.name !}</h3>
                                </a>
                                <p class="list-group-item-text" ng-bind-html="workGroup.description"></p>
                            </div>

                            {#tools#}
                            <div class="col-md-1 dropdown">
                                <i class="fa fa-cog cursor_pointer dropdown-toggle"
                                   dropdown data-toggle="dropdown"></i>
                                <ul class="dropdown-menu" >
                                    <li ng-click-load-replace="edit(workGroup)" class="cursor_pointer">
                                        <a>
                                            <i class="fa fa-edit"></i>
                                            Edit
                                        </a>
                                    </li>
                                    <li class="divider" ng-if="getMainData().user.isRoleOwner() || getMainData().user.isRoleAdmin()"></li>
                                    <li ng-click-load-replace="delete(workGroup)" class="cursor_pointer"
                                        ng-if="getMainData().user.isRoleOwner() || getMainData().user.isRoleAdmin()">
                                        <a class="text-danger">
                                            <i class="fa fa-trash-o"></i>
                                            Delete
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>

                </div>{# list-group #}

            </div>
        </div>{# list workGroups row #}

    </div>
</div>

<!-- delete workGroup modal -->
<script type="text/ng-template" id="deleteWorkGroupConfirmationBox.tpl">
    {%
    include "UnirCloudBoxBundle:Ng/Template/modals:confirmationModal.html.twig"
    with {
    'confirmationTitle': 'Do you want to delete this workGroup?',
    'confirmationQuestion': 'You are going to delete this workGroup',
    'confirmationTextOk': 'Delete',
    'confirmationOkClass': 'btn-danger',
    'submitAction': 'ok()',
    'cancelAction': 'cancel()',
    }
    %}
</script><!-- delete workGroup modal -->