{# view workGroup #}
<div class="row viewWorkGroup">
    <div class="col-md-8 col-md-offset-2">

        {# actions #}
        <div class="row"  ng-if="getMainData().user.isRoleOwner() || getMainData().user.isRoleAdmin()">
            <div class="col-md-12">

                {# delete #}
                <div class="pull-right">
                    <button class="delete btn btn-danger mr10"
                            ng-click-load-replace="delete(workGroup)">
                        Delete
                    </button>
                </div>

                {# edit #}
                <div class="pull-right mr10">
                    <button class="edit btn btn-warning mr10"
                            ng-click-load-replace="edit(workGroup)">
                        Edit
                    </button>
                </div>

            </div>
        </div>{# actions #}

        {# header workGroup #}
        <div class="row">
            <div class="col-md-12">

                <h1 class="pull-left mt10 ml5 mb0 ">
                    {! workGroup.name !}
                </h1>

                <h5 class="text-muted pull-right mt20">
                    Admin:
                    <my-user-icon class=""
                                  ng-name="workGroup.admin_user.username"
                                  ng-user-id="workGroup.admin_user.id"
                                  element="a"
                                  size="small">
                    </my-user-icon>
                    <span class="hide">{! workGroup.admin_user.username !}</span>
                </h5>
                <h5 class="text-muted pull-right mt20 mr20">Created: {! workGroup.created|date:'longDate'!}</h5>

            </div>
        </div>{# header workGroup #}

        {# description #}
        <div class="row mt20 mb20">
            <div class="col-md-12">
                <div class="well well-sm mb10" ng-show=" workGroup.description !='' ">
                    <span ng-bind-html="workGroup.description"></span>
                </div>

                <p class="well well-sm text-center" ng-show=" workGroup.description =='' ">
                    -- No description --
                </p>
            </div>
        </div>

        {#users of the workGroup#}
        <div class="row">

            {# list users #}
            <div class="col-md-5">

                <h3>List of workGroup users</h3>
                {#list#}
                <div class="list-group maxHeight500" >
                    <a  ng-href="{! generateRoute('ng_user_show',{ id: user.id}) !}"
                            class="cursor_pointer displayBlock list-group-item"
                            ng-repeat="user in workGroup.user_members">
                        <my-user-icon class=""
                                      ng-name="user.username"
                                      ng-user-id="user.id"
                                      element="span"
                                      size="small">
                        </my-user-icon>
                        {! user.username !}
                    </a>
                </div>{# list-group #}

            </div>{# list users #}

            {#list gorup users#}
            <div class="col-md-6 col-md-offset-1">

                <h3>List of user groups of the workGroup</h3>
                {#list#}
                <div class="list-group maxHeight500" >
                    <div class="list-group-item"  ng-repeat="group in workGroup.group_members">
                        <h4 class="list-group-item-heading">
                            {! group.name !}
                        </h4>
                        <a  ng-href="{! generateRoute('ng_user_show',{ id: user.id}) !}"
                            class=" ml10 mt5 cursor_pointer displayBlock list-group-item-text"
                            ng-repeat="user in group.users">
                            <my-user-icon class=""
                                          ng-name="user.username"
                                          ng-user-id="user.id"
                                          element="span"
                                          size="small">
                            </my-user-icon>
                            {! user.username !}
                        </a>
                    </div>
                </div>{# list-group #}

            </div>{#list gorup users#}

        </div>


    </div>
</div>{# view workGroup #}


<!-- delete workGroup modal -->
<script type="text/ng-template" id="deleteWorkGroupConfirmationBox.tpl">
    {%
    include "UnirCloudBoxBundle:Ng/Template/modals:confirmationModal.html.twig"
    with {
    'confirmationTitle': 'Do you want to delete this workGroup?',
    'confirmationQuestion': 'You are going to delete this workGroup',
    'confirmationTextOk': 'Delete',
    'confirmationOkClass': 'btn-danger',
    'submitAction': 'ok()',
    'cancelAction': 'cancel()',
    }
    %}
</script><!-- delete workGroup modal -->