{% extends '::frontend.html.twig' %}

{% block article -%}
    <div class="ml20 mr20">
        <h1 class="">
            Enterprise list
            <a class="h4 btn btn-success pull-right" href="{{ path('enterprise_new') }}"><i class="fa fa-plus"> New Enterprise</i></a>
        </h1>

        <table class="records_list table table-responsive table-bordered">
            <thead>
                <tr>
                    <th class="hide">Id</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td class="hide"><a href="{{ path('enterprise_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td><a href="{{ path('enterprise_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                    <td><a class="btn btn-warning" href="{{ path('enterprise_edit', { 'id': entity.id }) }}"><span class="fa fa-edit"></span> edit</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
