{% extends '::frontend.html.twig' %}

{% block article -%}
    <h1 class="ml20 mb20">Enterprise creation</h1>

    {{ form_start(form) }}
    <div class="row ml20 mr20">
        <div class="col-md-4">
            <div class="form-group">
                {{ form_row(form.name, {'attr': {'class':'form-control'}}) }}
            </div>
        </div>
    </div>

    <div class="row ml20 mr20 mt20">
        <div class="col-md-2">
            <a class="ml20  pull-left btn btn-info" href="{{ path('enterprise') }}">
                <i class="fa fa-share fa-flip-horizontal"></i> Back to the list
            </a>
        </div>
        <div class="col-md-2 ">
            {{ form_row(form.submit,{'attr':{'class':'btn btn-primary pull-right ml20 mr20'}}) }}
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
