{% extends '::frontend.html.twig' %}

{% block article -%}

    <div class="container-fluid showEnterprise showEntity">
        <div class="row">
            <div class="col-md-12">
                <a class="ml20  pull-left btn btn-info" href="{{ path('enterprise') }}">
                    <i class="fa fa-share fa-flip-horizontal"></i> Back to the list
                </a>
                {#{{ form_start(delete_form) }}#}
                {#{{ form_row(delete_form.submit,{'attr':{'class':'btn btn-danger btn-xs pull-right mr20'}}) }}#}
                {#{{ form_end(delete_form) }}#}
                <a class="btn btn-warning pull-right mr20" href="{{ path('enterprise_edit', { 'id': entity.id }) }}">
                    <span class="fa fa-edit"></span> Edit
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1 class="ml20 mb20 mt20 pull-left">
                    {{ entity.name }}
                </h1>
            </div>
        </div>
        <div class="row ml20 mr20">
            {% include "UnirCloudBoxBundle:Utils:filterWodsShowEntity.html.twig" with {"idName":"idEnterprise", "wodListName":"listWodsInEnterprise"}%}
            <div class=" col-md-5">
                <div class="panel-group  accordionWodsOfWorkGroup" id="accordionWodsOfWorkGroup">
                    {% include "UnirCloudBoxBundle:Utils:UsersAccordion.html.twig" with { 'users': users }%}
                    {% include "UnirCloudBoxBundle:Utils:WorkGroupAccordion.html.twig" %}
                    {% include "UnirCloudBoxBundle:Utils:WodGroupAccordion.html.twig" with { 'wodGroups' : groups }%}
                </div>
            </div>
        </div>
      </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    "@UnirCloudBoxBundle/Resources/public/js/wodsShowEntity.js"
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
