{% extends 'UnirCloudBoxBundle:Mail:mail_skeleton.html.twig' %}
{% block title %}Has Sido Añadido a una tarea{% endblock %}
{% block subtitle %}Has sido añadido a la tarea <a href="{{ url("ng_wods") }}#{{ wod.getSlug }}">{{ wod.getTitle }}</a>{% endblock %}
{% block content %}{{ wod.getDescription }}{% endblock %}
