{% extends 'UnirCloudBoxBundle:Mail:mail_skeleton.html.twig' %}
{% block title %}Nueva Subwod{% endblock %}
{% block subtitle %}Se ha creado una nueva SubWod en la wod <a href="{{ url("ng_wods") }}#{{ subWod.getWod.getSlug }}">{{ subWod.getWod.getTitle }}</a> {% endblock %}
{% block content %}Se ha añadido la subwod '{{ subWod.getTitle }}'{% endblock %}
