{% extends 'UnirCloudBoxBundle:Mail:mail_skeleton.html.twig' %}
{% block title %}Has sido añadido a una nueva Organización{% endblock %}
{% block subtitle %}Has sido añadido a la empresa <strong>{{ enterprise.getName }}</strong>{% endblock %}
{% block content %}En breve podrás recibir tareas de la empresa {{ enterprise.getName }}{% endblock %}
