{% extends 'UnirCloudBoxBundle:Mail:mail_skeleton.html.twig' %}
{% block title %}Un Nuevo Usuario ha sido Creado{% endblock %}
{% block subtitle %}Has sido añadido a la aplicación CloudBoxManager{% endblock %}
{% block content %}Por favor, para completar tu registro dirigete a la Url <a href="{{ url("confirm_registration",{"username":user.getUsername}) }}"> {{ url("confirm_registration",{"username":user.getUsername}) }} </a> para rellenar tus datos{% endblock %}
