{% extends 'UnirCloudBoxBundle:Mail:mail_skeleton.html.twig' %}
{% block title %}Nuevo Comentario{% endblock %}
{% block subtitle %}{{ wodComment.getUser.getUsername }} ha realizado un comentario en <a href="{{ url("ng_wods") }}#{{ wodComment.getWod.getSlug }}">{{ wodComment.getWod.getTitle }}</a> {% endblock %}
{% block content %}{{ wodComment.getUser.getUsername }} ha comentado <p class="well">{{ wodComment.getComment|raw }}</p>{% endblock %}
