{% extends 'UnirCloudBoxBundle:Mail:mail_skeleton.html.twig' %}
{% block title %}Cambio de prioridad{% endblock %}
{% block subtitle %}La tarea <a href="{{ url("ng_wods") }}#{{ wod.getSlug }}">{{ wod.getTitle }}</a>{{ wod.getTitle }} ha cambiado de prioridad.{% endblock %}
{% block content %}La tarea '{{ wod.getTitle }}' ahora está en prioridad {{ wod.getDifficulty }}{% endblock %}
