{% extends 'UnirCloudBoxBundle:Mail:mail_skeleton.html.twig' %}
{% block title %}Cambio de estado{% endblock %}
{% block subtitle %}La tarea <a href="{{ url("ng_wods") }}#{{ wod.getSlug }}">{{ wod.getTitle }}</a> ha cambiado de estado.{% endblock %}
{% block content %}La tarea '{{ wod.getTitle }}' ahora está en estado {{ wod.getStatus }}{% endblock %}
