{#<style>#}
    {#.showOnCursorOver a{#}
        {#visibility: hidden;#}
    {#}#}
    {#.showOnCursorOver:hover a{#}
        {#visibility: visible;#}
    {#}#}

{#</style>#}
{#<div class="row">#}
    {#<div class="col-lg-12 showOnCursorOver">#}
        {#<a href="/debug">Test</a>#}
    {#</div>#}
{#</div>#}
