<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

    <div class="container-fluid">


        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href='{{ path("ng_index") }}'>CloudBoxses</a>
        </div><!-- /.nacbar-header -->

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                {# Dashboard link#}
                <li ng-class="{active: isMenuActive('dashboard') }">
                    <a href="{! generateRoute('ng_index') !}">
                        <i class="fa fa-home"></i> DashBoard
                    </a>
                </li><!-- /li -->

                {# wods link#}
                <li ng-class="{active: isMenuActive('wods') }">
                    <a href="{! generateRoute('ng_wods') !}">
                        <i class="fa fa-wods"></i> Wods
                    </a>
                </li><!-- /li -->
                <li class="nav divider-vertical">
                </li>
            {% include "UnirCloudBoxBundle:Ng/Template/navBar:creation_dropdown.html.twig" %}
            </ul><!-- /.nav -->

            {% include "UnirCloudBoxBundle:Ng/Template/navBar:admin_dropdown.html.twig" %}
            {% include "UnirCloudBoxBundle:Ng/Template/navBar:user_dropdown.html.twig"%}
            {% include "UnirCloudBoxBundle:Ng/Template/navBar:workGroup_dropdown.html.twig" %}
            {% include "UnirCloudBoxBundle:Ng/Template/navBar:enterprise_dropdown.html.twig" %}

            {# Timing #}
            <div class="pull-right timingDiv ml10 mr10 ng-hide" ng-show="getCurrentTimingWod()">
                <h5>
                    <a ng-href="wods/#{! getCurrentTimingWod().wod.slug !}" class="">
                        <strong ng-bind="getCurrentTimingWod().wod.title"
                                class="navBarEllipsis navBarEllipsisTimingWodTitle displayInlineBlock "></strong>
                    </a>: <span data-ng-siweb-clock-count="getCurrentTimingWod().date_start_js"></span></h5>
                {#<h5 class=""><strong>Wod Title</strong>: <span>10 min 25 seg</span></h5>#}
                <button class="btn btn-default btn-xs btnStopTimingNavBar" ng-click-load-replace="stopTimer()"><i class="fa fa-stop"></i></button>
            </div>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav><!-- /.navbar -->

{# modal edit users follower #}
<script type="text/ng-template" id="timer-close-wod.tpl">
    {{ wodTiming_form()|raw }}
</script>