<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    </button>

    <h3 class="modal-title" ng-bind-html="title"></h3>

</div>

<form name="{{ form.vars.name }}" data-form-save="formSubmit(formData)" novalidate autocomplete="off" ng-init="init()">

    {# body #}
    <div class="modal-body">


        <div class="row mt20">

            {# name #}
            <div class="col-md-8  form-group">
                {{ form_row(form.name, { 'attr': {'tabindex': "1",} }) }}
            </div>
        </div>

        <div class="row">

            {# Description #}
            <div class="col-md-12 form-group">
                {{ form_row(form.description, { 'attr': {'ui-tinymce': 'tinyMCEOptions','tabindex': "3",} }) }}
            </div>

        </div>

        {# Token #}
        <span class="form-token">
            {{ form_row(form._token, {
                    'attr': {
                        'data-value': form._token.vars.value,
                        'name':'token',
                    }
                })
            }}
        </span><!-- /.form-token -->

    </div>{# modal-body #}

    {# footer #}
    <div class="modal-footer">
        <input type="submit"
               class="btn btn-primary pull-right"
               tabindex="6"
               value="Apply"
               form-save-submit-button
                />

        <i class="pull-right fa fa-spinner fa-spin mr10 mt10" form-save-loading-spinner></i>

        <input type="button"
               class="btn btn-default pull-left"
               ng-click="cancel()"
               tabindex="7"
               value="Cancel"
               form-save-cancel-button
                />
    </div>

</form>