<div class="row dashboardTimeLine" ng-repeat="activity in activities">
    <div class="col-md-1 text-right">
        {#<span class="label {! printColorAction(activity.action) !} cursor_pointer mr15" ng-show="activity.action"#}
        {#tooltip="{! activity.description !}" tooltip-placement="top" >#}
        {#{! activity.action !}#}
        {#</span>#}
        <my-user-icon
                ng-show="activity.user.id != activities[$index -1].user.id"
                name="{! activity.user.username !}"
                link="{! activity.user.id !}"
                element="a"
                size="big">
        </my-user-icon>
    </div>
    <div class="col-md-11">
        <h5 class=" mb0">
            <span class="text-warning navBarEllipsisDataInline navBarEllipsis displayInlineBlock">
                @{! activity.user.username !}
            </span>
            <span class=" navBarEllipsisCommentTitle navBarEllipsis displayInlineBlock">
                {! activity.description||'' !}
            </span>
            <small class=" navBarEllipsisCommentTitleInline displayInlineBlock">
                on {! activity.created|date:'EEE d, MMM y hh:mm:ss' !}
            </small>
        </h5>
        <h6 class="text-muted">
            <span class=" navBarEllipsisDataInline  displayInlineBlock">The wod</span>
            <a class=" navBarEllipsisDataInline navBarEllipsis displayInlineBlock"
                    ng-href="{! parentScope.generateRoute('ng_wod_show',{'slug' : activity.wod.slug }) !}"
                    tooltip="{! activity.wod.title !}"
                    tooltip-placement="top"
                    target="_self">
                {! activity.wod.title !}
            </a>
            <span class=" navBarEllipsisDataInline displayInlineBlock">in</span>
            <strong class=" navBarEllipsisDataInline navBarEllipsis displayInlineBlock">{! activity.wod.wod_group.name !}</strong>
            <span class=" navBarEllipsisDataInline displayInlineBlock">on the company</span>
            <a class=" navBarEllipsisDataInline navBarEllipsis displayInlineBlock"
               ng-href="{! parentScope.generateRoute('ng_enterprise_show',{'id' : activity.wod.company.id }) !}">
                {! activity.wod.company.name !}
            </a>
        </h6>
        <div class="mb10 " ng-class="{'comment-default' : activity.comment}" ng-show="activity.comment">
            <i class="fa fa-caret-up fa-2x comment-arrow"></i>
            <p ng-if="showEllipsis" class="breakWord">
                <my-ellipsis-multi-line ng-text="activity.comment" height="300"></my-ellipsis-multi-line>
            </p>
            <div class="divCommentEllipsis" ng-if="!showEllipsis" ng-bind-html="activity.comment"></div>
        </div>
    </div>
</div>