
{# view all activities btn #}
<div class="row">
    <div class="col-md-11 col-md-offset-1">
        <a class="cursor_pointer text-muted btnShowAllActivitiesWod h5"
           ng-show="thereAreMore && !showMoreActivities" ng-click="showAll()">
            <i class="fa fa-ellipsis-h text-muted"></i>
            View all updates ({! items.length - activities.length !})
        </a>
    </div>
</div>

{#list activities#}
<div class="row dashboardTimeLine" ng-repeat="activity in activities">
    <div class="col-md-1 text-right">
        {#<span class="label {! printColorAction(activity.action) !} cursor_pointer mr15" ng-show="activity.action"#}
              {#tooltip="{! activity.description !}" tooltip-placement="top" >#}
            {#{! activity.action !}#}
        {#</span>#}
        <my-user-icon
                ng-show="activity.user.id != activities[$index -1].user.id"
                name="{! activity.user.username !}"
                link="{! activity.user.id !}"
                element="a"
                size="big">
        </my-user-icon>
    </div>
    <div class="col-md-11 mb10">
        <h5 class=" mb0" >
            <span class="text-warning navBarEllipsisDataInline navBarEllipsis displayInlineBlock">
                @{! activity.user.username !}
            </span>
            <span class="navBarEllipsisCommentTitle navBarEllipsis displayInlineBlock">
                {! activity.description||'' !}
            </span>
            <small class="navBarEllipsisCommentTitleInline displayInlineBlock">
                on {! activity.created|date:'EEE d, MMM y hh:mm:ss' !}
            </small>
        </h5>
        <div class="mb10 " ng-class="{'comment-default' : activity.comment}" ng-show="activity.comment">
            <i class="fa fa-caret-up fa-2x comment-arrow"></i>
            <p ng-if="showEllipsis" class="breakWord">
                <my-ellipsis-multi-line ng-text="activity.comment" height="500"></my-ellipsis-multi-line>
            </p>
            <div class="divCommentEllipsis" ng-if="!showEllipsis" ng-bind-html="activity.comment"></div>
        </div>
    </div>
</div>

{#<div ng-show="thereAreMore && !showMoreActivities" class="showMoreDiv">#}
    {#<a class="btn btn-default" ng-click-load-replace="showAll()">Watch more</a>#}
{#</div>#}
{#<div ng-show="showMoreActivities" class="stopShowingMoreDiv">#}
    {#<a class="btn btn-default" ng-click-load-replace="showLess()">Minimize</a>#}
{#</div>#}