    <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a data-toggle="dropdown" class="cursorPointer dropdown-toggle">
        <i class="fa fa-folder-open-o"></i>
        <strong>{{ get_company().getName() }}</strong>
        <span class="caret"></span>
        </a>
        <ul class="dropdown-menu maxHeight300">
        {% for company in get_companies() %}
            <li>
                    <a href="{{ path('select_company',{"id":company.getId}) }}"
                       title="{{ company.getName }}" data-toggle="tooltip" data-placement="top" >
                        <i class="avatarUser {{ get_user_color(company.getName) }} avatarSmall tooltipGeneric cursor_pointer"
                           title="{{ company.getName }}" data-toggle="tooltip" data-placement="top">
                            {{ company.getName|slice(0,1)|capitalize }}
                        </i>
                        {{ company.getName }}
                    </a>
            </li>
        {% else %}
            <li><a href="{{ path("enterprise_new") }}">No existen Empresas</a></li>
        {% endfor %}
        </ul>
        </li>
    </ul>