
<div class="container-fluid usersListAngular">
    {#TODO construir #}
    {#{% for message in app.session.getFlashBag().get("created") %}#}
        {#<div class="row">#}
            {#<div class="col-md-9 col-md-offset-1">#}
                {#<p class="bg-info pAll10">{{ message }}</p>#}
            {#</div>#}
        {#</div>#}
    {#{% endfor %}#}
    <div class="row">

        {#group users#}
        <div class="col-md-3 col-md-offset-1">
            <h2>
                <i class="fa fa-users"></i>
                User groups
                <span class="btn btn-success btn-xs btn_newGroupUser" ng-click-load-replace="newUserGroup()">
                    <i class="fa fa-plus"></i>
                </span>
            </h2>
            <ul class="list-group listUserGroups pt10">

                <li class="list-group-item singleHover cursor_pointer itemUserGroup"
                    ng-class="{ 'list-group-item-info': !groupSelected }"
                    ng-click="selectGroupUsers()">
                    <i class="fa fa-gear cursor_pointer hide"></i>
                    All
                    <span class="badge alert-success">{! allUsers.length !}</span>
                </li>

                {# repeat group users#}
                <li class="list-group-item singleHover cursor_pointer itemUserGroup"
                        ng-repeat="group in groups"
                        ng-class="{ 'list-group-item-info': groupSelected && groupSelected.id == group.id }"
                        ng-click="selectGroupUsers(group)">
                    <div class="displayInlineBlock dropdown dropDownStop">
                        <i class="fa fa-gear cursor_pointer dropdown-toggle " dropdown data-toggle="dropdown"> </i>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-click="editUserGroup(group)">
                                <a class="editUserGroup">
                                    <i class="fa fa-edit"></i>
                                    Edit
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li ng-click="deleteUserGroup(group)">
                                <a class="deleteUserGroup text-danger">
                                    <i class="fa fa-trash-o"></i>
                                    Remove
                                </a>
                            </li>
                        </ul>
                    </div>
                    {! group.name !}
                    <span class="badge alert-success">{! group.users.length !}</span>
                </li>
            </ul>
        </div>{#group users#}

        {#list users#}
        <div class="col-md-6 col-md-offset-1">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <a class="cursor_pointer btn btn-success pull-right mb10 mt20" ng-click="newUser()">
                                <i class="fa fa-plus-circle text-success"></i>
                                New User
                            </a>
                            <h2 class="pull-left">
                                <span ng-show="!groupSelected ">All Users</span>
                                <span ng-hide="!groupSelected ">
                                    Users in:
                                    <strong ng-bind="groupSelected.name"></strong>
                                </span>
                            </h2>
                        </div>
                    </div>

                    <div class="row mt10">
                        <div class="col-md-12">

                            <div class="listUsersInGroup maxHeight500">
                                <div class="list-group listUsers">
                                    <a ng-href="{! generateRoute('ng_user_show',{ id: user.id}) !}"
                                            class="list-group-item cursor_pointer" ng-repeat="user in users">
                                        <my-user-icon class=""
                                                      ng-name="user.username"
                                                      ng-user-id="user.id"
                                                      element="span"
                                                      size="small">
                                        </my-user-icon>
                                        {! user.username !}
                                    </a>
                                    <span class="list-group-item" ng-show="users.length == 0">
                                        <span ng-show="!groupSelected">Any users</span>
                                        <span ng-hide="!groupSelected"> Any users in the group</span>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>{#list users#}

    </div>{# row #}
</div>{# container #}


<script type="text/ng-template" id="create-group-users-modal.tpl">
    {{ user_group_form()|raw }}
</script>


<!-- delete group user modal -->
<script type="text/ng-template" id="deleteGroupUserConfirmationBox.tpl">
    {%
    include "UnirCloudBoxBundle:Ng/Template/modals:confirmationModal.html.twig"
    with {
    'confirmationTitle': 'Do you want to delete this group user?',
    'confirmationQuestion': 'You are going to delete this group user',
    'confirmationTextOk': 'Delete',
    'confirmationOkClass': 'btn-danger',
    'submitAction': 'ok()',
    'cancelAction': 'cancel()',
    }
    %}
</script><!-- delete group user modal -->

<!-- delete user modal -->
<script type="text/ng-template" id="deleteUserConfirmationBox.tpl">
    {%
    include "UnirCloudBoxBundle:Ng/Template/modals:confirmationModal.html.twig"
    with {
    'confirmationTitle': 'Do you want to delete this user?',
    'confirmationQuestion': 'You are going to delete this user',
    'confirmationTextOk': 'Delete',
    'confirmationOkClass': 'btn-danger',
    'submitAction': 'ok()',
    'cancelAction': 'cancel()',
    }
    %}
</script><!-- delete user modal -->