{# view user #}
<div class="row viewUser">
    <div class="col-md-12">

        {# header user #}
        <div class="row">
            <div class="col-md-12">

                <h1 class="pull-left mt10 mb0 ml20">
                    <i class="fa fa-user"></i>
                    {! user.username !}
                </h1>

                {# delete #}
                <div class="pull-right mr20"
                     ng-if="getMainData().user.isRoleOwner() || getMainData().user.isRoleAdmin()">
                    <button class="delete btn btn-danger mr10"
                            ng-click-load-replace="delete(user)">
                        Delete
                    </button>
                </div>

                <div class="pull-right mr10" ng-if="currentUserCanEdit(user)">
                    <button class="edit btn btn-warning mr10"
                            ng-click-load-replace="edit(user)">
                        Edit
                    </button>
                </div>

                <div class="pull-right mr10" ng-if="getMainData().user.id == user.id">
                    <button class="btn btn-default mr10"
                            ng-click-load-replace="changePassword(user)">
                        Change password
                    </button>
                </div>


                <h5 class="pull-left text-muted h5ShowUser">
                    {! user.email !}
                </h5>
                <h5 class="pull-left text-muted h5ShowUser" ng-if="user.enterprise.name">
                    <i class="fa fa-building-o"></i>
                    {! user.enterprise.name !}
                </h5>

            </div>
        </div>{# header user #}

        {#groups#}
        <div class="row" ng-if="user.groups">
            <div class="col-md-12 pl20 ml20 mt10">
                <span>User groups: </span>
                <span class="label label-info ml10"
                      ng-repeat="group in user.groups">
                    {! group.name !}
                </span>
            </div>
        </div>{#groups#}


        <div class="row">

            {# activities #}
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-9 col-md-offset-3">
                        <h3>Activities</h3>
                    </div>
                </div>
                <my-activities-timeline elements="userActivities.elements" parent-scope="this"></my-activities-timeline>
                <div class="row">
                    <div class="col-md-9 col-md-offset-3">
                        <pagination
                                ng-show="userActivities.totalPages()>1"
                                total-items="userActivities.totalItems()"
                                items-per-page="userActivities.numItemsPerPage"
                                boundary-links="true"
                                class="pagination-sm"
                                ng-model="userActivities.current"
                                ng-change="get(activities.current)"
                                max-size="5"
                                rotate="false"
                                >
                        </pagination>
                    </div>
                </div>
            </div>{# activities #}


            {# wods #}
            <div class="col-md-3 ">
                <h3>Wods</h3>
                <div class="list-group maxHeight500">
                    <a class="list-group-item cursor_pointer nowrap_ellipsis" ng-repeat="wod in user.assigned_wods"
                       ng-href="{! generateRoute('ng_wod_show',{'slug' : wod.slug }) !}">
                        {! wod.title !}
                    </a>
                </div>
            </div>{# wods #}

            {# groups users #}
            {#<div class="col-md-2 ">#}
                {#<h3>User Groups</h3>#}
                {#<div class="list-group maxHeight500">#}
                    {#<a class="list-group-item cursor_pointer nowrap_ellipsis" ng-repeat="group in user.groups">#}
                        {#{! group.name !}#}
                    {#</a>#}
                {#</div>#}
            {#</div>&#123;&#35; groups &#35;&#125;#}

            {# timings #}
            <div class="col-md-4 ">
                <h3>Timings</h3>
                <div class="list-group maxHeight500">
                    <div class="list-group-item " ng-repeat="timing in user.wod_timing">
                        <span class="badge">{! timing.seconds !}</span>
                        <a class="cursor_pointer list-group-item-heading nowrap_ellipsis"
                           ng-href="{! generateRoute('ng_wod_show',{'slug' : timing.wod.slug }) !}">
                            {! timing.wod.title !}
                        </a>
                        <my-ellipsis-multi-line ng-text="timing.comment" height="60" class="list-group-item-text"></my-ellipsis-multi-line>
                    </div>
                </div>
            </div>{# timings #}


        </div>

    </div>
</div>{# view workGroup #}

<!-- delete user modal -->
<script type="text/ng-template" id="deleteUserConfirmationBox.tpl">
    {%
    include "UnirCloudBoxBundle:Ng/Template/modals:confirmationModal.html.twig"
    with {
    'confirmationTitle': 'Do you want to delete this user?',
    'confirmationQuestion': 'You are going to delete this user',
    'confirmationTextOk': 'Delete',
    'confirmationOkClass': 'btn-danger',
    'submitAction': 'ok()',
    'cancelAction': 'cancel()',
    }
    %}
</script><!-- delete user modal -->

<!-- edit user modal -->
<script type="text/ng-template" id="edit-user-modal.tpl">
    {{ user_edit_form()|raw }}
</script><!-- edit user modal -->

<!-- changepassword user modal -->
<script type="text/ng-template" id="change-password-user-modal.tpl">
    {{ user_update_password_form()|raw }}
</script><!-- changepassword user modal -->