<div class="row ml10 mr10 ">
    <div class="col-md-12">
        <h1 class="pull-left">
            Wod groups list
            <sapn ng-if="getMainData().workGroup">de: <strong>{! getMainData().workGroup.name !}</strong></sapn>
        </h1>
        <a class="cursor_pointer pull-right  btn btn-success " ng-click="new()">
            <i class="fa fa-plus-circle text-success"></i>
            New Wod Group
        </a>

        {# list wodGroups #}
        <div class="row mt20">
            <div class="col-md-12">

                {#list#}
                <div class="list-group" >

                    {# item wodgroup #}
                    <div class="list-group-item"  ng-repeat="group in wodGroups">
                        <div class="row">

                            {#title and description#}
                            <div class="col-md-11">
                                <a {# ng-href="{! generateRoute('ng_workGroup_show',{ id: workGroup.id}) !}" #} >
                                    <h3 class="list-group-item-heading">{! group.name !}</h3>
                                </a>
                                <p class="list-group-item-text" ng-bind-html="group.description"></p>
                            </div>

                            {#tools#}
                            <div class="col-md-1 dropdown">
                                <i class="fa fa-cog cursor_pointer dropdown-toggle"
                                   dropdown data-toggle="dropdown"></i>
                                <ul class="dropdown-menu" >
                                    <li ng-click-load-replace="edit(group)" class="cursor_pointer">
                                        <a>Edit</a>
                                    </li>
                                    <li class="divider" ng-if="getMainData().user.isRoleAdmin()"></li>
                                    <li ng-click-load-replace="delete(group)" class="cursor_pointer"
                                        ng-if="getMainData().user.isRoleAdmin()">
                                        <a>Delete</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>

                </div>{# list-group #}

            </div>
        </div>{# list wodGroups row #}

    </div>
</div>


<!-- delete wodGroups modal -->
<script type="text/ng-template" id="deleteWodGroupConfirmationBox.tpl">
    {%
    include "UnirCloudBoxBundle:Ng/Template/modals:confirmationModal.html.twig"
    with {
    'confirmationTitle': 'Do you want to delete this wod group?',
    'confirmationQuestion': 'You are going to delete this wod group',
    'confirmationTextOk': 'Delete',
    'confirmationOkClass': 'btn-danger',
    'submitAction': 'ok()',
    'cancelAction': 'cancel()',
    }
    %}
</script><!-- delete wodGroups modal -->