{% extends '::frontend.html.twig'%}
{% block article %}
    <div class="ml20 mr20">
        <h1 class="">
            Grupos de Tareas
            {% if get_selected_workGroup() %}
                de
                <strong>{{ get_selected_workGroup().getName }} </strong>
            {% endif %}
            <a class="h4 btn btn-success pull-right" href="{{ path('wodgroup_new') }}"><i class="fa fa-plus"> Nuevo Grupo</i></a>
        </h1>

        <table class="records_list table table-striped table-responsive table-bordered">
            <thead>
                <tr>

                    <th>Name</th>
                    <th>Nº de Wods</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>

                    <td><a href="{{ path('wodgroup_show', { 'id': entity.id }) }}"> {{ entity.name }}</a></td>
                    <td class="text-center"><small>#{{ entity.getWods.count }}</small></td>
                    <td>{{ entity.description }}</td>
                    <td>
                    <ul>
                        <li>
                            <a class="btn btn-warning" href="{{ path('wodgroup_edit', { 'id': entity.id }) }}"><span class="fa fa-edit"></span> edit</a>
                        </li>
                    </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
