{% extends '::frontend.html.twig' %}

{% block article %}
    <div class="container-fluid showEntity showWodGroup">
        <div clas="row mb10">
            <div class="col-md-12">
                <a class="btn btn-info pull-left" href="{{ path('wodgroup') }}">
                    <i class="fa fa-share fa-flip-horizontal"></i> Back to the list </a>
                {% if app.request.headers.get('referer')==url("workGroup_show",{ "id":entity.workGroup.id }) %}
                    <a class="btn btn-success pull-left" href="{{ path("workGroup_show",{ "id":entity.workGroup.id }) }}">
                        <i class="fa fa-share fa-flip-horizontal"></i> Volver al Proyecto
                    </a>
                {% endif %}

                {{ form_start(delete_form) }}
                {{ form_row(delete_form.submit,{'attr':{'class':'btn btn-danger pull-right '}}) }}
                {{ form_end(delete_form) }}

                <a class="btn btn-warning pull-right mr20" href="{{ path('wodgroup_edit', { 'id': entity.id }) }}">
                    <span class="fa fa-edit"></span> Edit
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1 class=" mt10 ml10 mb0 pull-left">{{ entity.name }}</h1>
                <h2 class="pull-right text-muted hide"><a href="{{ path('workGroup_show', { 'id': entity.workGroup.id }) }}">{{ entity.getWorkGroup.getName }}</a></h2>
                <span class="pull-right mt20 mr20">WorkGroup: <a href="{{ path('workGroup_show', { 'id': entity.workGroup.id }) }}">{{ entity.getWorkGroup.getName }}</a></span>

            </div>
        </div>

        <div class="row ml0">
            <div class="col-md-12 ">
                <h5 class="pull-left mt5 ">
                    <small class="mr10">Admin: </small>
                    {% include "UnirCloudBoxBundle:Utils:avatarUser.html.twig" with {
                            'user':entity.workGroup.adminUser, 'notGravAvatar':false, 'size':'normal', 'hide':false, 'css':'',
                        }
                    %}
                </h5>
                <h5 class="pull-left ml10 mt5 "><small class="text-muted"><i class="fa fa-clock-o"> </i> {{ entity.getCreated|date("h:i d/m/Y") }}</small></h5>

                    <h5 class="pull-right ml10 mt5 mr20"><small>View by: <span class="viewByOfWod">{{ entity.getAvailableViewers() }}</span></small></h5>
            </div>
        </div>
        {% if entity.description != '' %}
            <div class="row ml0 mr0 ">
                <div class="col-md-12">
                    <p class="well well-sm wodDescription">
                        {{ entity.description }}
                    </p>
                </div>
            </div>
        {% else %}
            <div class="row ml0 mr0 ">
                <div class="col-md-12">
                    <p class="well well-sm wodDescription text-center">
                        -- No Comment --
                    </p>
                </div>
            </div>
        {% endif %}
        <div class="row  ">
            <div class="col-md-12">
                {% include "UnirCloudBoxBundle:Utils:filterWodsShowEntity.html.twig"
                        with {"idName":"idGroup" , "wodListName":""}%}
                <div class=" col-md-5">
                    <h4>
                        <i class="fa fa-users"></i>
                        Users of Wod Group
                        <a class="btn btn-warning btn-xs btnEditUsersTAskGroup pull-right"
                                data-id="{{ entity.id }}" data-name="{{ entity.name }}">
                            Edit users
                        </a>
                    </h4>
                    <div class="panel-group  accordionUsersOfWodGroup" id="accordionUsersOfWodGroup">
                        {# members#}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordionUsersOfWodGroup"
                                       href="#collapseGroupUsersMembers">
                                        Members
                                        <small>{{ entity.userMembers|length }}</small>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseGroupUsersMembers" class="panel-collapse collapse maxHeight300 pt10">
                                {% for user in entity.userMembers  %}
                                    <p class="ml20 pl5 pr5">
                                        <a href="{{ path("user_profile_show",{"id":user.getId}) }}">
                                            <i class="fa fa-user {{ get_role_class(user) }}"> </i> {{ user.getUserName }}
                                        </a>
                                    </p>
                                {% else %}
                                    <p class="pl20 pr5 bg-warning"> Any Members </p>
                                {% endfor %}
                            </div>
                        </div>
                        {# end members#}
                        {# group members#}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordionUsersOfWodGroup"
                                       href="#collapseGroupUsersGroupMembers">
                                        Group Members
                                        <small>{{ entity.groupMembers|length }}</small>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseGroupUsersGroupMembers" class="panel-collapse collapse maxHeight300 pt10">
                                {% for group in entity.groupMembers  %}
                                    <p class="ml20 pl5 pr5">
                                        {# TODO COMMENTED CUZ PAGE LINKED IS SO UGLY #}
                                        {# <a href="{{ path("group_show",{"id":group.getId}) }}"> #}
                                        <a href="#">
                                           {{ group.name }}
                                        </a>
                                    </p>
                                {% else %}
                                    <p class="pl20 pr5 bg-warning"> Any Members </p>
                                {% endfor %}
                            </div>
                        </div>
                        {# end group members#}
                        {# followers#}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordionUsersOfTAskGroup"
                                       href="#collapseGroupUsersFollowers">
                                        Followers
                                        <small>{{ entity.userFollowers|length }}</small>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseGroupUsersFollowers" class="panel-collapse collapse maxHeight300 pt10">
                                {% for user in entity.userFollowers  %}
                                    <p class="ml20 pl5 pr5">
                                        <a href="{{ path("user_profile_show",{"id":user.getId}) }}">
                                            <i class="fa fa-user {{ get_role_class(user) }}"> </i> {{ user.getUserName }}
                                        </a>
                                    </p>
                                {% else %}
                                    <p class="pl20 pr5 bg-warning"> Any Followers </p>
                                {% endfor %}
                            </div>
                        </div>
                        {# end followers#}
                        {# others #}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordionUsersOfTAskGroup"
                                       href="#collapseGroupUsersOthers">
                                        Others
                                        <small>{{ others|length }}</small>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseGroupUsersOthers" class="panel-collapse collapse maxHeight300 pt10">
                                {% for user in others  %}
                                    <p class="ml20 pl5 pr5">
                                        <a href="{{ path("user_profile_show",{"id":user.getId}) }}">
                                            <i class="fa fa-user {{ get_role_class(user) }}"> </i> {{ user.getUserName }}
                                        </a>
                                    </p>
                                {% else %}
                                    <p class="pl20 pr5 bg-warning"> Any Others </p>
                                {% endfor %}
                            </div>
                        </div>
                        {# end others #}
                    </div>
                </div>
            </div>
        </div>{# row lists  #}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        "@UnirCloudBoxBundle/Resources/public/js/wodsShowEntity.js"
        "@UnirCloudBoxBundle/Resources/public/js/showWodGroup.js"
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}