{% extends "::base.html.twig" %}

{% block body %}
    {{ form_start(form) }}
    <div class="row ml20 mr20">
        <div class="col-md-3">
            <div class="form-group">
                {{ form_row(form.email, {'attr': {'class':'form-control'}}) }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                {{ form_row(form.username, {'attr': {'class':'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="row ml20 mr20">
        <div class="col-md-3">
            <div class="form-group">
                {{ form_row(form.plain_password.first, {'attr': {'class':'form-control'}}) }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                {{ form_row(form.plain_password.second, {'attr': {'class':'form-control'}}) }}
            </div>
        </div>
    </div>

    <div class="row ml20 mr20 mt20">
        <div class="col-md-2 col-md-offset-4">
            {{ form_row(form.submit,{'attr':{'class':'btn btn-primary pull-right ml20 mr20'}}) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}