{% extends '::frontend.html.twig' %}

{% block article %}
    <div class="container-fluid indexUser">
        {% for message in app.session.getFlashBag().get("created") %}
            <div class="row">
                <div class="col-md-9 col-md-offset-1">
                    <p class="bg-info pAll10">{{ message }}</p>
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <h2>
                    <i class="fa fa-users"></i>
                    Groups Users
                    <span class="btn btn-success btn-xs btn_newGroupUser"><i class="fa fa-plus"></i></span>
                </h2>
                <input name="idGroup" class="inputIdGroupUserList" type="hidden">
                <ul class="list-group listUserGroups">
                    <li class="list-group-item singleHover cursor_pointer itemUserGroup userGroupId" data-id="" data-name="All">
                        <i class="fa fa-gear cursor_pointer hide"></i>
                        All
                        <span class="badge alert-success">{{ users|length }}</span>
                    </li>
                    {% for userGroup in userGroups %}
                        <li class="list-group-item singleHover cursor_pointer itemUserGroup userGroupId{{ userGroup.id }}"
                                data-id="{{ userGroup.id }}" data-name="{{ userGroup.name }}">
                            <div class="displayInlineBlock dropdown dropDownStop">
                                <i class="fa fa-gear cursor_pointer dropdown-toggle " data-toggle="dropdown"></i>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a class="editUserGroup"><i class="fa fa-edit"></i> Edit</a></li>
                                    <li class="divider"></li>
                                    <li><a class="deleteUserGroup"><i class="fa fa-trash-o"></i> Remove</a></li>
                                </ul>
                            </div>
                            {{ userGroup.name }}
                            <span class="badge alert-success">{{ userGroup.users|length }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <h2>
                                    Users in:
                                    <span class="nameGroupList"></span>
                                    <a href="{{ path("register") }}" class="btn btn-success pull-right mb10"><i class="fa fa-plus"></i> New User</a>
                                </h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="listUsersInGroup">
                                    {% include 'UnirCloudBoxBundle:User:includes/listUsersInGroup.html.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
    {% javascripts
        "@UnirCloudBoxBundle/Resources/public/js/user.js"
        "@UnirCloudBoxBundle/Resources/public/js/indexUser.js"
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}