{% extends '::frontend.html.twig' %}
{% block article %}
    {{ form_start(form) }}
    <div class="row ml20 mr20">
        <div class="col-md-2">
            <div class="form-group">
                {{ form_row(form.email, {'attr': {'class':'form-control'}}) }}
            </div>
        </div>
        {% if form.Enterprise is defined %}
        <div class="col-md-4">
            <div class="form-group">
                {{ form_row(form.Enterprise, {'attr': {'class':'form-control chosenGeneric'}}) }}
            </div>
        </div>
        {% endif %}
        {% if form.roles is defined %}
        <div class="col-md-2">
            <div class="form-group">
                {{ form_label(form.roles) }}
                <div class="checkbox mt0">
                    {{ form_widget(form.roles) }}
                </div>
                {{ form_errors(form.roles) }}
            </div>
        </div>
       {% endif %}
    </div>

    <div class="row ml20 mr20 mt20">
        <div class="col-md-3">
            <a class="ml20 pull-left" href="{{ path('wodgroup') }}">
                &ll; Back to the list
            </a>
        </div>
        <div class="col-md-2 col-md-offset-2">
            {{ form_row(form.submit,{'attr':{'class':'btn btn-primary pull-right ml20 mr20'}}) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}