{% extends '::frontend.html.twig' %}
{% block article %}
    <div class="container viewUser">
        <div class="row">
            <div class="col-md-12">
                <h1 class="pull-left">
                    <i class="fa fa-user {{ get_role_class(user) }}"></i>
                    {{ user.getUserName }}
                </h1>
                {% if user.getEnterprise %}
                    <h1 class="pull-left ml20">
                        <small><i class="fa fa-building-o"></i> {{ user.getEnterprise.getName }}</small>
                    </h1>
                {% endif %}
                <button class="btn btn-warning pull-right mt20 editUserProfile"
                        data-id="{{ user.id }}" data-name="{{ user.username }}">
                    Edit
                </button>
                {#<button class="btn btn-danger pull-right mt20 mr20 " data-trigger="removeUser"
                        data-id="{{ user.id }}">
                    Delete user
                </button>#}
                {% if user.enabled %}
                    <button class="btn btn-warning pull-right mt20 mr20 " data-trigger="disableUser"
                            data-id="{{ user.id }}">
                        Disable user
                    </button>
                {% elseif not user.enabled %}
                    <button class="btn btn-success pull-right mt20 mr20 " data-trigger="enableUser"
                            data-id="{{ user.id }}">
                        Enable user
                    </button>
                {% endif %}
            </div>
        </div>
        <div class="row">
            {% include "UnirCloudBoxBundle:Utils:filterWodsShowEntity.html.twig" with {"idName":"idUser","entity":user , "wodListName":""}%}
            <div class=" col-md-5">
                <h4>List of relations</h4>
                <div class="panel-group  accordionWodsOfWorkGroup" id="accordionWodsOfWorkGroup">
                    {# wodGroups is member#}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordionWodsOfWorkGroup"
                                            href="#accordionWodGroupsMemberOfWorkGroup">
                                        Wod Groups is Member <small>{{ wodGroupMember|length }}</small>
                                    </a>
                                </h4>
                            </div>
                            <div id="accordionWodGroupsMemberOfWorkGroup" class="panel-collapse collapse maxHeight300">
                                <div class="panel-body pl20">
                                    {% for wodGroup in wodGroupMember %}
                                        <p>
                                            <a href="{{ path('wodgroup_show', { 'id': wodGroup.id }) }}">
                                                 {{ wodGroup.getName() }}
                                            </a>
                                        </p>
                                    {% else %}
                                        <p class="bg-warning">Any wod groups that is member </p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {# end wodgroups is member#}
                    {# wodGroups is follower#}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordionWodsOfWorkGroup"
                                        href="#accordionWodGroupsFollowerOfWorkGroup">
                                    Wod Groups is Follower <small>{{ user.getFollowedWodGroups|length }}</small>
                                </a>
                            </h4>
                        </div>
                        <div id="accordionWodGroupsFollowerOfWorkGroup" class="panel-collapse collapse maxHeight300">
                            <div class="panel-body pl20">
                                {% for wodGroup in user.getFollowedWodGroups %}
                                    <p>
                                        <a href="{{ path('wodgroup_show', { 'id': wodGroup.id }) }}">
                                            {{ wodGroup.getName() }}
                                        </a>
                                    </p>
                                {% else %}
                                    <p class="bg-warning">Any wod groups that is follower </p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {# end wodgroups is follower#}

                    {# workGroup is member#}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordionWodsOfWorkGroup"
                                        href="#accordionWorkGroupsMemberOfWorkGroup">
                                    WorkGroup is Member <small>{{ workGroupsMember|length }}</small>
                                </a>
                            </h4>
                        </div>
                        <div id="accordionWorkGroupsMemberOfWorkGroup" class="panel-collapse collapse maxHeight300">
                            <div class="panel-body pl20">
                                {% for workGroup in workGroupsMember %}
                                    <p>
                                        <a href="{{ path('workGroup_show', { 'id': workGroup.id }) }}">
                                            {{ workGroup.getName() }}
                                        </a>
                                    </p>
                                {% else %}
                                    <p class="bg-warning">Any workGroup that is member </p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {# end workGroup is member#}

                    {# userGroups is member#}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordionWodsOfWorkGroup"
                                   href="#accordionUserGroupsMemberOfWorkGroup">
                                    User Groups is Member <small>{{ user.getGroups|length }}</small>
                                </a>
                            </h4>
                        </div>
                        <div id="accordionUserGroupsMemberOfWorkGroup" class="panel-collapse collapse maxHeight300">
                            <div class="panel-body pl20">
                                {% for userGroup in user.getGroups %}
                                    <p>
                                        {# TODO COMMENTED CUZ PAGE LINKED IS SO UGLY #}
                                        {# <a href="{{ path("group_show",{"id":userGroup.getId}) }}"> #}
                                        <a href="#">
                                            {{ userGroup.getName() }}
                                        </a>
                                    </p>
                                {% else %}
                                    <p class="bg-warning">Any user groups that is member </p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {# end user groups is member#}
                </div>
            </div>
        </div>

        <div class="row mt10">
            <div class="col-md-6">
                <h4>Activities</h4>
                <div class="maxHeight500 pl20 pr20">
                    {% include "UnirCloudBoxBundle:Wod/includes:comments.html.twig" with {'comments':wodActivities,'dashboard':true} %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        "@UnirCloudBoxBundle/Resources/public/js/user.js"
        "@UnirCloudBoxBundle/Resources/public/js/wodsShowEntity.js"
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}