<tr>
    <td>
        <a class="text-primary" href="{{ path("user_profile_show",{"id":user.getId}) }}">
            <i class="fa fa-user {{ icon_color_class }}"></i>
            {% if user.getExpired %}
                {{ user.getEmail }}
            {% else %}
                {{ user.getUsername}}
            {% endif %}
            {% if user == app.user %}<small> #MySelf</small>{% endif %}
        </a>
    </td>
    {% if app.security.granted("ROLE_OWNER") and not user.hasRole("ROLE_OWNER") %}
         <td>{{ user.getEnterprise.getName}}</td>
    {% elseif app.security.granted("ROLE_OWNER") %}
        <td></td>
    {% endif %}
    <td><i class="fa fa-clock-o"></i>{{ user.getLastLogin is empty?" Never Connected":(user.getLastLogin|date(" h:i:s d/m/y")) }}</td>
    <td>{% if user.getExpired %}
            <button class="btn btn-default disabled"><i class="fa fa-exclamation-circle"></i> User Hasn't yet been confirmed</button>
            <button data-id="{{ user.getId }}" data-trigger="removeUser" class="btn btn-danger"><i class="fa fa-trash-o"></i>Delete User</button>
        {% else %}
            {% if (not user.hasRole("ROLE_OWNER") and not (app.security.granted("ROLE_ADMIN") and not app.security.granted("ROLE_OWNER") and user.hasRole("ROLE_ADMIN"))) %}
                {% if user.enabled %}
                    <button data-id="{{ user.getId }}" data-trigger="disableUser" class="btn btn-warning">Disable User</button>
                {% else %}
                    <button data-id="{{ user.getId }}" data-trigger="enableUser" class="btn btn-success">Enable User</button>
                {% endif %}
                {% if not user.hasActivity() %}
                    <button data-id="{{ user.getId }}" data-trigger="removeUser" class="btn btn-danger"><i class="fa fa-trash-o"></i>Delete User</button>
                {% endif %}
             {% else %}
                <button class="btn btn-default disabled">No Actions for this User</button>
            {% endif %}
        {% endif %}
    </td>
</tr>