{%  extends 'UnirCloudBoxBundle:Ng/Template/modals:modalsStructure.html.twig' %}
{% block titleModal %}
    {{ confirmationTitle|default('confirmationTitle'|trans({},'generic')) }}
{% endblock %}

{% block bodyModal %}
    <div class="row">
        <div class="col-md-12">
            {% autoescape false %}
            <p>{{ confirmationQuestion|default('comfirmationQuestion'|trans({},'generic')) }}</p>
            {% endautoescape %}
        </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
{% endblock %}

{% block footerModal %}

    <form novalidate autcomplete="off"  data-form-save="{{ submitAction }}" parent-scope="parentScope">
        <input type="submit"
               class="btn pull-right {{ confirmationOkClass|default('btn-primary')  }}"
               tabindex="2"
               value="{{ confirmationTextOk|default('apply'|trans({},'generic')) }}"
               form-save-submit-button
               />

        <i class="pull-right fa fa-spinner fa-spin mr10 mt10" form-save-loading-spinner></i>

        <input type="button"
               class="btn btn-default pull-left"
               ng-click="{{ cancelAction }}"
               tabindex="1"
               value="{{ confirmationTextCancel|default('cancel'|trans({},'generic')) }}"
               form-save-cancel-button
               />
    </form>
{% endblock %}
