<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    </button>
    <h3 class="modal-title" ng-bind-html="title"></h3>
</div>

<form name="{{ form.vars.name }}" data-form-save="formSubmit(formData)" novalidate autocomplete="off">

    {# body #}
    <div class="modal-body">

        {% block content_inputs_form %}
        {%  endblock %}

        {# Token #}
        <span class="form-token">
            {{ form_row(form._token, {
                'attr': {
                    'class':'',
                        'data-value': form._token.vars.value,
                        'name':'token',
                    }
                })
            }}
        </span><!-- /.form-token -->

    </div>{# modal-body #}

    {# footer #}
    <div class="modal-footer">
        <input type="submit"
               class="btn btn-primary pull-right"
               value="Apply"
               form-save-submit-button
                />

        <i class="pull-right fa fa-spinner fa-spin mr10 mt10" form-save-loading-spinner></i>

        <input type="button"
               class="btn btn-default pull-left"
               ng-click="cancel()"
               value="Cancel"
               form-save-cancel-button
                />
    </div>

</form>