<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="{% block cancelModalFunction %}cancel(){% endblock %}">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    </button>
    <h3 class="modal-title">{% block titleModal %}{% endblock %}</h3>
</div>
<div class="modal-body">
    {% block bodyModal %}{% endblock %}
</div>
<div class="modal-footer">
    {% block footerModal %}{% endblock %}
</div>