{% extends 'FOSUserBundle::layout.html.twig' %}
{% block stylesheets %}
        {{ parent() }}
        {% stylesheets filter="cssrewrite"
            "bundles/unircloudbox/css/login.css"
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
{% endblock %}
{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
<div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <div class="account-wall">
                    <img class="profile-img" src="{{ asset("bundles/unircloudbox/img/kettle.jpg") }}"
                         alt="">
                    {% if error %}
                        <p class="text-center text-danger"><strong>El usuario o Password son Incorrectos</strong></p>
                    {% endif %}
                    <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        <input type="text" id="username" class="form-control" placeholder="{{ 'security.login.username'|trans }}" name="_username" value="{{ last_username }}" required="required" />
                        <input type="password" class="form-control" id="password" name="_password" placeholder="{{ 'security.login.password'|trans }}" required="required" />
                        <label class="checkbox pull-left">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            Remember me
                        </label>
                        <input class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    {#<form action="{{ path("fos_user_security_check") }}" method="post" role="form">#}

        {#<h1 class="text-center">Login</h1>#}

        {#<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />#}
        {#<div class="form-group">#}
            {#<label for="username">{{ 'security.login.username'|trans }}</label>#}
            {#<input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />#}
        {#</div>#}

        {#<div class="form-group">#}
            {#<label for="password">{{ 'security.login.password'|trans }}</label>#}
            {#<input class="form-control" type="password" id="password" name="_password" required="required" />#}
        {#</div>#}

        {#<div class="checkbox pull-left">#}
            {#<label for="remember_me">#}
                {#<input type="checkbox" id="remember_me" name="_remember_me" value="on" />#}
                {#{{ 'security.login.remember_me'|trans }}#}
            {#</label>#}
        {#</div>#}


        {#<input class="btn btn-primary pull-right" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />#}
    {#</form>#}
{% endblock fos_user_content %}