<ul class="nav navbar-nav navbar-right"
    ng-if="getMainData().user.isRoleOwner() || getMainData().user.isRoleAdmin()">

    <li class="dropdown">

        <a data-toggle="dropdown" dropdown class="cursorPointer dropdown-toggle dropDownAdminIcon">
            <i class="fa fa-gear"></i>
            <span class="caret"></span>
        </a><!-- /.dropdown-togge -->
        <ul class="dropdown-menu">
            {# There is no sense to activate this menu #}
            {#<li &#123;&#35; ng-class="{active: isMenuActive('wodGroups') } "&#35;&#125;>#}
                {#<a href="{{ path("ng_wodGroup_list") }}">#}
                    {#<i class="fa fa-sitemap"></i> Grupos#}
                {#</a>#}
            {#</li><!-- /li -->#}
            {# There is no sense to activate this menu #}
            <li {# ng-class="{active: isMenuActive('wodGroups') }" #}>
                <a href="{{ path("ng_user_list") }}" ><i class="fa fa-users"></i> Usuarios</a>
            </li>
        </ul><!-- /.dropdown-menu -->

    </li><!-- /.dropdown -->
</ul><!-- /.nav -->