    <li class="dropdown">
        <a class="dropdown-toggle cursorPointer" data-toggle="dropdown" dropdown>
            <i class="fa fa-plus-circle text-success"></i><strong> New</strong> <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li ng-if="getMainData().user.isRoleOwner()">
                <a class="cursor_pointer" ng-click="newEnterprise()">
                    <i class="fa fa-plus-circle text-success"></i>
                    Enterprise
                </a>
            </li>
            <li ng-if="getMainData().user.isRoleAdmin()">
                <a class="cursor_pointer" ng-click="newUser()">
                    <i class="fa fa-plus-circle text-success"></i>
                    User
                </a>
            </li>
            <li ng-if="getMainData().user.isRoleAdmin()">
                <a class="cursor_pointer" ng-click="newWorkGroup()">
                    <i class="fa fa-plus-circle text-success"></i>
                    WorkGroup
                </a>
            </li>
            <li ng-if="getMainData().user.isRoleAdmin()">
                <a class="cursor_pointer"
                   ng-click="newWodGroup()"
                   ng-show="getMainData().workGroups.length > 0">
                    <i class="fa fa-plus-circle text-success"></i>
                    Wod Group
                </a>
            </li>
            <li>
                <a class="cursor_pointer"
                   ng-click="newWod()"
                   ng-show="getMainData().workGroups.length > 0">
                    <i class="fa fa-plus-circle text-success"></i>
                    Wod
                </a>
            </li>
        </ul>
    </li>