<ul class="nav navbar-nav navbar-right">

    <li class="dropdown">

        <a data-toggle="dropdown" dropdown class="cursorPointer dropdown-toggle">
            <i class="fa fa-building-o"></i>
            <strong ng-bind="getMainData().selected_company.name "
                    class=" navBarEllipsis displayInlineBlock navBarCompanyBtn"></strong>
            <span class="caret"></span>
        </a><!-- /.dropdown-togge -->

        <ul class="dropdown-menu maxHeight300">

            <li ng-repeat="company in mainData.companies" ng-class="{active: company.is_selected_enterprise}">
                <a ng-href="{! generateRoute('ng-select_enterprise',{ id: company.id}) !}" target="_self"
                        class=" navBarEllipsis navBarCompanyItem">
                    <my-user-icon class=""
                                  element="span"
                                  name="{! company.name  !}"
                                  size="small">
                    </my-user-icon>
                    {! company.name !}
                </a>
            </li>

            {#any company#}
            <li ng-show="mainData.companies.length == 0">
                <a class="cursor_pointer" ng-click="newEnterprise()">
                    <i class="fa fa-plus-circle text-success"></i>
                    Create a new company
                </a>
            </li>

            {#last#}
            <li class="nav-divider" ng-show="mainData.companies.length > 0"></li>
            <li ng-show="mainData.companies.length > 0">
                <a ng-href="{! generateRoute('ng_enterprise_list') !}"
                   class="text-center">List all</a>
            </li>


        </ul><!-- /.dropdown-menu -->

    </li><!-- /.dropdown -->
</ul><!-- /.nav -->