<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">

        <a class="dropdown-toggle cursorPointer" data-toggle="dropdown" dropdown>
            <i class="fa fa-user"></i>
            <strong ng-bind="getMainData().user.username"></strong>
            <span class="caret"></span>
        </a><!-- /.dropdown-toggle -->

        <ul class="dropdown-menu" role="menu">
            {# Profile link #}
            <li>
                <a ng-href="{! generateRoute('ng_user_show',{ id: getMainData().user.id}) !}">
                    <i class="fa fa-qq"></i> Perfil
                </a>
            </li><!-- /li -->

            <li class="divider"></li><!-- /li -->

            {# Logout link #}
            <li>
                <a href="{{ path('fos_user_security_logout') }}" target="_self">
                    <i class="fa fa-sign-out"></i> Logout
                </a>
            </li><!-- /li -->
        </ul><!-- /.dropdown-menu -->

    </li><!-- /li -->
</ul><!-- /.nav -->