<ul class="nav navbar-nav navbar-right">

    <li class="dropdown when-are-workGroups" ng-show="getMainData().workGroups.length > 0">

        <a data-toggle="dropdown" dropdown class="cursorPointer dropdown-toggle">
            <i class="fa fa-folder-open-o displayInlineBlock"></i>
            <strong ng-bind="getMainData().workGroup.name" class=" navBarEllipsis displayInlineBlock navBarWorkGroupBtn"></strong>
            <span class="caret"></span>
        </a>

        <ul class="dropdown-menu maxHeight300">

            <li ng-repeat="workGroup in getMainData().workGroups"
                class="workGroup-item nowrap_ellipsis"
                ng-class="{ active: workGroup.is_selected_workGroup }">
                <a class="row">
                    <span class="col-md-12">
                        <span class="pull-right cursor_pointer" ng-click="goToRoute('ng_workGroup_show',{ id: workGroup.id})">
                            <i class="fa fa-pie-chart"></i>
                        </span>
                        <span class="pull-left cursor_pointer navBarEllipsis navBarWorkGroupItem" ng-click="goToRoute('ng-select_workGroup',{ id: workGroup.id},true)">
                            {! workGroup.name !}
                        </span>
                    </span>
                </a>
            </li>

            <li class="divider"></li>
            <li class="text-center"><a ng-href="{! generateRoute('ng_workGroup_list') !}">List All</a></li>

        </ul><!-- /.dropdown-menu -->

    </li><!-- /.when-are-workGroups -->

    <li ng-show="no-workGroups">
        <a ng-click="newWorkGroup()">
            <i class="fa fa-exclamation-circle"></i>
            <strong> There are no workGroups</strong>
        </a>
    </li><!-- /.no-workGroups -->

</ul><!-- /.navbar-nav -->