<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a class="dropdown-toggle cursorPointer" data-toggle="dropdown">
            <i class="fa fa-plus-circle text-success"></i><strong> New</strong> <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            {% if app.security.isGranted("ROLE_ADMIN") %}
              {% if app.security.isGranted("ROLE_OWNER") %}
                <li><a href="{{ path('enterprise_new') }}"><i class="fa fa-plus-circle text-success"></i> Enterprise</a></li>
              {% endif %}
                <li><a href="{{ path('register') }}"><i class="fa fa-plus-circle text-success"></i> User</a></li>
                <li><a href="{{ path('workGroup_new') }}"><i class="fa fa-plus-circle text-success"></i> WorkGroup</a></li>
                <li><a href="{{ path('wodgroup_new') }}"><i class="fa fa-plus-circle text-success"></i> Wod Group</a></li>
            {% endif %}
                <li><a href="{{ path('wod_new') }}"><i class="fa fa-plus-circle text-success"></i> Wod</a></li>
        </ul>
    </li>
</ul>