<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href='{{ path("dashboard") }}'>CloudBoxs</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href='{{ path("dashboard") }}'><i class="fa fa-cogs"></i> DashBoard</a></li>
                <li><a href="{{ path("wod") }}"><i class="fa fa-wods"></i> Wods</a></li>
                {% if app.security.isGranted("ROLE_ADMIN") %}
                    <li><a href="{{ path("wodgroup") }}"><i class="fa fa-sitemap"></i> Grupos</a></li>
                    {% if app.security.isGranted("ROLE_OWNER") %}
                        <li><a href="{{ path("enterprise") }}"><i class="fa fa-building"></i> Empresas</a></li>
                    {% endif %}
                    <li><a href="{{ path("user_list") }}"><i class="fa fa-users"></i> Usuarios</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle cursorPointer" data-toggle="dropdown">
                        <i class="fa fa-user"></i><strong> {{ app.user.getUserName() }}</strong> <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path("user_profile_show" , {"id":app.user.getId}) }}"><i class="fa fa-qq"></i> Perfil</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i> Logout</a></li>
                    </ul>

                </li>
            </ul>

            {% include "UnirCloudBoxBundle:NavBar/enterprise_dropdown:enterprise_dropdown.html.twig" %}
            {% include "UnirCloudBoxBundle:NavBar/workGroup_dropdown:workGroup_dropdown.html.twig" %}
            {% include "UnirCloudBoxBundle:NavBar:creation_dropdown.html.twig" %}
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>