<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    </button>
    <h3 class="modal-title" ng-bind-html="title"></h3>
</div>

<form name="{{ form.vars.name }}" data-form-save="formSubmit(formData)" novalidate autocomplete="off">

    {# body #}
    <div class="modal-body">

        <div class="row">

            {# status #}
            <div class="col-md-3">
                {{ form_row(form.status, { 'attr': {'tabindex': "1"} }) }}
            </div>

            {# difficulty #}
            <div class="col-md-3">
                {{ form_row(form.difficulty, { 'attr': {'tabindex': "2"} }) }}
            </div>

            {# wodGroup #}
            <div class="col-md-6">
                {{ form_row(form.wodGroup, { 'attr': {
                    'tabindex': "3",
                    'ng-options': 'wodGroup.id as wodGroup.name for wodGroup in wodGroups',
                } }) }}
            </div>
        </div>

        <div class="row mt20">

            {#title#}
            <div class="col-md-8">
                {{ form_row(form.title, { 'attr': {'tabindex': "4"} }) }}
            </div>

        </div>
        <div class="row">
            {# description #}
            <div class="col-md-12">
                {{ form_row(form.description, { 'attr': {'tabindex': "5",'ui-tinymce':'tinyMCEOptions'} }) }}
            </div>

        </div>

        <div class="row mt20">

            {#usersAssigned#}
            <div class="col-md-4">
                {{ form_row(form.usersAssigned, { 'attr': {
                    'tabindex': "6",
                    'ng-options': 'user.id as user.username for user in users',
                } }) }}
            </div>

            {#usersFollower#}
            <div class="col-md-4">
                {{ form_row(form.usersFollower, { 'attr': {
                    'tabindex': "7",
                    'ng-options': 'user.id as user.username for user in users',
                } }) }}
            </div>

            {# estimation time #}
            <div class="col-md-4">
                {{ form_row(form.estimationTime, { 'attr': {'tabindex': "8"} }) }}
            </div>

        </div>


        {# Token #}
        <span class="form-token">
            {{ form_row(form._token, {
            'attr': {
            'class':'',
            'data-value': form._token.vars.value,
            'name':'token',
            }
            })
            }}
        </span><!-- /.form-token -->

    </div>

    {# footer #}
    <div class="modal-footer">
        <input type="submit"
               class="btn btn-primary pull-right"
               tabindex="9"
               value="Apply"
               form-save-submit-button
                />

        <i class="pull-right fa fa-spinner fa-spin mr10 mt10" form-save-loading-spinner></i>

        <input type="button"
               class="btn btn-default pull-left"
               ng-click="cancel()"
               tabindex="10"
               value="Cancel"
               form-save-cancel-button
                />
    </div>

</form>
