<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    </button>
    <h3 class="modal-title" ng-bind-html="title"></h3>
</div>

<form data-form-save="formSubmit(formData)" novalidate autocomplete="off" name="{{ form.vars.name }}">

    {# body #}
    <div class="modal-body pAll20">


        {#
            comment

            date_start.date.year
            date_start.date.month
            date_start.date.day
            date_start.time.hour
            date_start.time.minute

            date_end.date.year
            date_end.date.month
            date_end.date.day
            date_end.time.hour
            date_end.time.minute
        #}

        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <div class="input-group dateTimePickerTiming">
                    <h4>Date Start: <small> {! formData.start.date|date:'short' !} </small></h4>
                    <datetimepicker ng-model="formData.start.date" class="well well-sm" required
                                    data-datetimepicker-config="{ minuteStep:10}" >
                    </datetimepicker>
                </div>
            </div><!-- /.col-md-6-->

            <div class="col-md-5 col-md-offset-1">
                <div class="input-group dateTimePickerTiming">
                    <h4>Date End: <small> {! formData.end.date|date:'short' !}</small> </h4>
                    <datetimepicker ng-model="formData.end.date" class="well well-sm" required
                                    data-datetimepicker-config="{ minuteStep:10}" >
                    </datetimepicker>
                </div>
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->


        {#comment#}
        <div class="row mt20">

            <div class="col-md-10 col-md-offset-1">
                {{ form_row(form.comment, {'attr': {'tabindex': "1",'ui-tinymce': 'tinyMCEOptions'} }) }}
            </div>

        </div>

         <span class="form-token">
            {{ form_row(form._token, {
                'attr': {
                    'class':'',
                    'data-value': form._token.vars.value,
                    'name':'token',
                }
            }) }}
        </span><!-- /.form-token -->

        {#<pre>{! formData | json !}</pre>#}
    </div>

    {# footer #}
    <div class="modal-footer">
        <input type="submit"
               class="btn btn-primary pull-right"
               tabindex="9"
               value="Apply"
               form-save-submit-button
                />

        <i class="pull-right fa fa-spinner fa-spin mr10 mt10" form-save-loading-spinner></i>

        <input type="button"
               class="btn btn-default pull-left"
               ng-click="cancel()"
               tabindex="10"
               value="Cancel"
               form-save-cancel-button
                />
    </div>

</form>