<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    </button>
    <h3 class="modal-title" ng-bind-html="title"></h3>
</div>

<form name="{{ form.vars.name }}" data-form-save="formSubmit(formData)" novalidate autocomplete="off">

    {# body #}
    <div class="modal-body pl20 pr20 mr20 ml20">

        {# title #}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.title, { 'attr': {'tabindex': "1"} }) }}
            </div>
        </div>

        {# description #}
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.description, { 'attr': {'tabindex': "2",'ui-tinymce': 'tinyMCEOptions'} }) }}
            </div>
        </div>

        {# group, estimation and viewBy #}
        <div class="row mt20">

            {#wodGroup#}
            <div class="col-md-4">
                {{ form_row(form.wodGroup, {
                        'attr': {
                            'ng-options': 'wodGroup.id as wodGroup.name for wodGroup in wodGroups',
                            'tabindex': "3",
                        }
                    })
                }}
            </div>

            {# estimation time #}
            <div class="col-md-4">
                {{ form_row(form.estimationTime, {'attr': {'tabindex': "5"} }) }}
            </div>

            {#viewBy#}
            <div class="col-md-4">
                {{ form_row(form.viewBy, { 'attr': {'tabindex': "4"} }) }}
            </div>

        </div>


        {# Token #}
        <span class="form-token">
            {{ form_row(form._token, {
                'attr': {
                    'class':'',
                    'data-value': form._token.vars.value,
                    'name':'token',
                    }
                })
            }}
        </span><!-- /.form-token -->

    </div>

    {# footer #}
    <div class="modal-footer">
        <input type="submit"
               class="btn btn-primary pull-right"
               tabindex="6"
               value="Apply"
               form-save-submit-button
                />

        <i class="pull-right fa fa-spinner fa-spin mr10 mt10" form-save-loading-spinner></i>

        <input type="button"
               class="btn btn-default pull-left"
               ng-click="cancel()"
               tabindex="7"
               value="Cancel"
               form-save-cancel-button
                />
    </div>

</form>
