{#close btn#}
<a class="btnCloseShowWod cursor_pointer" ng-click="closeSelectedWod()"
   ng-show="isShowWodInFullScreen()">
    Wods
</a>
<span class="tabNameWodShow" ng-show="isShowWodInFullScreen()">
    {! getSelectedWod().title !}
</span>

{# row not wod selected #}
<div class="row mt20" ng-show="getSelectedWod() == null">
    <div class="col-md-12">
        <div class="anySelectedWodPreview" >
            <p class="">Selecciona una tarea</p>
        </div>
    </div>
</div>

{# row not wod selected #}
<div class="row mt20"  ng-show="getSelectedWod() != null && !getSelectedWod().canView">
    <div class="col-md-12">
        <div class="well">
            <p>No puedes ver este wod</p>
        </div>
    </div>
</div>


{# row show wod #}
<div class="row viewWod" ng-show="getSelectedWod() != null && getSelectedWod().canView ">
    <div class="colWodAll" ng-class="{ 'col-md-10 col-md-offset-1 mt20' : isShowWodInFullScreen(), 'col-md-12': !isShowWodInFullScreen() }">


        {# actions: delete, edit, assignme, followed #}
        <div class="row actionsShowWod">
            <div class="col-md-12">

                <div class="dropdown pull-right" ng-show="!canEdit">
                    <button data-toggle="dropdown" dropdown class="dropdown-toggle  btn btn-default ">
                        <i class="fa fa-cog"></i>
                        <span class="caret"></span>
                    </button><!-- /.dropdown-togge -->
                    <ul class="dropdown-menu">
                        <li ng-click="edit(getSelectedWod())">
                            <span>
                                <i class="fa fa-edit"></i>
                                Edit
                            </span>
                        </li><!-- /li -->
                        <li class="divider"></li>
                        <li ng-click="deleteWod(getSelectedWod())">
                            <span class="text-danger">
                                <i class="fa fa-trash-o"></i>
                                Delete
                            </span>
                        </li>
                    </ul><!-- /.dropdown-list -->
                </div>

                {#<div class="pull-right">#}
                    {#<button class="delete btn btn-danger mr10"#}
                            {#ng-click-load-replace="deleteWod(getSelectedWod())">#}
                        {#Delete#}
                    {#</button>#}
                {#</div>#}

                {#<div class="pull-right" ng-show="!canEdit">#}
                    {#<button class="edit btn btn-warning mr10"#}
                            {#ng-click-load-replace="edit(getSelectedWod())">#}
                        {#Edit#}
                    {#</button>#}
                {#</div>#}

                {# dropdown change difficulty#}
                <div class="dropdown pull-right mr10">
                    <button class="dropdown-toggle cursor_pointer btn btn-default"
                            data-toggle="dropdown" dropdown ng-disabled="canEdit"
                            ng-class="'text-'+printColorDifficulty(getSelectedWod().difficulty)" >
                        {! getTranslationDifficulty(getSelectedWod().difficulty) !}
                        <span class="caret"></span>
                    </button><!-- /.dropdown-togge -->
                    <ul class="dropdown-menu">
                        <li>
                            <a class="cursor_pointer text-danger text-center"
                               ng-click="changeDifficulty(getSelectedWod(),'critical')">
                                Critical
                            </a>
                        </li>
                        <li>
                            <a class="cursor_pointer text-warning text-center"
                               ng-click="changeDifficulty(getSelectedWod(),'high')">
                                High
                            </a>
                        </li>
                        <li>
                            <a class="cursor_pointer text-center"
                               ng-click="changeDifficulty(getSelectedWod(),'normal')">
                                Normal
                            </a>
                        </li>
                        <li>
                            <a class="cursor_pointer text-info text-center"
                               ng-click="changeDifficulty(getSelectedWod(),'minor')">
                                Minor
                            </a>
                        </li>
                        <li>
                            <a class="cursor_pointer text-success text-center"
                               ng-click="changeDifficulty(getSelectedWod(),'low')">
                                Low
                            </a>
                        </li>
                    </ul><!-- /.dropdown-list -->
                </div>{# dropdown change difficulty#}


                <div class="pull-right ">
                    <button class="assignMe btn btn-default mr10"
                            ng-class="{active:getSelectedWod().isCurrentUserAssigned}"
                            ng-click-load-replace="assignWod(getSelectedWod())"
                            ng-bind="getSelectedWod().isCurrentUserAssigned ? 'Assigned' : 'Assign to me'"
                            ></button>
                </div>

                <div class="pull-right ">
                    <button class="follow btn btn-default mr10"
                            ng-class="{active:getSelectedWod().isCurrentUserFollower}"
                            ng-click-load-replace="followWod(getSelectedWod())"
                            ng-bind="getSelectedWod().isCurrentUserFollower ? 'Followed' : 'Follow '"
                            ></button>
                </div>

                <button class="btn btn-default pull-right mr10"
                        ng-click-load-replace="startTimer(getSelectedWod())"
                        ng-show="!getCurrentTimingWod() && !canEdit"
                        >
                    <i class="fa fa-play"></i>
                </button>



            </div>
        </div>


        {# header wod #}
        <div class="row mb5">
            <div class="col-md-12 dataWodHeader">

                {# btn change status and difficulty #}
                <button class="btn btn-xs btn-status pull-left btnStatusWod"
                        my-wod-popover-directive="getSelectedWod()">
                    <span class="text-muted" ng-class="printStatusIcon(getSelectedWod().status)"> </span>
                </button>{# btn change status and difficulty #}

                <h1 class="  elementHover wodTitle">
                    {! getSelectedWod().title !}
                </h1>
                <h5 class=" mt0 text-muted dataCreationWod">
                    <span class="navBarEllipsisDataInline navBarEllipsis displayInlineBlock">Created on</span>
                    <strong class="navBarEllipsisDataInline navBarEllipsis displayInlineBlock">{! getSelectedWod().created | date:'EEE d, MMM yyyy ' !}</strong>
                    <span class="navBarEllipsisDataInline navBarEllipsis displayInlineBlock">By</span>
                    <a class="navBarEllipsisDataInline navBarEllipsis displayInlineBlock"
                            ng-href="{! generateRoute('ng_user_show',{ id: getSelectedWod().creation_user.id}) !}">
                        @<span>{! getSelectedWod().creation_user.username !}</span>
                    </a>
                    <span class="navBarEllipsisDataInline navBarEllipsis displayInlineBlock">In</span>
                    <strong class="navBarEllipsisDataInline navBarEllipsis displayInlineBlock">{! getSelectedWod().wod_group.name !}</strong>
                </h5>

            </div>
        </div>{# header wod #}

        {# description wod #}
        <div class="row descriptionShowWod">
            <div class="col-md-12">
                <div class=" wodDescription" ng-show=" getSelectedWod().description !='' ">
                    <span ng-bind-html="getSelectedWod().description"></span>
                </div>

                <p class="wodDescription text-center" ng-show=" getSelectedWod().description =='' ">
                    -- No description --
                </p>
            </div>
        </div>{# description wod #}


        {# users wod and sub wods #}
        <div class="row mt10">


            {# sub wods #}
            <div class="col-md-7 colSubWods">

                <div class="row" ng-show="getSelectedWod().sub_wods.length > 0">
                    <div class="col-md-12">
                        <div class="progress mb10">
                            <div class="progress-bar progress-bar-success" role="progressbar"
                                 aria-valuenow="{! getPercentClosed() !}" aria-valuemin="0"
                                 aria-valuemax="100" ng-style="{ width: getPercentClosed() + '%'} ">
                                {! getPercentClosed() !}%
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" >
                    <div class="col-md-12" ng-init="showListSubWods = false">


                        {# list subwods #}
                        <ul class="list-unstyled listSubWodsShowWod" ng-show="selectedWod.sub_wods.length > 0">
                            <li class="" ng-repeat="subT in selectedWod.sub_wods">
                                <div class="row">
                                    <div class="col-md-12">

                                        {# tools sub wod #}
                                        <span class="dropdown">
                                            <span class="dropdown-toggle cursor_pointer" data-toggle="dropdown" dropdown>
                                                <i class="fa fa-cog"></i>
                                            </span>
                                            <ul class="dropdown-menu">
                                                <li ng-click="toggleStatusSubWod(subT)"
                                                    ng-show="subT.status == 'closed'">
                                                    <span>Open</span>
                                                </li>
                                                <li ng-click="toggleStatusSubWod(subT)"
                                                    ng-hide="subT.status == 'closed'">
                                                    <span>Close</span>
                                                </li>
                                                <li class="divider"></li>
                                                <li ng-click="deleteSubWod(subT)">
                                                    <span class="text-danger">Delete</span>
                                                </li>
                                            </ul>
                                        </span>

                                        {# title sub wod #}
                                        <span class="ml5 cursor_pointer titleSubWod" ng-click="toggleStatusSubWod(subT)"
                                              ng-class="{ 'subWodTitleClosed': subT.status == 'closed' }">
                                            {! subT.title !}
                                        </span>

                                    </div>
                                </div>
                            </li>
                        </ul>{# list subwods #}

                        {# Any sub wod #}
                        <h5 class="text-muted" ng-show="getSelectedWod().sub_wods.length ==  0 ">Any subWod</h5>

                        {# new sub wod #}
                        <div class="row divNewWodGroup" ng-show="!canEdit">
                            <div class="col-md-12">
                                <form ng-submit="createSubWod(subWodInputTitle)">
                                    <div class="form-group positionRelative mb5">
                                        <input type="text" class="form-control"
                                               placeholder="New subWod" ng-model="subWodInputTitle">
                                        <i class="fa fa-times-circle clearInputNewSubWod"
                                           ng-show="subWodInputTitle"
                                           ng-click="subWodInputTitle = '';"></i>
                                    </div>
                                    <a class="width100 text-left btnNewSubWod cursor_pointer text-success"
                                       ng-click-load-replace="createSubWod(subWodInputTitle)"
                                       ng-show="subWodInputTitle">
                                        Create sub wod: <strong>{! subWodInputTitle !}</strong>
                                    </a>
                                </form>
                            </div>
                        </div>{# new sub wod #}

                        {#<a class="text-success cursor_pointer a_decoration_none"#}
                           {#ng-click="showFormNewSubWod = true" ng-show="!showFormNewSubWod">#}
                            {#<i class="fa fa-plus"></i> New subWod#}
                        {#</a>#}
                        {#<div class="row" ng-show="showFormNewSubWod">#}
                            {#<div class="col-md-12 form-inline">#}
                                {#<div class="form-group" >#}
                                    {#<input class="form-control" type="text" placeholder="New subWod" ng-model="subWodInputTitle">#}
                                {#</div>#}
                                {#<a class="text-muted cursor_pointer a_decoration_none"#}
                                   {#ng-click="showFormNewSubWod = false;subWodInputTitle = '';">#}
                                    {#<i class="fa fa-times-circle fa-2x verticalAlignMiddle"></i>#}
                                {#</a>#}
                                {#<a class="text-primary cursor_pointer a_decoration_none"#}
                                   {#ng-click-load-replace="createSubWod(subWodInputTitle)">#}
                                    {#<i class="fa fa-check-circle fa-2x verticalAlignMiddle"></i>#}
                                {#</a>#}
                            {#</div>#}
                        {#</div>#}

                    </div>
                </div>
            </div>{# sub wods #}


            {# users #}
            <div class="col-md-5">
                <p class="text-right text-muted">
                    <span class="mr10">Users Asiggned: </span>
                    <my-user-icon class="mt5" ng-class="{ml5:$first, mr0:$last}"
                                  ng-hide=" $index > 3 && !showAllUsersAssigned"
                                  name="{! u.username !}"
                                  element="a"
                                  wodslug="{! getSelectedWod().slug !}"
                                  link="{! u.id !}"
                                  size="normal"
                                  ng-repeat="u in getSelectedWod().users_assigned" >
                    </my-user-icon>
                    <my-user-icon class=""
                                  ng-show=" getSelectedWod().users_assigned.length > 4 "
                                  ng-click="showAllUsersAssigned = !showAllUsersAssigned"
                                  element="span"
                                  name="..."
                                  size="normal">
                    </my-user-icon>
                    <span class="btnEditUsers fa fa-edit text-info cursor_pointer" ng-show="!canEdit"
                          ng-click-load-replace="editUsersAssigned(getSelectedWod())"></span>
                </p>
                <p class="text-right text-muted mt20">
                    <span class="mr10">Users Followed: </span>
                    <my-user-icon class="mt5" ng-class="{ml5:$first, mr0:$last}"
                                  ng-hide=" $index > 3 && !showAllUsersFollower"
                                  name="{! u.username !}"
                                  element="a"
                                  wodslug="{! getSelectedWod().slug !}"
                                  link="{! u.id !}"
                                  size="normal"
                                  ng-repeat="u in getSelectedWod().users_follower" >
                    </my-user-icon>
                    <my-user-icon class=""
                                  ng-show=" getSelectedWod().users_follower.length > 4 "
                                  ng-click="showAllUsersFollower = !showAllUsersFollower"
                                  element="span"
                                  name="..."
                                  size="normal">
                    </my-user-icon>
                    <span class="btnEditUsers fa fa-edit text-info cursor_pointer" ng-show="!canEdit"
                          ng-click-load-replace="editUsersFollower(getSelectedWod())"></span>
                </p>
            </div>{# users wod #}

        </div>{# users wod and sub wods #}

        {# comments wod #}
        <div class="row mt20">
            <div class="col-md-12">

                {#show activities and comments#}
                <my-activities-timeline-wod
                        elements="getSelectedWod().activitiesAndComments.elements"
                        parent-scope="this" >
                </my-activities-timeline-wod>

                {#add new coment#}
                <div class="newCommentDiv mt20 mb20" ng-show="!canEdit">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>New comment</label>
                                <textarea ui-tinymce="tinyMCEOptions"
                                          ng-model="comment.commentText"
                                          class="form-control"
                                          rows="2"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary pull-right"
                                    ng-click-load-replace="doComment(getSelectedWod())"
                                    >Añadir comentario</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>{# comments wod #}


    </div>
</div>{# row show wod #}

{# modal edit wod #}
<script type="text/ng-template" id="edit-wod-modal.tpl">
    {{ wod_short_form()|raw }}
</script>

{# modal edit users assigned #}
<script type="text/ng-template" id="edit-usersAssigned-wod-modal.tpl">
    {{ wod_assigned_form()|raw }}
</script>

{# modal edit users follower #}
<script type="text/ng-template" id="edit-usersFollower-wod-modal.tpl">
    {{ wod_follower_form()|raw }}
</script>