<table class="records_list listWods table table-striped table-bordered table-responsive table-hover table-nowrap"
       ng-show="wods.length">
    <tbody>

    <tr ng-repeat="t in wods" ng-class="{ 'bg-info': t.selected }">

        <td class="lineDifficultyWodTable" ng-class="printColorDifficulty(t.difficulty)"></td>

        <td class="difficultyTableWod" data-wod-slug="{! t.slug !}">
            <button class="btn btn-xs btn-status" data-wod-slug="{! t.slug !}">
                <span class="text-muted" ng-class="printStatusIcon(t.status)"> </span>
            </button>
        </td>

        <td class="titleWod">
            <a
               ng-href="{! parentScope.generateRoute('ng_wod_show',{'slug' : t.slug }) !}"
               class="displayBlock"
               ng-class="{ 'text-muted text-line-through':t.status == 'closed', 'text-muted':t.status == 'resolved' }"
               ng-click="showWod($event, t)">{! t.title !}</a>
        </td>

        <td class="tdAvatar text-right">
                <my-user-icon class="" ng-class="{ml5:$first, mr10:$last}" name="{! u.username !}"
                              element="a"
                              wodslug="{! t.slug !}"
                              link="{! u.id !}"
                              size="small"
                              ng-repeat="u in t.loop_usersAssigned" >
                </my-user-icon>
        </td>

    </tr>

    </tbody>
</table>

<div class="well text-center  mr20" ng-show="!wods.length && group">
    <p>
        There are no wods in selected filters for the group "{! group.name !}"
    </p>
</div>

<div class="well text-center  mr20" ng-show="!wods.length && !group">
    <p>
        There are no wods for the group "{! group.name !}"
    </p>
</div>