
<div class="list-group records_list listWods" ng-show="wods.length">
    <div class="list-group-item" ng-class=" 'border-'+printColorDifficulty(t.difficulty)" ng-repeat="t in wods" >

        <div class="row">
            <div class="col-md-12 difficultyTableWod">
                <span class="list-group-item-heading">
                    <button class="btn btn-xs btn-status displayInline mr5"
                            data-wod-slug="{! t.slug !}">
                        <span class="text-muted" ng-class="printStatusIcon(t.status)"> </span>
                    </button>

                    <a class=" cursor_pointer displayInline "
                       ng-class="{ 'text-muted text-line-through':t.status == 'closed', 'text-muted':t.status == 'resolved' }"
                       ng-href="{! parentScope.generateRoute('ng_wod_show',{'slug' : t.slug }) !}"
                       ng-click="showWod($event, t)">
                        {! t.title !}
                    </a>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 list-group-item-text ">
                <h6  class="text-muted pull-left mb0">
                    <span class=" navBarEllipsisDataInline  displayInlineBlock">In</span>
                    <strong class="navBarEllipsisDataInline navBarEllipsis displayInlineBlock">{! t.wod_group.name !}</strong>
                    <span class="navBarEllipsisDataInline  displayInlineBlock">on company</span>
                    <a class="cursor_pointer navBarEllipsis navBarEllipsisDataInline displayInlineBlock" ng-href="{! generateRoute('ng_enterprise_show',{ id: t.company.id}) !}">
                        {! t.company.name !}
                    </a>
                </h6>
                <span class="tdAvatar pull-right mt5">
                    <my-user-icon class="" ng-class="{ml5:$first, mr0:$last}" name="{! u.username !}"
                                  element="a"
                                  wodslug="{! t.slug !}"
                                  link="{! u.id !}"
                                  size="small"
                                  ng-repeat="u in t.loop_usersAssigned" >
                    </my-user-icon>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="well text-center  mr20" ng-show="!wods.length">
    <p>
        There are no wods
    </p>
</div>
