{% set class = '' %}
{% if size is defined %}
    {% if size == "big" %}
        {% set class = class ~ ' avatarBig ' %}
    {% elseif size == "small" %}
        {% set class = class ~ ' avatarSmall ' %}
    {% elseif size == "normal" %}
        {% set class = class ~ ' avatarNormal ' %}
    {% else %}
        {% set class = class ~ ' avatarNormal ' %}
    {% endif %}
{% else %}
    {% set class = class ~ ' avatarNormal ' %}
{% endif %}
{% if hide is defined and hide %} {% set class = class ~ ' hide ' %} {% endif %}
{% if css is defined %} {% set class = class ~ ' ' ~ css ~ ' ' %} {% endif %}

{# TODO: delete this element #}
{% set notGravAvatar = true  %}

{% if not(notGravAvatar is defined and notGravAvatar) and user is defined%}

    {% if gravatar_exists('brais.desousa@unir.es') %}
        <img class="img-responsive avatarUser avatarImg {{ class }}" src="{{ gravatar("brais.desousa@unir.es","30") }}" >
    {% else %}
        <span class="avatarUser {{ get_user_color(user.username) }} {{ class }} tooltipGeneric cursor_pointer"
              title="{{ user.username }}" data-toggle="tooltip" data-placement="top">
            {{ user.username|slice(0,1)|capitalize }}
        </span>
    {% endif %}
{% elseif user is defined %}
    <a class="avatarUser {{ get_user_color(user.username) }} {{ class }} tooltipGeneric cursor_pointer"
          title="{{ user.username }}" data-toggle="tooltip" data-placement="top"
          href="{{  path('user_profile_show', {'id':user.id}) }}" >
        {{ user.username|slice(0,1)|capitalize }}
    </a>
{% elseif (text is defined) and text =='...' %}
    <span class="avatarUser {{ class }} tooltipGeneric cursor_pointer"
          title="Many Users" data-toggle="tooltip" data-placement="top">
        ...
    </span>
{% elseif text is defined %}
    <span class="avatarUser {{ get_user_color(text) }} {{ class }} tooltipGeneric cursor_pointer"
            title="{{ text }}" data-toggle="tooltip" data-placement="top">
        {{ text|slice(0,1)|capitalize }}
    </span>
{% else %}
    <span class="avatarUser {{ class }} tooltipGeneric cursor_pointer"
          title="Many" data-toggle="tooltip" data-placement="top">
        ...
    </span>
{% endif %}