<div class="col-md-3 filterWodsShowEntity" data-id="{{ entity.id }}"  data-idname="{{ idName }}">
    <div class="row  " data-id="{{ entity.id }}">
        <div class="col-md-6">
            <h4>Status</h4>
            {% for status in get_wod_statuses() %}
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="status" class="status" value="{{ status }}" {% if (status=="In progress") or (status=="Open")  %} checked {% endif %}
                    > {{ status }}
                </label>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-4">
            <h4>Difficulty</h4>
            {% for difficulty in get_wod_difficulties() %}
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="difficulty" class="difficulty" value="{{ difficulty }}"
                        {% if (difficulty=="High") or (difficulty=="Critical") or (difficulty=="Normal") %} checked {% endif %}>
                        {{ difficulty }}

                    </label>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="countWods text-center">
                <h4 class="text-center">Num Wods</h4>
                <p class="numWodsTitle text-muted h6"></p>
                <div id="canvas-holder" class="" >
                    <canvas id="chart-area" width="100" height="100"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4 ">
    <h4>Wods <small class="numWodsTitle"></small></h4>
    {% if dashboard is defined %}
        <div class="{{ wodListName }} listWods maxHeight500">
        </div>
    {% else %}
        <div class="{{ wodListName }} listWods maxHeight300">
        </div>
    {% endif %}
</div>