<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordionWodsOfWorkGroup"
               href="#collapseGroupUsers">
                <i class="fa fa-users"></i> Usuarios <small>{{ users|length }}</small>
            </a>
        </h4>
    </div>
    <div id="collapseGroupUsers" class="panel-collapse collapse">
        {% for user in users  %}
            <p class="pl5 pr5">
                <a href="{{ path("user_profile_show",{"id":user.getId}) }}">
                    <i class="fa fa-user {{ get_role_class(user) }}"> </i> {{ user.getUserName }}
                </a>
            </p>
        {% else %}
            <p class="pl5 pr5 bg-warning">
                No hay Usuarios Asignados a este WorkGroupo
            </p>
        {% endfor %}
    </div>
</div>