<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordionWodsOfWorkGroup"
               href="#collapseGroupWod">
                <i class="fa fa-sitemap"></i> Wod Groups <small>{{ wodGroups|length }}</small>
            </a>
        </h4>
    </div>
    <div id="collapseGroupWod" class="panel-collapse collapse">
        <div class="panel-body">
            {% for wodgroup in wodGroups %}
                <p>
                    <a href="{{ path('wodgroup_show', { 'id': wodgroup.id }) }}">
                        <i class="fa fa-sitemap"></i> {{ wodgroup.getName() }} <small> ({{ wodgroup.getWorkGroup().getName() }})</small>
                    </a>
                </p>
            {% else %}
                <p class="bg-warning">This Wod Has no Groups</p>
            {% endfor %}
        </div>
    </div>
</div>