<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordionWodsOfWorkGroup"
               href="#collapseWorkGroupWod">
                <i class="fa fa-folder-open"></i> WorkGroups <small>{{ workGroups|length }}</small>
            </a>
        </h4>
    </div>
    <div id="collapseWorkGroupWod" class="panel-collapse collapse">
        <div class="panel-body">
            {% for workGroup in workGroups %}
                <p>
                    <a href="{{ path('workGroup_show', { 'id': workGroup.id }) }}">
                        <i class="fa fa-folder-o"></i> {{ workGroup.getName() }}
                    </a>
                </p>
            {% else %}
                <p class="bg-warning">This Wod Has no Groups</p>
            {% endfor %}
        </div>
    </div>
</div>