body {
  background: #333333;
}
.colFormConfirmationUser {
  border: solid 1px #DDDDDD ;
  border-radius: 10px;
  background: #DDDDDD ;
  padding: 20px 30px 50px 30px;
  box-shadow: 0px 0px 7px 2px #DDDDDD ;
}
