{% extends '::base.html.twig' %}
{% block body %}
<div class="container-fluid">
    <div class="col-lg-12">
        <img class="img-responsive" src="http://i.i.cbsi.com/cnwk.1d/i/tim/2013/04/16/404_1400.jpg">
    </div>
</div>
{% endblock %}
