{% extends '::frontend.html.twig' %}

{% block article %}
<div class="col-lg-12">
    <img class="img-responsive" src="http://static.giantbomb.com/uploads/original/18/183713/2452346-2452343-comicvine500.png">
</div>
{% endblock %}
