/**
* Andrés
* Archivo con clases utiles
*/
.width100{ width: 100%; }
.width30{ width: 30%; }
.displayBlock{ display: block;}
.displayInlineBlock{ display: inline-block;}
.positionRelative { position: relative;}

.m0A{ margin: 0 auto; }
.ml0{ margin-left: 0;}
.mr0{ margin-right: 0;}
.mt0{ margin-top: 0;}
.mb0{ margin-bottom: 0;}
.ml5{ margin-left: 5px;}
.mr5{ margin-right: 5px;}
.mt5{ margin-top: 5px;}
.mb5{ margin-bottom: 5px;}
.mAll5{ margin: 5px; }
.ml10{ margin-left: 10px;}
.mr10{ margin-right: 10px;}
.mt10{ margin-top: 10px;}
.mb10{ margin-bottom: 10px;}
.mAll10{ margin: 10px; }
.ml15{ margin-left: 15px;}
.mr15{ margin-right: 15px;}
.mt15{ margin-top: 15px;}
.mb15{ margin-bottom: 15px;}
.mAll15{ margin: 15px; }
.ml20{ margin-left: 20px;}
.mr20{ margin-right: 20px;}
.mt20{ margin-top: 20px;}
.mb20{ margin-bottom: 20px;}
.mAll20{ margin: 20px; }
.mAll0{ margin: 0; }

.pt0{ padding-top: 0;}
.pl0{ padding-left: 0;}
.pr0{ padding-right: 0;}
.pb0{ padding-bottom: 0;}
.pAll0{ padding: 0;}
.pt2{ padding-top: 2px;}
.pl2{ padding-left: 2px;}
.pr2{ padding-right: 2px;}
.pb2{ padding-bottom: 2px;}
.pAll2{ padding: 2px;}
.pt5{ padding-top: 5px;}
.pl5{ padding-left: 5px;}
.pr5{ padding-right: 5px;}
.pb5{ padding-bottom: 5px;}
.pAll5{ padding: 5px;}
.pt10{ padding-top: 10px;}
.pl10{ padding-left: 10px;}
.pr10{ padding-right: 10px;}
.pb10{ padding-bottom: 10px;}
.pAll10{ padding: 10px;}
.pt15{ padding-top: 15px;}
.pl15{ padding-left: 15px;}
.pr15{ padding-right: 15px;}
.pb15{ padding-bottom: 15px;}
.pAll15{ padding: 15px;}
.pt20{ padding-top: 20px;}
.pl20{ padding-left: 20px;}
.pr20{ padding-right: 20px;}
.pb20{ padding-bottom: 20px;}
.pAll20{ padding: 20px;}

.borderSolidBlack{ border: solid #000000 1px; }
.borderSolidSilver{ border: solid #c0c0c0 1px; }
.br5{ border-radius: 5px; }

.cursor_pointer{ cursor: pointer; }
.cursorPointer{ cursor: pointer; }
.cursor_help{ cursor: help; }

.a_decoration_none { text-decoration: none; }
.a_decoration_none:hover, .a_decoration_none:focus { text-decoration: none; }
.a_decoration_underline_generic{ border-bottom: solid 1px silver; }
.a_decoration_underline_generic:hover{ border-bottom: solid 1px black; }
.borderBlack1px{ border: 1px solid black; }
.text_decoration_dotted{ border-bottom: 1px dotted #C0C0C0; }
.text_decoration_dotted:hover{ border-bottom: 1px dotted #333333; }
.nowrap_ellipsis{ text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.singleHover:hover{ background-color: #EFF8FB ; }

.elementHover > .elementShow{ visibility: hidden; }
.elementHover:hover > .elementShow{ visibility: visible; }
.groupHover .groupShow{ visibility: hidden; }
.groupHover:hover .groupShow{ visibility: visible; }

.loader {width: 16px; height: 16px;background: url('loading.gif') no-repeat;display: none;}
.loader.loader-centered{position: absolute;left: 50%;margin-left: -8px;top: 50%;margin-top: -8px;}

.table-nowrap { table-layout:fixed; }
.table-nowrap td { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.verticalAlignMiddle { vertical-align: middle; }
