/*
 * Changing Bootstrap navbar
 * ------------------------------------------------------------------------------------------ */


.navbar .divider-vertical {
    height: 40px;
    margin: 5px 0px 5px 5px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #D5D5D5;
}

.navbar-inverse .divider-vertical {
    border-right-color: #222222;
    border-left-color: #111111;
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
    }
}


/**
 * css Andres
 */
body {
    padding-top: 70px;
    padding-bottom: 65px;
    font-family: "Open Sans",sans-serif;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}
.displayInline { display: inline; }



/**tables*/
.table-bordered > tbody > tr > td.lineDifficultyWodTable{
    width: 3px;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}
.records_list{

}
.records_list ul{
    list-style: none;
    padding-left: 0px;
}
.listWods td{
    padding: 6px 0px 6px 4px !important;
}
.listWods td.difficultyTableWod{
    width: 28px;
    padding: 6px 4px !important;
    text-align: center;
}
.listWods td.difficultyTableWod .fa-2x{
    width: 40px;
    padding: 8px 0px !important;
    text-align: center;
}
.tableList{
    overflow: auto;
    max-height: 550px;
}
.grey-tooltip + .tooltip > .tooltip-inner {background-color: #E8E8E8;}

.maxHeight500{
    max-height: 550px;
    overflow: auto;
}
.maxHeight300{
    max-height: 300px;
    overflow: auto;
}
.minHeight300{
    min-height: 300px;
}
.menuPopover{
    position: relative;
    display: inherit;
    visibility: visible;
    border: none;
    box-shadow: none;
    min-width: 100px;
}
.menuPopover > li {
    font-size: 11px;
}
.menuPopover > li > a {
    cursor: pointer;
    font-size: 14px;
    line-height: 14px;
    padding: 3px 10px;
}
.menuPopover > li > a > i {
    color: #AAAAAA;
}
.listWods .popover-content {
    padding: 0px;
}


.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.timeLineIcon{
    width: 20px;
    height: 20px;
    margin-left: -6px;
    border-radius: 0px;
    line-height: 20px;
    border-radius: 5px;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.timeLineIcon.avatarBig{
    width: 25px;
    height: 25px;
    margin-left: -12px;
    border-radius: 0px;
    line-height: 25px;
    border-radius: 5px;
    margin-top: 0px;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2{
    color: #000000;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: #EFF8FB ;
}

.listWods.table-nowrap td a{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn-status{
    background-color: #ffffff;
    border-radius: inherit;
    border: 1px solid #CCC;
    width: 20px;
    height: 20px;

}
.listWods > tbody > tr > td.tdAvatar{
    padding-left: 10px;
    padding-right: 5px;
    width: 130px;
    white-space: normal;
    overflow: hidden;
    text-overflow: clip;
}
.listWods > tbody > tr > td.tdAvatar a{
    margin-top: 2px;
    white-space: normal;
    overflow: hidden;
    text-overflow: clip;
}
.listWods > tbody > tr > td.titleWod,
.listWods > tbody > tr > td.difficultyTableWod{
    border-left-color: transparent;
    border-right-color: transparent;
}
/*
 * colors difficulty list wods
 */
.listWods.table > tbody > tr > td.success{
    background-color: #ffffff;
}
.listWods.table > tbody > tr > td.warning{
    background-color: darkorange;
}
.listWods.table > tbody > tr > td.info{
    background-color: #ffffff;
}
.listWods.table > tbody > tr > td.danger{
    background-color: firebrick;
}
.listWods.table > tbody > tr > td.default{
    background-color: #ffffff;
}

/*
 * colors difficulty list wods in dashboard
 */
.border-success{
    /*border-left: 2px solid transparent;*/
}
.border-warning{
border-left: 2px solid darkorange;
}
.border-info{
    /*border-left: 2px solid transparent;*/
}
.border-danger{
    border-left: 2px solid firebrick;
}
.border-default{
    /*border-left: 2px solid transparent;*/
}




/**
* multi select
*/
.ms-container{
    width: 100%;
}
.ms-container .ms-list {
    height: 300px;
    margin-bottom: 5px;
}
.ms-container .ms-list li:hover{
    cursor: pointer;
    color: #FFF;
    text-decoration: none;
    background-color: #08C;
}
/*** comments ***/
.comment-default{
    color: black;
    background-color: #F0F0EE;
    border: solid 1px #F0F0EE;
    border-radius: 8px;
    position: relative;
    margin-top: 15px;
    /*padding: 5px 8px;*/
}
.comment-arrow{
    position: absolute;
    top: -20px;
    left: 12px;
    color: #F0F0EE;

}
.divCommentEllipsis{
    /*font-size: 14px;*/
    /*line-height: 15px;*/
    padding: 5px 10px 5px 10px;
}
.commentViewMore {
    display: block;
    width: 100%;
    font-size: 12px;
    line-height: 15px;
    padding: 2px;
    border-top: solid 1px #BBB;
    cursor: pointer;
    margin-top: -3px;
    text-align: center;
    position: relative;
}

.ellipsis {
    overflow: hidden;
    height: 60px;
}

.ellipsis:before {
    content:"";
    float: left;
    width: 5px;
    height: 60px;
}

.ellipsis > *:first-child {
    float: right;
    width: 100%;
    margin-left: -5px; }

.ellipsis:after {
    content: "\02026";

    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;

    float: right; position: relative;
    top: -23px; left: 100%;
    width: 3em; margin-left: -3em;
    padding-right: 5px;

    text-align: right;

    background: -webkit-gradient(linear, left top, right top,
    from(rgba(255, 255, 255, 0)), to(#F0F0EE), color-stop(50%, #F0F0EE));
    background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), #e2e2e2 50%, #e2e2e2);
    background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), #e2e2e2 50%, #e2e2e2);
    background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), #e2e2e2 50%, #e2e2e2);
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #e2e2e2 50%, #e2e2e2); }


.dashboardTimeLine .avatarUser{
    margin-right: -15px;
}
.divContentTimeLineScroll {
    max-height: 600px;
    overflow: auto;
}
.divContentTimeLineScroll > .listActivitiesDashboard{
    width: 95%;
}
.divContentTimeLineScroll > .rowBtnViewMoreDashboard{
    width: 95%;
    /*box-shadow: 0px -5px 5px -5px #333;*/
    /*border: solid 1px #CCCCCC;*/
    margin: 0;
}
.btnViewMoreActivitiesDashboard span {
    padding: 0px 10px;
    border: solid 1px #CCCCCC;
    background-color: #f0f0f0;
    margin-right: 5px;
}

.listCommentsWod {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: none;
}
.listCommentsWod .row{
    margin-left: 0;
    margin-right: 0;
}

/*.singleColumnWods {*/
    /*max-height: 600px;*/
    /*overflow-y: auto;*/
    /*overflow-x: visible;*/
/*}*/
/*.groupColumnWods {*/
    /*max-height: 600px;*/
    /*overflow-y: auto;*/
    /*overflow-x: visible;*/
/*}*/

.dataWodHeader h6{
    margin-top: 30px;
}
.dataWodHeader h4 {
    margin-top: 26px;
}
.dataWodHeader h5 {
    margin-top: 25px;
}
.btnChangeViewIndexWod {
    width: 35px;
    height: 35px;
}
.iconBtnViewPreview {
    width: 35px;
    height: 35px;
    background: url('/bundles/unircloudbox/img/iconsBam.png') no-repeat scroll center -1489px transparent;
}
.iconBtnViewThreeCol {
    width: 35px;
    height: 35px;
    background: url('/bundles/unircloudbox/img/iconsBam.png') no-repeat scroll center -1336px transparent;
}

/*btn close wod*/
.btnCloseShowWod:focus {
    outline: none;
}
.btnCloseShowWod {
    position: absolute;
    top: -11px;
    left: -40px;
    border: 0px solid #CCC;
    border-bottom: 1px solid #CCC;
    padding: 10px 0px 10px 25px;
    background-color: #EEEEEE;
    position: relative;
    box-shadow: 5px -3px 5px #CCC inset;
    height: 41px;
}
.btnCloseShowWod:after {
    content: "";
    transform: translateX(-15%) skewX(-45deg);
    display: block;
    position: absolute;
    top: -1px;
    width: 70px;
    z-index: -1;
    background-color: #EEEEEE;
    border: 0px solid #CCC;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    height: 40px;
    left: 47px;
    box-shadow: -4px -3px 8px #CCC inset;
    cursor: pointer;
}
.btnCloseShowWod:hover {
    background-color: #D9EDF7;
}
.btnCloseShowWod:hover:after {
    background-color: #D9EDF7;
}
.tabNameWodShow {
    position: absolute;
    top: -20px;
    left: 100px;
    padding: 10px;
    color: #666;
    border: 0px solid #CCC;
    border-bottom: 1px solid #CCC;
    height: 39px;
}
.tabNameWodShow:after {
    content: "";
    transform: translateX(-15%) skewX(-45deg);
    display: block;
    position: absolute;
    border: 0px solid #CCC;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    height: 39px;
    top: 0px;
    width: 170%;
    right: -60%;
}

.btnEditUsers {
    font-size: 14px;
}

/* timing */
.timingDiv {
    background-color: #F8F8F8; /*F8F8F8 D9EDF7*/
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    border: solid 1px #CCC;
    box-shadow: 0px 0px 5px #CCC;
}
.timingDiv > h5 {
    margin: 0;
    display: inline;
}
.timingDiv > button {
    display: inline;
    border-radius: 7px;
    background-color: #F8F8F8;
    margin: 0px 5px 0px 5px
}
.btnStopTimingNavBar {

}
.dateTimePickerTiming table td.day {
    height: 15px;
    line-height: 8px;
}
.dateTimePickerTiming .datetimepicker {
    max-width: 320px;
    width: 100%;
}

/*.listSubWodsShowWod {*/
    /*height: 100px;*/
    /*overflow-y: auto;*/
    /*box-shadow: 0px 0px 8px #CCC;*/
    /*border-radius: 7px;*/
    /*padding-left: 7px;*/
/*}*/
/*.subWodTitleClosed {*/
    /*text-decoration: line-through;*/
    /*color: #CCCCCC;*/
/*}*/
 /********** multi select extend ************/
.ms-parent, .ms-parent .ms-choice, .ms-parent .ms-drop, .chosen-container {
    width: 100% !important;
}

/** list elements */
.workGroupsListAngular .list-group i.dropdown-toggle {
    font-size: 20px;
}


.dropdown-menu > li > span {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
}
.dropdown-menu > li > span:hover, .dropdown-menu > li > span:focus {
    color: #262626;
    text-decoration: none;
    background-color: #F5F5F5;
}

.dropdown-menu > li > .text-danger {
    color: #A94442;
}
.dropdown-menu > li > .text-info {
    color: #31708F;
}
.dropdown-menu > li > .text-warning {
    color: #8A6D3B;
}
.dropdown-menu > li > .text-success {
    color: #3C763D;
}
.dropdown-menu > li > .text-primary {
    color: #428BCA;
}

.btn.text-danger {
    color: #A94442;
}
.btn.text-info {
    color: #31708F;
}
.btn.text-warning {
    color: #8A6D3B;
}
.btn.text-success {
    color: #3C763D;
}
.btn.text-primary {
    color: #428BCA;
}




.h5ShowUser {
    margin: 28px 10px 0px 10px;
}

.showCommentBigHtml {
    height: 60px;
    overflow: hidden;
}
.commentViewMoreHtml {
    margin-top: 0;
    box-shadow: 0 -5px 5px -5px #333;
}
.modal.fade {
    opacity: 1;
}

.modal.fade .modal-dialog, .modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
.dropDownAdminIcon > i {
    font-size: 16px;
}


.anySelectedWodPreview {
    min-height: 600px;
    height: 100%;
    border: solid 1px #CCCCCC;
    position: relative;
}
.anySelectedWodPreview > p {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -50px;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    color: #CCCCCC;
}
.text-line-through{
    text-decoration: line-through;
}
.menuPopover .btnStatusWod .fa-check{
    margin: 0 0 0 -2px;
}
.checkbox input[type="radio"].mAll0, .checkbox input[type="checkbox"].mAll0 {
    margin: 0px 0px 0px -15px;
}
.radio label, .checkbox label {
    padding-left: 15px;
}
i.h4 {
   font-size: 18px;
}
.verticalAlignSuper {
    vertical-align: super;
}
.navBarEllipsis {
    max-width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.navBarWorkGroupBtn {
    max-width: 130px;
    line-height: 14px;
}
.navBarWorkGroupItem {
    max-width: 130px;
    padding-right: 5px;
}
.navBarCompanyBtn {
    max-width: 130px;
    line-height: 11px;
}
.navBarCompanyItem {
    max-width: 250px;
    padding-right: 5px;
}
.navBarEllipsisTimingWodTitle {
    line-height: 11px;
    max-width: 130px;
}
.navBarEllipsisWodGroupBtn {
    max-width: 80%;
    line-height: 22px;
}
.navBarEllipsisWodGroupCaret {
    padding-bottom: 7px;
    vertical-align: baseline;
}
.navBarEllipsisDataInline {
    line-height: 16px;
    overflow: hidden;
}
.navBarEllipsisCommentTitle {
    max-width: 380px;
    line-height: 16px;
}
.navBarEllipsisCommentTitleInline {
    line-height: 16px;
    overflow: hidden;
}
.breakWord {
    word-wrap: break-word;
}