.noty_bar {
    &.noty_type_success {
        background-color: #DFF0D8;
    }
    &.noty_type_info {
        background-color: #d9edf7;
    }
    &.noty_type_warning {
        background-color: #fcf8e3;
    }
    &.noty_type_danger {
        color: #A94442;
        background-color: #f2dede;
        border: 1px solid #A94442;
        border-radius: 5px;
        box-shadow: 0px 2px 4px #A94442;
    }
    &.noty_type_primary {
        color: #fff;
        background-color: #428bca;
    }
}