//////////////////////////////////
///////////  Wods    ////////////
//////////////////////////////////

.viewWod {
    .colWodAll {
        border: solid 1px #CCCCCC;
        min-height: 600px;
    }

    .actionsShowWod {
        border-bottom: solid 1px #CCCCCC;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #EEEEEE;
    }

    .dataWodHeader {
        .dataCreationWod {
            margin: 10px 10px 10px 32px;
        }
        .wodTitle {
            font-size: 30px;
            margin: 18px 10px 0px 5px;
        }
        .btnStatusWod {
            margin-top: 26px;
            margin-right: 10px;
            .fa-check {
                margin: 0 0 0 -1px;
            }
        }
        .menuPopover .btnStatusWod {
            margin-top: 0px;
            margin-right: 5px;
        }
    }
    .descriptionShowWod {
        margin: 0px 0px 20px 18px;
    }

    //-----  sub wods ---------
    .colSubWods {
        padding-left: 52px;

        .listSubWodsShowWod {
            box-shadow: 0px 0px 8px #CCC;
            border-radius: 7px;
            padding: 10px;
            .titleSubWod:hover {
                color: #428BCA;
            }
            .subWodTitleClosed {
                text-decoration: line-through;
                color: #CCCCCC;
                &:hover {
                    color: #3C763D;
                }
            }
        }// end listSubWodsShowWod

        .divNewWodGroup {
            & input {
                padding-right: 35px;
            }

            .clearInputNewSubWod {
                position: absolute;
                top: 50%;
                margin-top: -10px;
                right: 10px;
                font-size: 20px;
                cursor: pointer;
                &:hover {
                    color: #999999;
                }
            }
        }// end divNewWodGroup

    }// end sub wods

    .btnShowAllActivitiesWod {
        & > i {
            padding: 0px 10px;
            border: solid 1px #CCCCCC;
            background-color: #f0f0f0;
            margin-right: 5px;
        }
    }
    .newCommentDiv {
        margin-left: 42px;
    }


}