.viewWod .colWodAll {
  border: solid 1px #CCCCCC;
  min-height: 600px;
}
.viewWod .actionsShowWod {
  border-bottom: solid 1px #CCCCCC;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #EEEEEE;
}
.viewWod .dataWodHeader .dataCreationWod {
  margin: 10px 10px 10px 32px;
}
.viewWod .dataWodHeader .wodTitle {
  font-size: 30px;
  margin: 18px 10px 0px 5px;
}
.viewWod .dataWodHeader .btnStatusWod {
  margin-top: 26px;
  margin-right: 10px;
}
.viewWod .dataWodHeader .btnStatusWod .fa-check {
  margin: 0 0 0 -1px;
}
.viewWod .dataWodHeader .menuPopover .btnStatusWod {
  margin-top: 0px;
  margin-right: 5px;
}
.viewWod .descriptionShowWod {
  margin: 0px 0px 20px 18px;
}
.viewWod .colSubWods {
  padding-left: 52px;
}
.viewWod .colSubWods .listSubWodsShowWod {
  box-shadow: 0px 0px 8px #CCC;
  border-radius: 7px;
  padding: 10px;
}
.viewWod .colSubWods .listSubWodsShowWod .titleSubWod:hover {
  color: #428BCA;
}
.viewWod .colSubWods .listSubWodsShowWod .subWodTitleClosed {
  text-decoration: line-through;
  color: #CCCCCC;
}
.viewWod .colSubWods .listSubWodsShowWod .subWodTitleClosed:hover {
  color: #3C763D;
}
.viewWod .colSubWods .divNewWodGroup input {
  padding-right: 35px;
}
.viewWod .colSubWods .divNewWodGroup .clearInputNewSubWod {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
.viewWod .colSubWods .divNewWodGroup .clearInputNewSubWod:hover {
  color: #999999;
}
.viewWod .btnShowAllActivitiesWod > i {
  padding: 0px 10px;
  border: solid 1px #CCCCCC;
  background-color: #f0f0f0;
  margin-right: 5px;
}
.viewWod .newCommentDiv {
  margin-left: 42px;
}
