{% extends '::frontend.html.twig' %}

{% block article %}
    <div class="row ml20 mr20  dashboardContainer">
        <div class="col-md-5">
            <h2>Recent Activities</h2>
            {% if (activities|length)>0 %}
                {% include "UnirCloudBoxBundle:Wod:includes/comments.html.twig" with {'dashboard':true,'comments':activities}%}
            {% else %}
                <div class="row">
                    <div class="timeline-centered">

                            <article class="timeline-entry">

                                <div class="timeline-entry-inner">
                                      <p class="text-warning">There are Not recent Activities to Show</p>
                                </div>
                            </article>

                    </div>
                </div>
            {% endif %}
            <div class="navigation pull-right">
                {{ knp_pagination_render(activities) }}
            </div>
        </div>
        <div class="showEntity col-md-6 col-md-offset-1">
            <h2>Recent Wods</h2>
            <div class="row ">
                <div class="col-md-12">
                    {% include "UnirCloudBoxBundle:Wod:includes/tableList.html.twig" with {"entities":wods,'dashboard':true}%}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="navigation pull-right">
                        {{ knp_pagination_render(wods) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}