{% extends '::frontend.html.twig' %}

{% block article %}
<div class="container">
     {% if (step==1)or (step==0) %}
        <div class="well well-lg">
            <h3><i class="fa fa-exclamation-circle"> </i> Create Your First WorkGroup ! </h3>
                {% if app.security.granted("ROLE_ADMIN") %}
                    {% if app.security.granted("ROLE_OWNER") and (step==0) %}
                        <p> You can start by clicking <strong><a href="{{ path("enterprise_new") }}" title="New Enterprise">here</a></strong> to create a new Enterprise</p>
                        <p> Or you can click <strong><a href="{{ path("workGroup_new") }}" title="New WorkGroup">here</a></strong> to create a new WorkGroup on the Default Enterprise</p>
                    {% else %}
                        <p> Please, click <strong><a href="{{ path("workGroup_new") }}" title="New WorkGroup">here</a></strong> to create One</p>
                    {% endif %}
                {% else %}
                    <p> Please, contact your Administrator</p>
                {% endif %}
        </div>
    {% endif %}
    {% if step==2 %}
        <div class="well well-lg">
            <h3><i class="fa fa-exclamation-circle"> </i> Create your first WodGroup in this WorkGroup ! </h3>
                {% if app.security.granted("ROLE_ADMIN") %}
                    <p> Please, click <strong><a href="{{ path("wodgroup_new") }}" title="New WodGroup">here</a></strong> to create One</p>
                {% else %}
                    <p> Please, contact your Administrator</p>
                {% endif %}
        </div>
    {% endif %}
    {% if step==3 %}
        <div class="well well-lg">
            <h3><i class="fa fa-exclamation-circle"> </i> Create your first Wod ! </h3>
                    <p> Please, click <strong><a href="{{ path("wod_new") }}" title="New Wod">here</a></strong> to create One</p>
        </div>
    {% endif %}
    {% if step==4 %}
        <div class="well well-lg">
            <h3><i class="fa fa-exclamation-circle"> </i> {{ app.user.getUserName }} has not associated Wods! </h3>
                    <p> Click <strong><a href="{{ path("wod_new") }}" title="New Wod">here</a></strong> to create One</p>
                    <p> Click <strong><a href="{{ path("wod") }}" title="New Wod">here</a></strong> To check WorkGroups and Assign one</p>
        </div>
    {% endif %}
</div>
{% endblock %}