<footer class="footer">
    <div class="container">
        <p class="text-muted text-center">{% spaceless %}
            {% if app.user.hasEnterprise  %}
                <i class="fa fa-building" ></i>{{ app.user.getEnterprise.getName }}
            {% else %}
                <i class="fa fa-user text-danger" ></i> {{ app.user.getUsername}}  Super Admin User
            {% endif %}

            {% endspaceless %}</p>
    </div>
</footer>