{% extends '::base.html.twig' %}

{% block body %}

    <div class="mt20 text-center">
        <h1 class=""> Page start </h1>

        {% if (app.user != null )  %}
            <h2>Hi {{ app.user.username }}</h2>
            <a class="btn btn-danger" href="{{ path('fos_user_security_logout') }}">Logout</a>
        {% else %}
            <a class="btn btn-success" href="{{ path('fos_user_security_login') }}">Login</a>
        {% endif %}



    </div>

{% endblock %}