{% extends '::base.html.twig' %}

{% block body %}

    <div class="mt20 text-center">
        <h1 class="lobster-font">CloudBox Manager </h1>
        <img class="img-responsive img-rounded center-block" src="{{ asset("bundles/unircloudbox/img/unir.jpg") }}" />
        {% if (app.user != null )  %}
            <h2>{{ app.user.username }}</h2>
            <a class="btn btn-danger" href="{{ path('fos_user_security_logout') }}">Logout</a>
        {% else %}
            <a class="btn btn-success" href="{{ path('fos_user_security_login') }}">Login</a>
        {% endif %}
        <hr>
    </div>

{% endblock %}