{% extends "::no_angular_base.html.twig" %}

{% block body %}
    {{ form_start(form) }}
    <div class="row ml20 mr20">
        <div class="col-md-4 col-md-offset-4 colFormConfirmationUser">
            <h1 class="text-center mb20">Unir Solutions S.L.</h1>
            <p class="mb20 text-center h4 text-success">
                Rellene los datos para confirmar la creación del usuario
            </p>
            <div class="form-group">
                {{ form_row(form.email, {'attr': {'class':'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.username, {'attr': {'class':'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.plain_password.first, {'attr': {'class':'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.plain_password.second, {'attr': {'class':'form-control'}}) }}
            </div>
            {{ form_row(form.submit,{'attr':{'class':'btn btn-primary width100 mt20 '}}) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}