<div class="row mr10">
    {# activity and comments #}
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-9 col-md-offset-1">
                <h3>Activity</h3>
            </div>
        </div>
        <div class="divContentTimeLineScroll" my-when-scrolled="loadMoreActivities()">
            <div class="listActivitiesDashboard" >
                <my-activities-timeline elements="activities.elements" parent-scope="this"></my-activities-timeline>
            </div>
            <div class="row rowBtnViewMoreDashboard" ng-show="activities.elements.length > 0">
                <div class="col-md-12 mt10 text-center">
                    <a class="cursor_pointer text-muted btnViewMoreActivitiesDashboard h5"
                       ng-click-load-replace="loadMoreActivities()">
                        <span class="fa fa-ellipsis-h text-muted"></span>
                        View 5 activities more
                    </a>
                </div>
            </div>
        </div>
    </div>

    {# list wods related #}
    <div class="col-md-5 col-md-offset-1">
        <div class="row">
            <div class="col-md-12">
                <h3 class="pull-left">Wods</h3>
                <a class="btn btn-success pull-right cursor_pointer mt10 mb5"
                        ng-click-load-replace="new()">
                    <i class="fa fa-plus"></i>
                    New Wod
                </a>
            </div>
        </div>
        <my-table-wods elements="wods.elements" parent-scope="this"></my-table-wods>
        <pagination
                ng-show="wods.totalPages>1"
                total-items="wods.totalElements"
                items-per-page="wods.numItemsPerPage"
                boundary-links="true"
                class="pagination-sm"
                ng-model="wods.current"
                ng-change="getWodsPage(wods.current)"
                max-size="5"
                rotate="false"
                >
        </pagination>
    </div>
</div>