<div class="row">
    <div class="col-md-12">
        <div class="timeline-centered mb10">
            {% for com in comments %}
                {# if we have an activity or we have an comment markup should be different #}

                {# If we have a comment...  #}
                {% if com.comment is defined %}
                    <article class="timeline-entry">
                        <div class="timeline-entry-inner">
                            {% include "UnirCloudBoxBundle:Utils:avatarUser.html.twig" with {
                                'user': com.user,
                                'notGravAvatar': false,
                                'size':'big',
                                'hide':false,
                                'css':'timeline-icon timeLineIcon',
                            }
                            %}
                            <div class="timeline-label">

                                <div class="timeline-label-header">
                                    <h2>
                                        <b>{{ com.user.username }}</b>
                                        <span class="small clock">
                                            {{ com.created|date('h:i d/M/Y') }}
                                        </span>
                                        {# If we are on the dashboard push wod link#}
                                        {% if (dashboard is defined and dashboard) %}
                                            <a class="pull-right nowrap_ellipsis width30"
                                               href="{{ path('wod_view',{'slug':com.wod.slug}) }}">
                                                <i class="fa fa-eye"></i>
                                                {{ com.wod.title }}
                                            </a>
                                        {% endif %}
                                    </h2>
                                </div><!-- ./timeline-label-header -->
                            </div><!-- /.timeline-label -->

                            <div class="timeline-content">
                                <p>{{ com.comment | nl2br }}</p>
                            </div><!-- /.timeline-content -->

                        </div><!-- /.timeline-entry-inner -->
                    </article><!-- /article.timeline-entry -->
                {% else  %}
                    <article class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <div class="timeline-label">

                                <div class="timeline-label-header">
                                    <h2>
                                        {{ com.user.username }}
                                        <span class="small clock">
                                            {{ com.created|date('h:i d/M/Y') }}
                                        </span>
                                        {# If we are on the dashboard push wod link#}
                                        {% if (dashboard is defined and dashboard) %}
                                            <a class="pull-right nowrap_ellipsis width30"
                                               href="{{ path('wod_view',{'slug':com.wod.slug}) }}">
                                                <i class="fa fa-eye"></i>
                                                {{ com.wod.title }}
                                            </a>
                                        {% endif %}
                                    </h2>
                                </div><!-- ./timeline-label-header -->
                            </div><!-- /.timeline-label -->

                            <div class="timeline-content small">
                                <p>{{ com.description | nl2br }}</p>
                            </div><!-- /.timeline-content -->

                        </div><!-- /.timeline-entry-inner -->
                    </article><!-- /article.timeline-entry -->
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

