<div class="row">

    {# difficulty #}
    <div class="col-md-2">
        <div class="form-group width100">
            <label>Difficulty</label>
            <select name="difficulty" class="multiGeneric filterWod  hide" data-filter="difficulty" multiple="multiple">
                {% for difficulty in get_wod_difficulties() %}
                    <option value="{{ difficulty }}" selected>{{ difficulty }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    {# status#}
    <div class="col-md-2">
        <div class="form-group width100">
            <label>Status</label>
            <select name="status" class="multiGeneric filterWod  hide" data-filter="status" multiple>
                {% for status in get_wod_statuses() %}
                    <option value="{{ status }}"
                            {% if status in ["Open","In progress"] %}
                                selected
                            {% endif %}
                            >{{ status }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    {# sort #}
    <div class="col-md-2">
        <div class="form-group ">
            <label>
                Sort By
                <small class="pb2 fa fa-arrow-up text-muted filterWodOrder cursor_pointer text_decoration_dotted tooltipGeneric"
                       title="Change order" data-toggle="tooltip" data-placement="top">

                </small>
            </label>
            <select name="sort" class="chosenGeneric filterWod filterWodSort mt10 hide" data-filter="sort">
                <option value="">-</option>
                <option value="difficulty" selected>Difficulty</option>
                <option value="title">Title</option>
                <option value="status">Status</option>
                <option value="created">Creation Date</option>
            </select>
        </div>
    </div>

    {# num wods#}
    <div class="col-md-2">
        <label>Num Wods</label>
        <p class="numWodsTitle"></p>
    </div>

    {# search #}
    <div class="col-md-2">
        <div class="form-group">
            <label>Search</label>
            <input type="text" name="searchWod" placeholder="Search wod" class="form-control searchWodDashboard">
        </div>
    </div>

    {# new#}
    <div class="col-md-2 pt20">
        <a class="btn btn-success pull-right tooltipGeneric addWod" href="{{ path('wod_new') }}"
           title="Create a new wod" data-toggle="tooltip" data-placement="top">
            <span class="fa fa-plus-square"> New Wod</span>
        </a>
    </div>
</div>