{% for group in groups %}
    <div class="row">
        <div class="col-md-12">
            <h3>group.name</h3>
            <div>
                {% include "UnirCloudBoxBundle:Wod:includes/tableList.html.twig" with {'entities':group.wod}%}
            </div>
        </div>
    </div>
{%  else %}
{% endfor %}