<li class="list-group-item cursor_pointer itemListGroups idGroup"
    data-id="">
    <span class="fa fa-eye"></span>
    All
    <span class="badge alert-success">{{ countAllByUser }}</span>
</li>
{% for group in groups %}
    <li class="list-group-item cursor_pointer nowrap_ellipsis itemListGroups idGroup{{ group.id }} pr10"
        data-id="{{ group.id }}">
        <span class="badge alert-success  ">{{ count_by_group_and_user(group) }}</span>
        <span class="pr20 nowrap_ellipsis"><span class="fa fa-eye"></span> {{ group.name }}</span>
    </li>
{% endfor %}