<h2 class="text-muted">Wods
    <a class="btn btn-success pull-right tooltipGeneric addWod" href="{{ path('wod_new') }}"
       title="Create a new wod" data-toggle="tooltip" data-placement="top">
        <span class="fa fa-plus-square"> New Wod</span>
    </a>
</h2>
<div class="row pl10 mb0">
    <div class="col-md-6">
        <div class="form-group width100">
            <label>Difficulty</label>
            <select name="difficulty" class="multiGeneric filterWod  hide" data-filter="difficulty" multiple="multiple">
                {% for difficulty in get_wod_difficulties() %}
                    <option value="{{ difficulty }}" selected>{{ difficulty }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group width100">
            <label>Status</label>
            <select name="status" class="multiGeneric filterWod  hide" data-filter="status" multiple>
                {% for status in get_wod_statuses() %}
                    <option value="{{ status }}"
                            {% if status in ["Open","In progress"] %}
                                selected
                            {% endif %}
                            >{{ status }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group ">
            <label>
                Sort By
                <small class="pb2 fa fa-arrow-up text-muted filterWodOrder cursor_pointer text_decoration_dotted tooltipGeneric"
                       title="Change order" data-toggle="tooltip" data-placement="top">

                </small>
            </label>
            <select name="sort" class="chosenGeneric filterWod filterWodSort mt10 hide" data-filter="sort">
                <option value="">-</option>
                <option value="difficulty" selected>Difficulty</option>
                <option value="title">Title</option>
                <option value="status">Status</option>
                <option value="created">Creation Date</option>
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <label>Num Wods</label>
        <p class="numWodsTitle"></p>
    </div>
    <div class="col-md-6 hide">
        <div class="form-group width100">
            <label>Group</label>
            <select name="group" class="groupSelect chosenGeneric mt10 filterWod hide" data-filter="idGroup">
                <option value="" class="id">All</option>
                {% for group in groups %}
                    <option value="{{ group.id }}" data-id="{{ group.id }}" class="id{{ group.id }}">{{ group.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
<div class="row mr0">
    <div class="col-md-12 ">
        <input type="text" name="searchWod" placeholder="Search wod" class="form-control searchWodDashboard ml10 mr20 mb10">
    </div>
</div>

<div class="tableList ml10 hide">
    {% include 'UnirCloudBoxBundle:Wod/includes:tableList.html.twig' %}
</div>