<div class="row">
    <div class="col-md-12">
        <div class="hide btn-group pull-right mt20" data-idwod="{{ wod.id }}" data-titlewod="{{ wod.difficulty }}" data-field="difficulty" data-slug="{{ wod.slug }}">
            <button type="button" class="btn btn-{{ get_wod_difficulty_class(wod.difficulty) }} dropdown-toggle pl5 pr5 pt0 pb0" data-toggle="dropdown">
                {{ wod.difficulty }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" data-idwod="{{ wod.id }}" data-slug="{{ wod.slug }}" data-slug="{{ wod.slug }}">
                <li><a  class="editWodDropdown" data-value="Minor" data-field="difficulty">Minor</a></li>
                <li><a  class="editWodDropdown" data-value="Low" data-field="difficulty">Low</a></li>
                <li><a  class="editWodDropdown" data-value="Normal" data-field="difficulty">Normal</a></li>
                <li><a  class="editWodDropdown" data-value="High" data-field="difficulty">High</a></li>
                <li><a  class="editWodDropdown" data-value="Critical" data-field="difficulty">Critical</a></li>
            </ul>
        </div>
        <div class="hide btn-group pull-right ml10 mr10 mt20" data-idwod="{{ wod.id }}" data-titlewod="{{ wod.status }}" data-field="status" data-slug="{{ wod.slug }}">
            <button type="button" class="btn btn-default dropdown-toggle pl5 pr5 pt0 pb0" data-toggle="dropdown">
                {{ wod.status }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" data-idwod="{{ wod.id }}" data-slug="{{ wod.slug }}">
                <li><a  class="editWodDropdown" data-value="Open" data-field="status">Open</a></li>
                <li><a  class="editWodDropdown" data-value="In progress" data-field="status">In progress</a></li>
                <li><a  class="editWodDropdown" data-value="Resolved" data-field="status">Resolved</a></li>
                <li><a  class="editWodDropdown" data-value="Closed" data-field="status">Closed</a></li>
            </ul>
        </div>
        {% if edit %}
            <div class="pull-right mt20">
                <button class="btn btn-warning btn-xs mr10 ml20 editTitleAndDescription"
                        data-slug="{{ wod.slug }}" data-field="titleAndDescription" data-idwod="{{ wod.id }}"
                        data-description="{{ wod.description }}" data-title="{{ wod.title }}"
                        >
                    <i class="fa fa-edit"></i> Edit
                </button>
            </div>
        {% endif %}
        <h2 class="mt10">
            <span class="bg-{{ get_wod_difficulty_class(wod.difficulty) }} popoverGeneric cursor_pointer h3 pl5 mr10 br5 text-center borderSolidSilver"
                        {% if edit %}
                            data-difficulties="{{ get_wod_difficulties()|json_encode() }}" data-statuses="{{ get_wod_statuses()|json_encode() }}"
                            data-difficulty="{{ wod.difficulty }}" data-status="{{ wod.status }}"
                            data-container="body" data-toggle="popover"  data-html="true" data-placement="bottom"
                            data-content='
                                <ul class="dropdown-menu menuPopover" role="menu" data-idwod="{{ wod.id }}" data-slug="{{ wod.slug }}">
                                    {% for status in get_wod_statuses() %}
                                         <li><a class="editWodDropdown cursor_pointer" data-value="{{ status }}" data-field="status">
                                                 {{ status }}
                                                 {% if status==wod.getStatus %}
                                                     <i class="fa fa-check"></i>
                                                 {% endif %}
                                             </a>
                                         </li>
                                        {% endfor %}
                                        <li class="divider"></li>
                                        {% for difficulty in get_wod_difficulties() %}
                                        <li>
                                                <a  class="editWodDropdown cursor_pointer" data-value="{{ difficulty }}" data-field="difficulty">
                                                    {{ difficulty }}
                                                    {% if difficulty==wod.getDifficulty %}
                                                        <i class="fa fa-check"></i>
                                                    {% endif %}
                                                </a>
                                        </li>
                                    {% endfor %}
                                </ul>'
                        {% endif %}

                    >
                <span class="{{ get_wod_status_icon(wod.status) }} tooltipGeneric cursor_pointer"
                      title="{{ wod.difficulty }}, {{ wod.status }}"  data-toggle="tooltip" data-placement="top">
                </span>
            </span>
            <a href="{{ path('wod_view', { 'slug': wod.slug }) }}">{{ wod.title }}</a>
        </h2>
        <h6 class="text-muted displayInlineBlock ml5">
            {% include "UnirCloudBoxBundle:Utils:avatarUser.html.twig" with {
                    'user':wod.creationUser, 'notGravAvatar':false, 'size':'normal', 'hide':false, 'css':'',
                }
            %}
        </h6>
        <h6 class="text-muted displayInlineBlock"><span class="text-muted"><i class="fa fa-clock-o"></i> {{ wod.created|date("h:m d/M/Y") }}</span></h6>
    </div>
</div>
{% if wod.description != '' %}
    <div class="row">
        <div class="col-md-12">
            <p class="well well-sm">
                {{ wod.description }}
            </p>
        </div>
    </div>
{% else %}
    <div class="mb20"></div>
{% endif %}
{% include "UnirCloudBoxBundle:Wod/includes:comments.html.twig" with {'comments':history} %}
{% if edit %}
    <hr>
    <div class="newCommentDiv" data-idwod="{{ wod.id }}">
        {% if (app.user != null )  %}
            {{ form_start(formCom) }}
            <div class="hide">
                {#{{ form_row(formCom.user, {'attr': {'class':'form-control userId'}}) }}#}
                {{ form_row(formCom.wod, {'attr': {'class':'form-control wodId'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(formCom.comment, {'attr': {'class':'form-control wodComment', 'rows':'3'},'label':'New comment'}) }}
            </div>
            {{ form_row(formCom.submit,{'attr':{'class':'btn btn-primary pull-right ml20 mr20'}}) }}

            {{ form_end(formCom) }}
        {% else %}
            <p>You must be logged in to post comments</p>
        {% endif %}
    </div>
{% endif %}