{% if listGroups is defined  %}
    {% for g in listGroups %}
        <h3 class="mt0">{{ g.group.getName }} <small>{{ g.wodsInGroup }}</small></h3>
        <table class="records_list listWods table table-striped table-bordered table-responsive table-hover table-nowrap"
                style="">
            <tbody>
            {% for entity in g.entities %}
                <tr class="idWod{{ entity.id }}" data-id="{{ entity.id }}">
                    <td style="width: 3px;border-bottom-color: transparent;border-left-color: transparent;border-top-color: transparent;"
                        class="{{ get_wod_difficulty_class(entity.difficulty) }}">

                    </td>
                    <td class=" difficultyTableWod popoverGeneric cursor_pointer"
                        data-difficulties="{{ get_wod_difficulties()|json_encode() }}" data-statuses="{{ get_wod_statuses()|json_encode() }}"
                        data-difficulty="{{ entity.difficulty }}" data-status="{{ entity.status }}"
                        data-container="body" data-toggle="popover"  data-html="true" data-placement="bottom"
                        data-content='
                              <ul class="dropdown-menu menuPopover" role="menu" data-idwod="{{ entity.id }}" data-slug="{{ entity.slug }}">
                                 {% for status in get_wod_statuses() %}
                                     <li><a class="editWodDropdown cursor_pointer" data-value="{{ status }}" data-field="status">
                                             {{ status }}
                                             {% if status==entity.getStatus %}
                                                 <i class="fa fa-check"></i>
                                             {% endif %}
                                         </a>
                                     </li>
                                 {% endfor %}
                                <li class="divider"></li>
                                {% for difficulty in get_wod_difficulties() %}
                                    <li>
                                            <a  class="editWodDropdown cursor_pointer" data-value="{{ difficulty }}" data-field="difficulty">
                                                {{ difficulty }}
                                                {% if difficulty==entity.getDifficulty %}
                                                    <i class="fa fa-check"></i>
                                                {% endif %}
                                            </a>
                                    </li>
                                {% endfor %}
                                </ul>'
                            >
                <span class="{{ get_wod_status_icon(entity.status) }} tooltipGeneric cursor_pointer"
                      title="{{ entity.difficulty }}, {{ entity.status }}"  data-toggle="tooltip" data-placement="top">
                </span>
                    </td>
                    <td class="titleWod">
                        {%  set numUsers = 3 %}
                        {% if entity.usersAssigned|length > numUsers %}
                            {% include "UnirCloudBoxBundle:Utils:avatarUser.html.twig" with {
                            'text':'...', 'notGravAvatar':false, 'size':'small', 'css':' mt5 pull-right '
                            }
                            %}
                        {% endif %}
                        {% for user in entity.usersAssigned %}
                            {% if loop.index > numUsers %} {% set hideUser = true %} {% else %} {% set hideUser = false %} {% endif %}
                            {% include "UnirCloudBoxBundle:Utils:avatarUser.html.twig" with {
                            'user':user, 'notGravAvatar':false, 'size':'SMALL', 'hide':hideUser, 'css':' mt5 pull-right ',
                            }
                            %}
                        {% else %}
                        {% endfor %}
                        <a href="{{ path('wod_view', { 'slug': entity.slug }) }}" class=" pr20 displayBlock previewWod {% if entity.status=="Closed" %}text-muted{% endif %}" data-id="{{ entity.id }}">
                            {{ entity.title }}
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td class="text-warning">
                        <strong><i class="fa fa-exclamation-circle"></i></strong> No existen wods con los filtros seleccionados.
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% else %}
    <table class="records_list listWods table table-striped table-bordered table-responsive table-hover table-nowrap">
        <tbody>
        {% for entity in entities %}
            <tr class="idWod{{ entity.id }}" data-id="{{ entity.id }}">
                <td class="{{ get_wod_difficulty_class(entity.difficulty) }} difficultyTableWod popoverGeneric cursor_pointer"
                    data-difficulties="{{ get_wod_difficulties()|json_encode() }}" data-statuses="{{ get_wod_statuses()|json_encode() }}"
                    data-difficulty="{{ entity.difficulty }}" data-status="{{ entity.status }}"
                    data-container="body" data-toggle="popover"  data-html="true" data-placement="left"
                    data-content='
                              <ul class="dropdown-menu menuPopover" role="menu" data-idwod="{{ entity.id }}" data-slug="{{ entity.slug }}">
                                 {% for status in get_wod_statuses() %}
                                     <li><a class="editWodDropdown cursor_pointer" data-value="{{ status }}" data-field="status">
                                             {{ status }}
                                             {% if status==entity.getStatus %}
                                                 <i class="fa fa-check"></i>
                                             {% endif %}
                                         </a>
                                     </li>
                                 {% endfor %}
                                <li class="divider"></li>
                                {% for difficulty in get_wod_difficulties() %}
                                    <li>
                                            <a  class="editWodDropdown cursor_pointer" data-value="{{ difficulty }}" data-field="difficulty">
                                                {{ difficulty }}
                                                {% if difficulty==entity.getDifficulty %}
                                                    <i class="fa fa-check"></i>
                                                {% endif %}
                                            </a>
                                    </li>
                                {% endfor %}
                                </ul>'
                        >
                <span class="{{ get_wod_status_icon(entity.status) }} tooltipGeneric cursor_pointer"
                      title="{{ entity.difficulty }}, {{ entity.status }}"  data-toggle="tooltip" data-placement="top">
                </span>
                </td>
                <td class="titleWod">
                    {%  set numUsers = 3 %}
                    {% if entity.usersAssigned|length > numUsers %}
                        {% include "UnirCloudBoxBundle:Utils:avatarUser.html.twig" with {
                                'text':'...', 'notGravAvatar':false, 'size':'small', 'css':' mt5 pull-right '
                            }
                        %}
                    {% endif %}
                    {% for user in entity.usersAssigned %}
                        {% if loop.index > numUsers %} {% set hideUser = true %} {% else %} {% set hideUser = false %} {% endif %}
                        {% include "UnirCloudBoxBundle:Utils:avatarUser.html.twig" with {
                                'user':user, 'notGravAvatar':false, 'size':'SMALL', 'hide':hideUser, 'css':' mt5 pull-right ',
                            }
                        %}
                    {% else %}
                    {% endfor %}
                    <a href="{{ path('wod_view', { 'slug': entity.slug }) }}" class=" pr20 displayBlock previewWod {% if entity.status=="Closed" %}text-muted{% endif %}" data-id="{{ entity.id }}">
                        {{ entity.title }}
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td class="text-warning">
                    <strong><i class="fa fa-exclamation-circle"></i></strong> No existen wods con los filtros seleccionados.
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}