<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">

            <div class="well well-lg">
                <h2>No workGroups available</h2>

                <p ng-if="getMainData().user.isRoleOwner()">
                    You can start by creating a
                    new enterprise
                    <a class="cursor_pointer" ng-click="newEnterprise()">
                        <i class="fa fa-plus-circle text-success"></i>
                        new enterprise
                    </a>
                    or a
                    <a class="cursor_pointer" ng-click="newWorkGroup()">
                        <i class="fa fa-plus-circle text-success"></i>
                        new workGroup
                    </a>
                </p>

                <p ng-if=" getMainData().user.isRoleAdmin()">
                    You can start by creating a
                    <a class="cursor_pointer" ng-click="newWorkGroup()">
                        <i class="fa fa-plus-circle text-success"></i>
                        new workGroup
                    </a>
                </p>

                <p  ng-if="!(getMainData().user.isRoleOwner() || getMainData().user.isRoleAdmin())">
                    Please, contact your Administrator
                </p>

            </div>

        </div>
    </div>
</div>