<div class="row ml10 mr10 wod-screen">

    <div class="col-md-12 wod-screen-filters" ng-show="isWodScreenFiltersVisible()">

        <!-- Filters -->
        <div class="row rowFilters">

            <div class="col-md-2 ">
                <div class="form-group">
                    <label>Wod Group</label>
                    <select
                            ng-model="filters.groups"
                            name="group"
                            class="filterWod form-control"
                            data-filter="true"
                            ng-options="group.id as group.name for group in data.filters.groups"
                            multiple
                            ng-multiple-select
                            >
                    </select>
                </div>
            </div><!-- /.form-search-groups -->

            <div class="col-md-2 form-search-difficulties">
                <div class="form-group">
                    <label>Difficulty</label>
                    <select ng-model="filters.difficulties"
                            name="difficulty"
                            class="filterWod form-control"
                            data-filter="true"
                            multiple
                            ng-multiple-select>
                        <option value="low">low</option>
                        <option value="minor">minor</option>
                        <option value="normal">normal</option>
                        <option value="high">high</option>
                        <option value="critical">critical</option>
                    </select>
                </div>
            </div><!-- /.form-search-difficulties -->

            <div class="col-md-2 form-search-status">
                <div class="form-group">
                    <label>Status</label>
                    <select ng-model="filters.statuses"
                            name="status"
                            class="filterWod form-control"
                            data-filter="true"
                            multiple
                            ng-multiple-select>
                        <option value="open">open</option>
                        <option value="in progress">in progress</option>
                        <option value="resolved">resolved</option>
                        <option value="closed">closed</option>
                    </select>
                </div>
            </div><!-- /.form-search-status -->

            <div class="col-md-2 form-search-sort">
                <div class="form-group ">
                    <label>
                        Sort By
                        <small class="pb2 fa text-muted cursor_pointer text_decoration_dotted"
                               ng-class="sortByOrderArrowClass()"
                               ng-click="toggleSortByOrder()"
                                >

                        </small>
                    </label>
                    <select ng-model="filters.sortBy.field"
                            name="sort"
                            class="form-control"
                            >
                        <option value="difficulty">Difficulty</option>
                        <option value="title">Title</option>
                        <option value="status">Status</option>
                        <option value="created">Creation Date</option>
                    </select>
                </div>
            </div><!-- /.form-search-sort -->

            <div class="col-md-2 form-search-text hide">
                <div class="form-group">
                    <label>Search</label>
                    <input type="text" name="searchWod" placeholder="Search wod"
                           class="form-control searchWodDashboard">
                </div>
            </div><!-- /.form-search-text -->

            <div class="col-md-2 col-md-offset-2 pt20 form-add-new">
                <a class="btn btn-success pull-left tooltipGeneric addWod"
                   ng-click-load-replace="new()"
                   title="Create a new wod"
                   data-toggle="tooltip"
                   data-placement="top">
                    <span class="fa fa-plus-square"> New Wod</span>
                </a>
                <button
                        class="btn btn-default pull-right  mr10 btnChangeViewIndexWod"
                        ng-class="{iconBtnViewPreview:!isSingleColumnAndPreviewPanelVisible(), iconBtnViewThreeCol:isSingleColumnAndPreviewPanelVisible()}"
                        type="button"
                        ng-click="toggleFullScreen()"
                        >
                </button>
            </div><!-- /.form-add-new -->

        </div><!-- /.rowFilters -->

        {#  row single col wod Group and preview wod #}
        <div class="row single-column-and-preview-panel" ng-show="isSingleColumnAndPreviewPanelVisible()">

            <div class="col-md-4 single-group singleColumnWods">
                <div ng-repeat="group in data.groups">
                    <div class="dropdown">
                        <h4 data-toggle="dropdown" dropdown class="cursorPointer dropdown-toggle">
                            <span ng-bind="group.name"  class="navBarEllipsis navBarEllipsisWodGroupBtn displayInlineBlock"></span>
                            <span class="caret navBarEllipsisWodGroupCaret"></span>
                        </h4><!-- /.dropdown-togge -->
                        <ul class="dropdown-menu">
                            <li ng-click="editWodGroup(group)">
                                <span>
                                    <i class="fa fa-edit"></i>
                                    Edit
                                </span>
                            </li><!-- /li -->
                            <li class="divider"></li>
                            <li ng-click="deleteWodGroup(group)">
                                <span class="text-danger">
                                    <i class="fa fa-trash-o"></i>
                                    Delete
                                </span>
                            </li>
                        </ul><!-- /.dropdown-list -->
                    </div>
                    <my-table-wods-for-wod-screen
                            elements="group.wods"
                            parent-scope="this"
                            element-group="group"
                            select-wod="selectWod"
                            selected-wod="getSelectedWod()"
                            popover-position="top"
                            ></my-table-wods-for-wod-screen>
                    <pagination
                            ng-show="group.pagination.totalPages > 1"
                            total-items="group.pagination.totalElements"
                            items-per-page="group.pagination.numItemsPerPage"
                            boundary-links="true"
                            class="pagination-sm"
                            ng-model="group.pagination.current"
                            ng-change="paginateGroup(group, group.pagination.current)"
                            max-size="5"
                            rotate="false"
                            >
                    </pagination>
                </div>
            </div><!-- /.single-group -->

            {#col preview wod#}
            <div class="col-md-8 single-wod-preview positionRelative">
                {% include "UnirCloudBoxBundle:Ng/Template/wod:show.html.twig" %}
            </div><!-- /.single-wod-preview -->

        </div><!-- /.single-column-and-preview-panel -->

        {# row multiple wod #}
        <div class="row three-column-panel" ng-show="isThreeColumnPanelVisible()">
            <div class="col-md-4 groupColumnWods" ng-repeat="group in data.groups">
                <div class="dropdown">
                    <h4 data-toggle="dropdown" dropdown class="cursorPointer dropdown-toggle">
                        <span ng-bind="group.name" class="navBarEllipsis navBarEllipsisWodGroupBtn displayInlineBlock"></span>
                        <span class="caret navBarEllipsisWodGroupCaret"></span>
                    </h4><!-- /.dropdown-togge -->
                    <ul class="dropdown-menu">
                        <li ng-click="editWodGroup(group)">
                            <span>
                                <i class="fa fa-edit"></i>
                                Edit
                            </span>
                        </li><!-- /li -->
                        <li class="divider"></li>
                        <li ng-click="deleteWodGroup(group)">
                            <span  class="text-danger">
                                <i class="fa fa-trash-o"></i>
                                Delete
                            </span>
                        </li>
                    </ul><!-- /.dropdown-list -->
                </div>
                <my-table-wods-for-wod-screen
                        elements="group.wods"
                        parent-scope="this"
                        element-group="group"
                        select-wod="selectWod"
                        selected-wod="getSelectedWod()"
                        popover-position="{! $index == 0 ? 'top' : 'left' !}"
                        ></my-table-wods-for-wod-screen>
                <pagination
                        ng-show="group.pagination.totalPages > 1"
                        total-items="group.pagination.totalElements"
                        items-per-page="group.pagination.numItemsPerPage"
                        boundary-links="true"
                        class="pagination-sm"
                        ng-model="group.pagination.current"
                        ng-change="paginateGroup(group, group.pagination.current)"
                        max-size="5"
                        rotate="false"
                        >
                </pagination>
            </div>
        </div><!-- /.three-column-panel -->

    </div><!-- /.col-md-12 -->

    <div class="col-md-12 wod-screen-full positionRelative" ng-show="isWodFullScreenVisible()">
        {% include "UnirCloudBoxBundle:Ng/Template/wod:show.html.twig" %}
    </div><!-- /.wod-screen-full -->

</div><!-- /.row -->

<!-- delete wod modal -->
<script type="text/ng-template" id="deleteWodConfirmationBox.tpl">
    {%
    include "UnirCloudBoxBundle:Ng/Template/modals:confirmationModal.html.twig"
    with {
    'confirmationTitle': 'Do you want to delete this wod?',
    'confirmationQuestion': 'You are going to delete this wod',
    'confirmationTextOk': 'Delete',
    'confirmationOkClass': 'btn-danger',
    'submitAction': 'ok()',
    'cancelAction': 'cancel()',
    }
    %}
</script><!-- delete wod modal -->

<!-- delete wodGroups modal -->
<script type="text/ng-template" id="deleteWodGroupConfirmationBox.tpl">
    {%
    include "UnirCloudBoxBundle:Ng/Template/modals:confirmationModal.html.twig"
    with {
    'confirmationTitle': 'Do you want to delete this wod group?',
    'confirmationQuestion': 'You are going to delete this wod group',
    'confirmationTextOk': 'Delete',
    'confirmationOkClass': 'btn-danger',
    'submitAction': 'ok()',
    'cancelAction': 'cancel()',
    }
    %}
</script><!-- delete wodGroups modal -->